In [1]:
import pandas as pd
import random
from pydataquery import DataQuery
from matplotlib.colors import LinearSegmentedColormap
from xbbg import blp
import numpy as np
import pytz
import time
from datetime import datetime, timedelta
import statsmodels.api as sm
from ipywidgets import interact, Dropdown, HBox, VBox, Button, Output, Text, widgets
from IPython.display import display, clear_output
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score
import re
import scipy.stats as stats
from adjustText import adjust_text
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import sympy as sp
import itertools
import warnings
import openpyxl
import subprocess
import time
import pyautogui
import pygetwindow as gw
import pyodbc
import ast
warnings.filterwarnings("ignore")

In [2]:
try:
    df_original = pd.read_parquet("Markit CDS.parquet/")
    
    to_date = datetime.today().date()
    from_date = df_original["close_date"].iloc[-1].date()
    
    from_date_str = from_date.strftime('%m/%d/%Y')
    to_date_str = to_date.strftime('%m/%d/%Y')
    
    conn_str = (
        f'DRIVER={{SQL Server}};'
        f'SERVER=BC-ODS-P1;'
        f'DATABASE=MarkitDB;'
        f'ApplicationIntent=ReadOnly;'
        f'Trusted_Connection=Yes;'
        f'Authentication=ActiveDirectoryIntegrated;'
    )
    
    conn = pyodbc.connect(conn_str)
    
    query1 = f"""
        DECLARE @FromDate DATE = '{from_date_str}';
        DECLARE @ToDate DATE = '{to_date_str}';
        
        SELECT sc.close_date, r.ticker, c.red, c.tier, c.docclause, c.ccy, sc.tenor, sc.spread
        FROM dbo.RedEntities r
        INNER JOIN dbo.MarkitCurves c ON r.red = c.red
        INNER JOIN dbo.MarkitSpreadCurve sc ON c.curve_id = sc.curve_id
        WHERE sc.close_date >= @FromDate AND sc.close_date <= @ToDate;
    """
    
    df_new = pd.read_sql(query1, conn)
    conn.close()

    df_old = df_original[df_original["close_date"]<pd.to_datetime(df_original["close_date"].iloc[-1])]

    df1 = pd.concat([df_old, df_new])
    df1 = df1.drop_duplicates()
    df1.to_parquet("Markit CDS.parquet")
except:
    df1 = pd.read_parquet("Markit CDS.parquet")
    hello = 1

In [7]:
markit_cds = list(set(df1["red"]))
markit_df1 = df1.copy()

res_codes = { "Full Restructuring": "CR14", "Modified Restructuring": "MR14",
          "Modified-Modified Restructurin": "MM14", "No Restructuring": "XR14"}

excel_df = None
all_dq = None
all_temp_cds = None

for rating_col in["SNRFIN"]:
# for rating_col in["IG","HY","EUR IG","EUR HY","SNRFIN"]:    
    dq = pd.read_excel("CDX Members.xlsx", sheet_name=rating_col)
    dq["Restructuring"] = dq["Restructuring"].apply(lambda x: res_codes[x])
    dq = dq[dq["Actual RED Code"].isin(markit_cds)].reset_index(drop=True).copy()
    dq.rename(columns={"Actual RED Code": "red"}, inplace=True)
    dq["Eqty"] = dq["Issuer Equity"]

    all_dq = pd.concat([all_dq, dq]).drop_duplicates(keep="first").reset_index(drop=True).copy()
    
    #################################
    df1 = markit_df1.copy()
    cds_df1 = df1[(df1["tier"]=="SNRFOR") & (df1["ccy"]=="USD") & (df1["tenor"]!="Spot") &\
        (df1["docclause"].str.endswith("14"))].drop(["tier","ccy"],axis=1).copy()
    
    #################################
    cds_df = cds_df1.copy()
    
    df = pd.merge(left=cds_df, right=dq, on="red", how="inner")
    df = df[df["docclause"]==df["Restructuring"]].drop(["RED Code","Restructuring"],axis=1).reset_index(drop=True).copy()
    cds_df = df[["close_date","ticker","red","tenor","spread","Eqty","Bond Name"]].copy()
    cds_df.rename(columns={"Eqty": "Eqty Name"}, inplace=True)
    
    cds_df["tenor"] = cds_df["tenor"].apply(lambda x: eval(x.replace("y","*1").replace("m","*(1/12)")))
    cds_df = cds_df[~pd.isna(cds_df["Eqty Name"])]
    cds_df = cds_df[~(cds_df["Eqty Name"].str.startswith("#"))].reset_index(drop=True).copy()

################################################################################################################################

    #############################################################
    issuers = list(sorted(set(cds_df["Eqty Name"])))
    last_dt = max(cds_df["close_date"])
    
    all_curves = None
    
    try:
        for issuer in issuers:
            df = cds_df[cds_df["Eqty Name"]==issuer]
            df = pd.pivot_table(df, values="spread", index="close_date", columns ="tenor")
            
            if not last_dt in df.index:
                df.loc[last_dt] = [np.nan] * len(df.columns)
            df = df.sort_index().ffill().copy()
            
            df[f"{issuer}_curve"] = [np.nan] * len(df)
        
            for idx in df.index:
                # idx = df.index[0]
                curve = df.loc[[idx],:].dropna(axis=1)
                curve = curve.iloc[:,:-1].copy()
                x = list((curve.columns))
                x2 = [item**2 for item in x]
                X = np.column_stack([x, x2])
                Y = list(curve.iloc[0])
        
                if len(X) > 2:
                    model = sm.OLS(Y, sm.add_constant(X)).fit()
                    df.loc[idx,f"{issuer}_curve"] = str([model.params[0], model.params[1], model.params[2]])
                    
                    # x_pred = list(np.linspace(min(x), max(x),100))
                    # x_pred2 = [item**2 for item in x_pred]
                    # X_pred = np.column_stack([x_pred, x_pred2])
                    # y_pred = model.predict(sm.add_constant(X_pred))
                    
                    # plt.plot(x, Y)
                    # plt.plot(x_pred, y_pred)
                    # title = f"{issuer} on {str(idx.date())}"
                    # plt.title(title)
                    # # plt.savefig(f"Curve Plots v2/{title}.png")
                    # plt.show()
                    # plt.close()
                    
                else:
                    df.loc[idx,f"{issuer}_curve"] = str([np.nan, np.nan, np.nan])
        
            all_curves = pd.concat([all_curves,df.iloc[:,[-1]]],axis=1)
        # all_curves.to_excel("All CDS Curves.xlsx")
    except:
        # all_curves = pd.read_excel("All CDS Curves.xlsx",index_col=0, parse_dates=True)
        hello=1
        
    all_curves1 = all_curves.copy()
    all_curves = all_curves.T.copy()
    all_curves.index = [item.split("_")[0] for item in all_curves.index]
    all_curves.index.name = "Eqty Name"
    all_curves.columns = [f'CDS_{item.date()}' for item in all_curves.columns]
    all_curves = all_curves.reset_index(drop=False).copy()
    temp_cds = all_curves.copy()
    all_temp_cds = pd.concat([all_temp_cds, temp_cds]).drop_duplicates(keep="first").reset_index(drop=True).copy()

################################################################################################################################
    # bql_list = []
    
    # fl = [f"""=BQL("filter(bonds(['""", f""" Equity']), payment_rank=='Sr Unsecured' AND crncy=='USD')", "id_isin, id_cusip, name, maturity, amt_outstanding")"""]
    # for item in issuers:
    #     bql_list += [(fl[0] + item + " " + fl[1])]
        
    # bql_list = [item.replace("\\", "") for item in bql_list]
    
    # workbook = openpyxl.load_workbook(r"J:\\HY Basis Data.xlsx")
    # sheet = workbook.active
    
    # for row in sheet.iter_rows():
    #     for cell in row:
    #         cell.value = None
    
    # start_col = 1
    # for item in bql_list:
    #     cell = sheet.cell(row=2, column=start_col)
    #     cell.value = item
    #     start_col += 6
    # workbook.save(r"J:\\HY Basis Data.xlsx")
    
    # file_path = r"J:\\HY Basis Data.xlsx"
    # window_title = "HY Basis Data - Excel"
    
    # subprocess.Popen(['start', 'excel', file_path], shell=True)
    # time.sleep(5)
    
    # excel_windows = [window for window in gw.getWindowsWithTitle('Excel')]
    
    # for window in excel_windows:
    #     if window_title in window.title:
    #         # time.sleep(0.5)
    #         window.activate()
    #         break
    
    # time.sleep(45)
    # pyautogui.hotkey('ctrl', 's')
    # time.sleep(1)
    # pyautogui.hotkey('alt', 'f4')
    
    # # for window in excel_windows:
    # #     if window_title in window.title:
    # #         # time.sleep(0.5)
    # #         window.activate()
    # #         break
    
    # # pyautogui.hotkey('alt', 'f4')
    # time.sleep(1.5)

################################################################################################################################

    issuer_dict = dict(zip(dq["Issuer Equity"],[item.split(" ")[0] for item in dq["Bond Name"]]))
    
    ############################################################################ Now get those bonds
    
    hy = pd.read_excel("All Bonds.xlsx",sheet_name=rating_col)
    all_df = None
    
    for i in range(len(hy.columns))[::6]:
        x = hy.iloc[:,i:i+6].dropna().copy()
        if len(x) > 0:
            x.columns = ['ID','ISIN', "CUSIP", 'Name', 'Maturity','Amt']
            x["Eqty Name"] = [issuer_dict[issuers[(int(i/6))]]] * len(x)
            x["Check Col"] = x.apply(lambda row: row["Name"].split(" ")[0]==row["Eqty Name"],axis=1)
            x = x[x["Check Col"]].drop("Check Col",axis=1)
            all_df = pd.concat([all_df, x])
    
    all_df['Time'] = round(((pd.to_datetime(all_df['Maturity'])-datetime.now()).dt.days/365),2)
    all_df = all_df[all_df["Time"]>=0]
    all_df = all_df[(all_df['Time']>=4) & (all_df['Time']<=10)]
    all_df = all_df[all_df['Amt']>=300*10**6]
    all_df = all_df.reset_index(drop=True)
    excel_df = pd.concat([excel_df, all_df])
all_df = excel_df.copy()

all_df = all_df.drop_duplicates(keep="first").reset_index(drop=True).copy()
################################################################################################################################

In [18]:
# set(markit_df1["tier"])
# markit_df1[(markit_df1["tier"]=="SUBLT2") & (markit_df1["ccy"]=="USD") &\
#     (markit_df1["close_date"]=="2025-08-26") & (markit_df1["tenor"]=="5y")]
set(markit_df1[markit_df1["red"]=="DD359M"]["tier"])

{'SNRFOR', 'SUBLT2'}

In [8]:
bql_list = []

fl = [f"""=BQL("filter(bonds(['""", f""" Equity']), payment_rank=='Sr Unsecured' AND crncy=='USD')", "id_isin, id_cusip, name, maturity, amt_outstanding")"""]
for item in issuers:
    bql_list += [(fl[0] + item + " " + fl[1])]
    
bql_list = [item.replace("\\", "") for item in bql_list]

workbook = openpyxl.load_workbook(r"J:\\HY Basis Data.xlsx")
sheet = workbook.active

for row in sheet.iter_rows():
    for cell in row:
        cell.value = None

start_col = 1
for item in bql_list:
    cell = sheet.cell(row=2, column=start_col)
    cell.value = item
    start_col += 6
workbook.save(r"J:\\HY Basis Data.xlsx")

file_path = r"J:\\HY Basis Data.xlsx"
window_title = "HY Basis Data - Excel"

subprocess.Popen(['start', 'excel', file_path], shell=True)
time.sleep(5)

excel_windows = [window for window in gw.getWindowsWithTitle('Excel')]

for window in excel_windows:
    if window_title in window.title:
        # time.sleep(0.5)
        window.activate()
        break

time.sleep(45)
pyautogui.hotkey('ctrl', 's')
# time.sleep(1)
# pyautogui.hotkey('alt', 'f4')

# time.sleep(1.5)

In [21]:
hy = pd.read_excel("All Bonds.xlsx",sheet_name=rating_col)
all_df = None

for i in range(len(hy.columns))[::6]:
    x = hy.iloc[:,i:i+6].dropna().copy()
    if len(x) > 0:
        display(issuer_dict[issuers[(int(i/6))]])
        x.columns = ['ID','ISIN', "CUSIP", 'Name', 'Maturity','Amt']
        x["Eqty Name"] = [issuer_dict[issuers[(int(i/6))]]] * len(x)
        display(x)
        x["Check Col"] = x.apply(lambda row: row["Name"].split(" ")[0]==row["Eqty Name"],axis=1)
        x = x[x["Check Col"]].drop("Check Col",axis=1)
        display(x)
        all_df = pd.concat([all_df, x])

all_df['Time'] = round(((pd.to_datetime(all_df['Maturity'])-datetime.now()).dt.days/365),2)
all_df = all_df[all_df["Time"]>=0]
all_df = all_df[(all_df['Time']>=4) & (all_df['Time']<=10)]
all_df = all_df[all_df['Amt']>=300*10**6]
all_df = all_df.reset_index(drop=True)

'CAR'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YO519655 Corp,US053773BK25,053773BK2,CAR 8 ⅜ 06/15/32,2032-06-15,600000000.0,CAR
1,BO490745 Corp,US053773BG13,053773BG1,CAR 4 ¾ 04/01/28,2028-04-01,500000000.0,CAR
2,YV709555 Corp,US053773BJ51,053773BJ5,CAR 8 ¼ 01/15/30,2030-01-15,700000000.0,CAR
3,AZ237070 Corp,US053773BC09,053773BC0,CAR 5 ¾ 07/15/27,2027-07-15,346668000.0,CAR
4,ZG179997 Corp,US053773BH95,053773BH9,CAR 8 02/15/31,2031-02-15,500000000.0,CAR
5,BO137083 Corp,US053773BF30,053773BF3,CAR 5 ⅜ 03/01/29,2029-03-01,600000000.0,CAR
6,BK769667 Corp,US053773BE64,053773BE6,CAR 5 ¾ 07/15/27,2027-07-15,303332000.0,CAR

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YO519655 Corp,US053773BK25,053773BK2,CAR 8 ⅜ 06/15/32,2032-06-15,600000000.0,CAR
1,BO490745 Corp,US053773BG13,053773BG1,CAR 4 ¾ 04/01/28,2028-04-01,500000000.0,CAR
2,YV709555 Corp,US053773BJ51,053773BJ5,CAR 8 ¼ 01/15/30,2030-01-15,700000000.0,CAR
3,AZ237070 Corp,US053773BC09,053773BC0,CAR 5 ¾ 07/15/27,2027-07-15,346668000.0,CAR
4,ZG179997 Corp,US053773BH95,053773BH9,CAR 8 02/15/31,2031-02-15,500000000.0,CAR
5,BO137083 Corp,US053773BF30,053773BF3,CAR 5 ⅜ 03/01/29,2029-03-01,600000000.0,CAR
6,BK769667 Corp,US053773BE64,053773BE6,CAR 5 ¾ 07/15/27,2027-07-15,303332000.0,CAR

'WFRD'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BR928640 Corp,US947075AU14,947075AU1,WFRD 8 ⅝ 04/30/30,2030-04-30,1.600000e+09,WFRD

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BR928640 Corp,US947075AU14,947075AU1,WFRD 8 ⅝ 04/30/30,2030-04-30,1.600000e+09,WFRD

'MPW'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,AP063983 Corp,US55342UAH77,55342UAH7,MPW 5 10/15/27,2027-10-15,1.400000e+09,MPW
1,BM664362 Corp,US55342UAM62,55342UAM6,MPW 3 ½ 03/15/31,2031-03-15,1.300000e+09,MPW
2,AZ699099 Corp,US55342UAJ34,55342UAJ3,MPW 4 ⅝ 08/01/29,2029-08-01,9.000000e+08,MPW

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,AP063983 Corp,US55342UAH77,55342UAH7,MPW 5 10/15/27,2027-10-15,1.400000e+09,MPW
1,BM664362 Corp,US55342UAM62,55342UAM6,MPW 3 ½ 03/15/31,2031-03-15,1.300000e+09,MPW
2,AZ699099 Corp,US55342UAJ34,55342UAJ3,MPW 4 ⅝ 08/01/29,2029-08-01,9.000000e+08,MPW

'CHTR'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BQ843814 Corp,US1248EPCP61,1248EPCP6,CHTR 4 ¼ 01/15/34,2034-01-15,2.000000e+09,CHTR
1,BP073764 Corp,US1248EPCN14,1248EPCN1,CHTR 4 ½ 05/01/32,2032-05-01,2.893650e+09,CHTR
2,BP159025 Corp,US1248EPCL57,1248EPCL5,CHTR 4 ½ 06/01/33,2033-06-01,1.750000e+09,CHTR
3,AM195794 Corp,US1248EPBT92,1248EPBT9,CHTR 5 ⅛ 05/01/27,2027-05-01,3.250000e+09,CHTR
4,BT521156 Corp,US1248EPCQ45,1248EPCQ4,CHTR 4 ¾ 02/01/32,2032-02-01,1.200000e+09,CHTR
5,BK404815 Corp,US1248EPCK74,1248EPCK7,CHTR 4 ¼ 02/01/31,2031-02-01,3.000000e+09,CHTR
6,AO635535 Corp,US1248EPBX05,1248EPBX0,CHTR 5 02/01/28,2028-02-01,2.500000e+09,CHTR
7,ZP852875 Corp,US1248EPCE15,1248EPCE1,CHTR 4 ½ 08/15/30,2030-08-15,2.750000e+09,CHTR
8,BY278359 Corp,US1248EPCS01,1248EPCS0,CHTR 6 ⅜ 09/01/29,2029-09-01,1.500000e+09,CHTR
9,ZR665583 Corp,US1248EPCD32,1248EPCD3,CHTR 4 ¾ 03/01/30,2030-03-01,3.050000e+09,CHTR
10,ZM756056 Corp,US1248EPCT83,1248EPCT8,CHTR 7 ⅜ 03/01/31,2031-03-01,1.100000e+09,CHTR
11,JK735139 Corp,US1248EPBR37,1248EPBR3,CHTR 5 ½ 05/01/26,2026-05-01,7.500000e+08,CHTR
12,ZS572814 Corp,US1248EPCB75,1248EPCB7,CHTR 5 ⅜ 06/01/29,2029-06-01,1.500000e+09,CHTR
13,BG562373 Corp,US1248EPCJ02,1248EPCJ0,CHTR 4 ½ 05/01/32,2032-05-01,6.350000e+06,CHTR

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BQ843814 Corp,US1248EPCP61,1248EPCP6,CHTR 4 ¼ 01/15/34,2034-01-15,2.000000e+09,CHTR
1,BP073764 Corp,US1248EPCN14,1248EPCN1,CHTR 4 ½ 05/01/32,2032-05-01,2.893650e+09,CHTR
2,BP159025 Corp,US1248EPCL57,1248EPCL5,CHTR 4 ½ 06/01/33,2033-06-01,1.750000e+09,CHTR
3,AM195794 Corp,US1248EPBT92,1248EPBT9,CHTR 5 ⅛ 05/01/27,2027-05-01,3.250000e+09,CHTR
4,BT521156 Corp,US1248EPCQ45,1248EPCQ4,CHTR 4 ¾ 02/01/32,2032-02-01,1.200000e+09,CHTR
5,BK404815 Corp,US1248EPCK74,1248EPCK7,CHTR 4 ¼ 02/01/31,2031-02-01,3.000000e+09,CHTR
6,AO635535 Corp,US1248EPBX05,1248EPBX0,CHTR 5 02/01/28,2028-02-01,2.500000e+09,CHTR
7,ZP852875 Corp,US1248EPCE15,1248EPCE1,CHTR 4 ½ 08/15/30,2030-08-15,2.750000e+09,CHTR
8,BY278359 Corp,US1248EPCS01,1248EPCS0,CHTR 6 ⅜ 09/01/29,2029-09-01,1.500000e+09,CHTR
9,ZR665583 Corp,US1248EPCD32,1248EPCD3,CHTR 4 ¾ 03/01/30,2030-03-01,3.050000e+09,CHTR
10,ZM756056 Corp,US1248EPCT83,1248EPCT8,CHTR 7 ⅜ 03/01/31,2031-03-01,1.100000e+09,CHTR
11,JK735139 Corp,US1248EPBR37,1248EPBR3,CHTR 5 ½ 05/01/26,2026-05-01,7.500000e+08,CHTR
12,ZS572814 Corp,US1248EPCB75,1248EPCB7,CHTR 5 ⅜ 06/01/29,2029-06-01,1.500000e+09,CHTR
13,BG562373 Corp,US1248EPCJ02,1248EPCJ0,CHTR 4 ½ 05/01/32,2032-05-01,6.350000e+06,CHTR

'GNW'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ED503824 Corp,US37247DAB29,37247DAB2,GNW 6 ½ 06/15/34,2034-06-15,244072000.0,GNW

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ED503824 Corp,US37247DAB29,37247DAB2,GNW 6 ½ 06/15/34,2034-06-15,244072000.0,GNW

'HOUS'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BN368690 Corp,US75606DAL55,75606DAL5,HOUS 5 ¾ 01/15/29,2029-01-15,558983000.0,HOUS
1,BP818842 Corp,US75606DAP69,75606DAP6,HOUS 0 ¼ 06/15/26,2026-06-15,57946000.0,HOUS
2,BT344198 Corp,US75606DAQ43,75606DAQ4,HOUS 5 ¼ 04/15/30,2030-04-15,448933000.0,HOUS

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BN368690 Corp,US75606DAL55,75606DAL5,HOUS 5 ¾ 01/15/29,2029-01-15,558983000.0,HOUS
1,BP818842 Corp,US75606DAP69,75606DAP6,HOUS 0 ¼ 06/15/26,2026-06-15,57946000.0,HOUS
2,BT344198 Corp,US75606DAQ43,75606DAQ4,HOUS 5 ¼ 04/15/30,2030-04-15,448933000.0,HOUS

'SIRI'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BQ840199 Corp,US82967NBL10,82967NBL1,SIRI 3 ⅛ 09/01/26,2026-09-01,1.000000e+09,SIRI
1,BQ840200 Corp,US82967NBM92,82967NBM9,SIRI 3 ⅞ 09/01/31,2031-09-01,1.500000e+09,SIRI
2,BP967864 Corp,US82967NBJ63,82967NBJ6,SIRI 4 07/15/28,2028-07-15,2.000000e+09,SIRI
3,BJ928949 Corp,US82967NBG25,82967NBG2,SIRI 4 ⅛ 07/01/30,2030-07-01,1.500000e+09,SIRI
4,AO119744 Corp,US82967NBA54,82967NBA5,SIRI 5 08/01/27,2027-08-01,1.500000e+09,SIRI
5,AZ024645 Corp,US82967NBC11,82967NBC1,SIRI 5 ½ 07/01/29,2029-07-01,1.250000e+09,SIRI

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BQ840199 Corp,US82967NBL10,82967NBL1,SIRI 3 ⅛ 09/01/26,2026-09-01,1.000000e+09,SIRI
1,BQ840200 Corp,US82967NBM92,82967NBM9,SIRI 3 ⅞ 09/01/31,2031-09-01,1.500000e+09,SIRI
2,BP967864 Corp,US82967NBJ63,82967NBJ6,SIRI 4 07/15/28,2028-07-15,2.000000e+09,SIRI
3,BJ928949 Corp,US82967NBG25,82967NBG2,SIRI 4 ⅛ 07/01/30,2030-07-01,1.500000e+09,SIRI
4,AO119744 Corp,US82967NBA54,82967NBA5,SIRI 5 08/01/27,2027-08-01,1.500000e+09,SIRI
5,AZ024645 Corp,US82967NBC11,82967NBC1,SIRI 5 ½ 07/01/29,2029-07-01,1.250000e+09,SIRI

'CYH'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ZQ635622 Corp,US12543DBE94,12543DBE9,CYH 6 ⅞ 04/01/28,2028-04-01,41782000.0,CYH

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ZQ635622 Corp,US12543DBE94,12543DBE9,CYH 6 ⅞ 04/01/28,2028-04-01,41782000.0,CYH

'COMM'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,AW981943 Corp,US20338QAA13,20338QAA1,COMM 8 ¼ 03/01/27,2027-03-01,866929000.0,COMM
1,BK188051 Corp,US203372AV94,203372AV9,COMM 7 ⅛ 07/01/28,2028-07-01,641580000.0,COMM

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,AW981943 Corp,US20338QAA13,20338QAA1,COMM 8 ¼ 03/01/27,2027-03-01,866929000.0,COMM
1,BK188051 Corp,US203372AV94,203372AV9,COMM 7 ⅛ 07/01/28,2028-07-01,641580000.0,COMM

'CSCHLD'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ZF436545 Corp,US126307BN62,126307BN6,CSCHLD 11 ¾ 01/31/29,2029-01-31,2.050000e+09,CSCHLD
1,AV137092 Corp,US126307AY37,126307AY3,CSCHLD 7 ½ 04/01/28,2028-04-01,1.045882e+09,CSCHLD
2,BJ819175 Corp,US126307BD80,126307BD8,CSCHLD 4 ⅝ 12/01/30,2030-12-01,2.325000e+09,CSCHLD
3,AW913901 Corp,US126307AZ02,126307AZ0,CSCHLD 6 ½ 02/01/29,2029-02-01,1.750000e+09,CSCHLD
4,AZ434652 Corp,US126307BA42,126307BA4,CSCHLD 5 ¾ 01/15/30,2030-01-15,2.250000e+09,CSCHLD
5,ZK271952 Corp,US126307BM89,126307BM8,CSCHLD 11 ¼ 05/15/28,2028-05-15,1.000000e+09,CSCHLD
6,QZ513404 Corp,US126307AQ03,126307AQ0,CSCHLD 5 ½ 04/15/27,2027-04-15,1.310000e+09,CSCHLD
7,BP327733 Corp,US126307BH94,126307BH9,CSCHLD 4 ½ 11/15/31,2031-11-15,1.500000e+09,CSCHLD
8,AQ709524 Corp,US126307AS68,126307AS6,CSCHLD 5 ⅜ 02/01/28,2028-02-01,1.000000e+09,CSCHLD
9,BJ816239 Corp,US126307BB25,126307BB2,CSCHLD 4 ⅛ 12/01/30,2030-12-01,1.100000e+09,CSCHLD
10,BK766503 Corp,US126307BF39,126307BF3,CSCHLD 3 ⅜ 02/15/31,2031-02-15,1.000000e+09,CSCHLD
11,BP331373 Corp,US126307BK24,126307BK2,CSCHLD 5 11/15/31,2031-11-15,5.000000e+08,CSCHLD

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ZF436545 Corp,US126307BN62,126307BN6,CSCHLD 11 ¾ 01/31/29,2029-01-31,2.050000e+09,CSCHLD
1,AV137092 Corp,US126307AY37,126307AY3,CSCHLD 7 ½ 04/01/28,2028-04-01,1.045882e+09,CSCHLD
2,BJ819175 Corp,US126307BD80,126307BD8,CSCHLD 4 ⅝ 12/01/30,2030-12-01,2.325000e+09,CSCHLD
3,AW913901 Corp,US126307AZ02,126307AZ0,CSCHLD 6 ½ 02/01/29,2029-02-01,1.750000e+09,CSCHLD
4,AZ434652 Corp,US126307BA42,126307BA4,CSCHLD 5 ¾ 01/15/30,2030-01-15,2.250000e+09,CSCHLD
5,ZK271952 Corp,US126307BM89,126307BM8,CSCHLD 11 ¼ 05/15/28,2028-05-15,1.000000e+09,CSCHLD
6,QZ513404 Corp,US126307AQ03,126307AQ0,CSCHLD 5 ½ 04/15/27,2027-04-15,1.310000e+09,CSCHLD
7,BP327733 Corp,US126307BH94,126307BH9,CSCHLD 4 ½ 11/15/31,2031-11-15,1.500000e+09,CSCHLD
8,AQ709524 Corp,US126307AS68,126307AS6,CSCHLD 5 ⅜ 02/01/28,2028-02-01,1.000000e+09,CSCHLD
9,BJ816239 Corp,US126307BB25,126307BB2,CSCHLD 4 ⅛ 12/01/30,2030-12-01,1.100000e+09,CSCHLD
10,BK766503 Corp,US126307BF39,126307BF3,CSCHLD 3 ⅜ 02/15/31,2031-02-15,1.000000e+09,CSCHLD
11,BP331373 Corp,US126307BK24,126307BK2,CSCHLD 5 11/15/31,2031-11-15,5.000000e+08,CSCHLD

'RGCARE'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YX014619 Corp,US53219LAX73,53219LAX7,RGCARE 10 06/01/32,2032-06-01,800000000.0,RGCARE
1,BM830989 Corp,US53219LAU35,53219LAU3,RGCARE 5 ⅜ 01/15/29,2029-01-15,500000000.0,RGCARE

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YX014619 Corp,US53219LAX73,53219LAX7,RGCARE 10 06/01/32,2032-06-01,800000000.0,RGCARE
1,BM830989 Corp,US53219LAU35,53219LAU3,RGCARE 5 ⅜ 01/15/29,2029-01-15,500000000.0,RGCARE

'TEVA'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,LW925840 Corp,US88167AAE10,88167AAE1,TEVA 3.15 10/01/26,2026-10-01,1.798479e+09,TEVA
1,LW925856 Corp,US88167AAF84,88167AAF8,TEVA 4.1 10/01/46,2046-10-01,2.000000e+09,TEVA
2,BS175945 Corp,US88167AAQ40,88167AAQ4,TEVA 5 ⅛ 05/09/29,2029-05-09,1.000000e+09,TEVA
3,AS323120 Corp,US88167AAK79,88167AAK7,TEVA 6 ¾ 03/01/28,2028-03-01,1.249745e+09,TEVA
4,YO673227 Corp,US88167AAT88,88167AAT8,TEVA 6 12/01/32,2032-12-01,5.000000e+08,TEVA
5,ZL318951 Corp,US88167AAR23,88167AAR2,TEVA 8 ⅛ 09/15/31,2031-09-15,5.000000e+08,TEVA
6,BS177539 Corp,US88167AAP66,88167AAP6,TEVA 4 ¾ 05/09/27,2027-05-09,6.491230e+08,TEVA
7,ZL318948 Corp,US88167AAS06,88167AAS0,TEVA 7 ⅞ 09/15/29,2029-09-15,3.976840e+08,TEVA
8,AR534755 Corp,US88167AAJ07,88167AAJ0,TEVA 6 ¾ 03/01/28,2028-03-01,2.550000e+05,TEVA

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,LW925840 Corp,US88167AAE10,88167AAE1,TEVA 3.15 10/01/26,2026-10-01,1.798479e+09,TEVA
1,LW925856 Corp,US88167AAF84,88167AAF8,TEVA 4.1 10/01/46,2046-10-01,2.000000e+09,TEVA
2,BS175945 Corp,US88167AAQ40,88167AAQ4,TEVA 5 ⅛ 05/09/29,2029-05-09,1.000000e+09,TEVA
3,AS323120 Corp,US88167AAK79,88167AAK7,TEVA 6 ¾ 03/01/28,2028-03-01,1.249745e+09,TEVA
4,YO673227 Corp,US88167AAT88,88167AAT8,TEVA 6 12/01/32,2032-12-01,5.000000e+08,TEVA
5,ZL318951 Corp,US88167AAR23,88167AAR2,TEVA 8 ⅛ 09/15/31,2031-09-15,5.000000e+08,TEVA
6,BS177539 Corp,US88167AAP66,88167AAP6,TEVA 4 ¾ 05/09/27,2027-05-09,6.491230e+08,TEVA
7,ZL318948 Corp,US88167AAS06,88167AAS0,TEVA 7 ⅞ 09/15/29,2029-09-15,3.976840e+08,TEVA
8,AR534755 Corp,US88167AAJ07,88167AAJ0,TEVA 6 ¾ 03/01/28,2028-03-01,2.550000e+05,TEVA

'HLT'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YN932686 Corp,US432833AS06,432833AS0,HLT 5 ¾ 09/15/33,2033-09-15,1.000000e+09,HLT
1,ZR961974 Corp,US432833AF84,432833AF8,HLT 4 ⅞ 01/15/30,2030-01-15,1.000000e+09,HLT
2,YV626756 Corp,US432833AR23,432833AR2,HLT 5 ⅞ 03/15/33,2033-03-15,1.000000e+09,HLT
3,BN622132 Corp,US432833AN19,432833AN1,HLT 3 ⅝ 02/15/32,2032-02-15,1.500000e+09,HLT
4,BM585214 Corp,US432833AL52,432833AL5,HLT 4 05/01/31,2031-05-01,1.100000e+09,HLT
5,ZD972583 Corp,US432833AQ40,432833AQ4,HLT 6 ⅛ 04/01/32,2032-04-01,4.500000e+08,HLT
6,ZD972578 Corp,US432833AP66,432833AP6,HLT 5 ⅞ 04/01/29,2029-04-01,5.500000e+08,HLT
7,BH940919 Corp,US432833AH41,432833AH4,HLT 5 ¾ 05/01/28,2028-05-01,5.000000e+08,HLT
8,BM585212 Corp,US432833AJ07,432833AJ0,HLT 3 ¾ 05/01/29,2029-05-01,8.000000e+08,HLT

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YN932686 Corp,US432833AS06,432833AS0,HLT 5 ¾ 09/15/33,2033-09-15,1.000000e+09,HLT
1,ZR961974 Corp,US432833AF84,432833AF8,HLT 4 ⅞ 01/15/30,2030-01-15,1.000000e+09,HLT
2,YV626756 Corp,US432833AR23,432833AR2,HLT 5 ⅞ 03/15/33,2033-03-15,1.000000e+09,HLT
3,BN622132 Corp,US432833AN19,432833AN1,HLT 3 ⅝ 02/15/32,2032-02-15,1.500000e+09,HLT
4,BM585214 Corp,US432833AL52,432833AL5,HLT 4 05/01/31,2031-05-01,1.100000e+09,HLT
5,ZD972583 Corp,US432833AQ40,432833AQ4,HLT 6 ⅛ 04/01/32,2032-04-01,4.500000e+08,HLT
6,ZD972578 Corp,US432833AP66,432833AP6,HLT 5 ⅞ 04/01/29,2029-04-01,5.500000e+08,HLT
7,BH940919 Corp,US432833AH41,432833AH4,HLT 5 ¾ 05/01/28,2028-05-01,5.000000e+08,HLT
8,BM585212 Corp,US432833AJ07,432833AJ0,HLT 3 ¾ 05/01/29,2029-05-01,8.000000e+08,HLT

'VST'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,AT957644 Corp,US92840VAA08,92840VAA0,VST 5 ½ 09/01/26,2026-09-01,1.000000e+09,VST
1,AZ054843 Corp,US92840VAF94,92840VAF9,VST 5 07/31/27,2027-07-31,1.300000e+09,VST
2,AW856649 Corp,US92840VAB80,92840VAB8,VST 5 ⅝ 02/15/27,2027-02-15,1.300000e+09,VST
3,ZI868209 Corp,US92840VAP76,92840VAP7,VST 7 ¾ 10/15/31,2031-10-15,1.450000e+09,VST
4,ZB326486 Corp,US92840VAR33,92840VAR3,VST 6 ⅞ 04/15/32,2032-04-15,1.000000e+09,VST
5,BP412676 Corp,US92840VAH50,92840VAH5,VST 4 ⅜ 05/01/29,2029-05-01,1.250000e+09,VST

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,AT957644 Corp,US92840VAA08,92840VAA0,VST 5 ½ 09/01/26,2026-09-01,1.000000e+09,VST
1,AZ054843 Corp,US92840VAF94,92840VAF9,VST 5 07/31/27,2027-07-31,1.300000e+09,VST
2,AW856649 Corp,US92840VAB80,92840VAB8,VST 5 ⅝ 02/15/27,2027-02-15,1.300000e+09,VST
3,ZI868209 Corp,US92840VAP76,92840VAP7,VST 7 ¾ 10/15/31,2031-10-15,1.450000e+09,VST
4,ZB326486 Corp,US92840VAR33,92840VAR3,VST 6 ⅞ 04/15/32,2032-04-15,1.000000e+09,VST
5,BP412676 Corp,US92840VAH50,92840VAH5,VST 4 ⅜ 05/01/29,2029-05-01,1.250000e+09,VST

'ALIANT'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YV751789 Corp,US01883LAH69,01883LAH6,ALIANT 7 ⅜ 10/01/32,2032-10-01,7.000000e+08,ALIANT
1,ZR895639 Corp,US01883LAA17,01883LAA1,ALIANT 6 ¾ 10/15/27,2027-10-15,1.340000e+09,ALIANT
2,BS035750 Corp,US01883LAD55,01883LAD5,ALIANT 5 ⅞ 11/01/29,2029-11-01,4.500000e+08,ALIANT

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YV751789 Corp,US01883LAH69,01883LAH6,ALIANT 7 ⅜ 10/01/32,2032-10-01,7.000000e+08,ALIANT
1,ZR895639 Corp,US01883LAA17,01883LAA1,ALIANT 6 ¾ 10/15/27,2027-10-15,1.340000e+09,ALIANT
2,BS035750 Corp,US01883LAD55,01883LAD5,ALIANT 5 ⅞ 11/01/29,2029-11-01,4.500000e+08,ALIANT

'HOV'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,AR306314 Corp,US442488CH38,442488CH3,HOV 5 02/01/40,2040-02-01,24968000.0,HOV

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,AR306314 Corp,US442488CH38,442488CH3,HOV 5 02/01/40,2040-02-01,24968000.0,HOV

'AXL'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BR042576 Corp,US02406PBB58,02406PBB5,AXL 5 10/01/29,2029-10-01,600000000.0,AXL
1,BJ959607 Corp,US02406PBA75,02406PBA7,AXL 6 ⅞ 07/01/28,2028-07-01,400000000.0,AXL
2,AQ657786 Corp,US02406PAU49,02406PAU4,AXL 6 ½ 04/01/27,2027-04-01,495980000.0,AXL
3,AM780712 Corp,US02406PAS92,02406PAS9,AXL 6 ½ 04/01/27,2027-04-01,4020000.0,AXL

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BR042576 Corp,US02406PBB58,02406PBB5,AXL 5 10/01/29,2029-10-01,600000000.0,AXL
1,BJ959607 Corp,US02406PBA75,02406PBA7,AXL 6 ⅞ 07/01/28,2028-07-01,400000000.0,AXL
2,AQ657786 Corp,US02406PAU49,02406PAU4,AXL 6 ½ 04/01/27,2027-04-01,495980000.0,AXL
3,AM780712 Corp,US02406PAS92,02406PAS9,AXL 6 ½ 04/01/27,2027-04-01,4020000.0,AXL

'URI'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ZD539697 Corp,US911365BR47,911365BR4,URI 6 ⅛ 03/15/34,2034-03-15,1.100000e+09,URI
1,QZ981658 Corp,US911365BF09,911365BF0,URI 5 ½ 05/15/27,2027-05-15,5.000000e+08,URI
2,AO563305 Corp,US911365BG81,911365BG8,URI 4 ⅞ 01/15/28,2028-01-15,1.669241e+09,URI
3,BK746243 Corp,US911363AM11,911363AM1,URI 3 ⅞ 02/15/31,2031-02-15,1.100000e+09,URI
4,ZS368164 Corp,US911365BL76,911365BL7,URI 5 ¼ 01/15/30,2030-01-15,7.500000e+08,URI
5,ZP995826 Corp,US911365BN33,911365BN3,URI 4 07/15/30,2030-07-15,7.500000e+08,URI
6,BQ817745 Corp,US911365BP80,911365BP8,URI 3 ¾ 01/15/32,2032-01-15,7.500000e+08,URI
7,AP085425 Corp,US911365BJ21,911365BJ2,URI 4 ⅞ 01/15/28,2028-01-15,5.759000e+06,URI

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ZD539697 Corp,US911365BR47,911365BR4,URI 6 ⅛ 03/15/34,2034-03-15,1.100000e+09,URI
1,QZ981658 Corp,US911365BF09,911365BF0,URI 5 ½ 05/15/27,2027-05-15,5.000000e+08,URI
2,AO563305 Corp,US911365BG81,911365BG8,URI 4 ⅞ 01/15/28,2028-01-15,1.669241e+09,URI
3,BK746243 Corp,US911363AM11,911363AM1,URI 3 ⅞ 02/15/31,2031-02-15,1.100000e+09,URI
4,ZS368164 Corp,US911365BL76,911365BL7,URI 5 ¼ 01/15/30,2030-01-15,7.500000e+08,URI
5,ZP995826 Corp,US911365BN33,911365BN3,URI 4 07/15/30,2030-07-15,7.500000e+08,URI
6,BQ817745 Corp,US911365BP80,911365BP8,URI 3 ¾ 01/15/32,2032-01-15,7.500000e+08,URI
7,AP085425 Corp,US911365BJ21,911365BJ2,URI 4 ⅞ 01/15/28,2028-01-15,5.759000e+06,URI

'SABHLD'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ZD466569 Corp,US78573NAK81,78573NAK8,SABHLD 7.32 08/01/26,2026-08-01,150000000.0,SABHLD

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ZD466569 Corp,US78573NAK81,78573NAK8,SABHLD 7.32 08/01/26,2026-08-01,150000000.0,SABHLD

'NCLH'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YS462130 Corp,US62886HBR12,62886HBR1,NCLH 6 ¾ 02/01/32,2032-02-01,1.800000e+09,NCLH
1,BS497002 Corp,US62886HBD26,62886HBD2,NCLH 1 ⅛ 02/15/27,2027-02-15,1.150000e+09,NCLH
2,BU453113 Corp,US62886HBK68,62886HBK6,NCLH 2 ½ 02/15/27,2027-02-15,4.731750e+08,NCLH
3,BU453315 Corp,US62886HBG56,62886HBG5,NCLH 7 ¾ 02/15/29,2029-02-15,6.000000e+08,NCLH
4,YQ986755 Corp,US62886HBS94,62886HBS9,NCLH 0 ⅞ 04/15/30,2030-04-15,3.538760e+08,NCLH
5,YV566877 Corp,US62886HBP55,62886HBP5,NCLH 6 ¼ 03/01/30,2030-03-01,3.150000e+08,NCLH
6,BN085798 Corp,US62886HBA86,62886HBA8,NCLH 5 ⅞ 03/15/26,2026-03-15,2.250000e+08,NCLH

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YS462130 Corp,US62886HBR12,62886HBR1,NCLH 6 ¾ 02/01/32,2032-02-01,1.800000e+09,NCLH
1,BS497002 Corp,US62886HBD26,62886HBD2,NCLH 1 ⅛ 02/15/27,2027-02-15,1.150000e+09,NCLH
2,BU453113 Corp,US62886HBK68,62886HBK6,NCLH 2 ½ 02/15/27,2027-02-15,4.731750e+08,NCLH
3,BU453315 Corp,US62886HBG56,62886HBG5,NCLH 7 ¾ 02/15/29,2029-02-15,6.000000e+08,NCLH
4,YQ986755 Corp,US62886HBS94,62886HBS9,NCLH 0 ⅞ 04/15/30,2030-04-15,3.538760e+08,NCLH
5,YV566877 Corp,US62886HBP55,62886HBP5,NCLH 6 ¼ 03/01/30,2030-03-01,3.150000e+08,NCLH
6,BN085798 Corp,US62886HBA86,62886HBA8,NCLH 5 ⅞ 03/15/26,2026-03-15,2.250000e+08,NCLH

'M'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YM359630 Corp,US55617LAS16,55617LAS1,M 7 ⅜ 08/01/33,2033-08-01,500000000.0,M
1,DD116079 Corp,US55616XAC11,55616XAC1,M 7 02/15/28,2028-02-15,93947000.0,M
2,EI954290 Corp,US55616XAG25,55616XAG2,M 5 ⅛ 01/15/42,2042-01-15,250000000.0,M
3,EK603472 Corp,US55616XAM92,55616XAM9,M 4 ½ 12/15/34,2034-12-15,366620000.0,M
4,EG250908 Corp,US314275AC25,314275AC2,M 6 ⅜ 03/15/37,2037-03-15,192532000.0,M
5,EC148864 Corp,US31410HAQ48,31410HAQ4,M 6.9 04/01/29,2029-04-01,71998000.0,M
6,BU929541 Corp,US55617LAQ59,55617LAQ5,M 5 ⅞ 03/15/30,2030-03-15,201117000.0,M
7,BU929546 Corp,US55617LAR33,55617LAR3,M 6 ⅛ 03/15/32,2032-03-15,425000000.0,M
8,EJ444937 Corp,US55616XAJ63,55616XAJ6,M 4.3 02/15/43,2043-02-15,250000000.0,M
9,ED748012 Corp,US577778CE17,577778CE1,M 6.7 07/15/34,2034-07-15,18105000.0,M
10,EC047713 Corp,US577778BH56,577778BH5,M 6.7 09/15/28,2028-09-15,28173000.0,M
11,EC504304 Corp,US577778BQ55,577778BQ5,M 6.9 01/15/32,2032-01-15,11707000.0,M
12,BK680696 Corp,US55617LAL62,55617LAL6,M 6.7 07/15/34,2034-07-15,180845000.0,M
13,DD111928 Corp,US55616XAB38,55616XAB3,M 6.79 07/15/27,2027-07-15,34003000.0,M
14,EC258705 Corp,US577778BL68,577778BL6,M 8 ¾ 05/15/29,2029-05-15,151000.0,M
15,EC232632 Corp,US577778BK85,577778BK8,M 7 ⅞ 03/01/30,2030-03-01,4958000.0,M
16,BK678699 Corp,US55617LAG77,55617LAG7,M 7 ⅞ 03/01/30,2030-03-01,4550000.0,M
17,BK678707 Corp,US55617LAJ17,55617LAJ1,M 6.9 01/15/32,2032-01-15,1766000.0,M

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YM359630 Corp,US55617LAS16,55617LAS1,M 7 ⅜ 08/01/33,2033-08-01,500000000.0,M
1,DD116079 Corp,US55616XAC11,55616XAC1,M 7 02/15/28,2028-02-15,93947000.0,M
2,EI954290 Corp,US55616XAG25,55616XAG2,M 5 ⅛ 01/15/42,2042-01-15,250000000.0,M
3,EK603472 Corp,US55616XAM92,55616XAM9,M 4 ½ 12/15/34,2034-12-15,366620000.0,M
4,EG250908 Corp,US314275AC25,314275AC2,M 6 ⅜ 03/15/37,2037-03-15,192532000.0,M
5,EC148864 Corp,US31410HAQ48,31410HAQ4,M 6.9 04/01/29,2029-04-01,71998000.0,M
6,BU929541 Corp,US55617LAQ59,55617LAQ5,M 5 ⅞ 03/15/30,2030-03-15,201117000.0,M
7,BU929546 Corp,US55617LAR33,55617LAR3,M 6 ⅛ 03/15/32,2032-03-15,425000000.0,M
8,EJ444937 Corp,US55616XAJ63,55616XAJ6,M 4.3 02/15/43,2043-02-15,250000000.0,M
9,ED748012 Corp,US577778CE17,577778CE1,M 6.7 07/15/34,2034-07-15,18105000.0,M
10,EC047713 Corp,US577778BH56,577778BH5,M 6.7 09/15/28,2028-09-15,28173000.0,M
11,EC504304 Corp,US577778BQ55,577778BQ5,M 6.9 01/15/32,2032-01-15,11707000.0,M
12,BK680696 Corp,US55617LAL62,55617LAL6,M 6.7 07/15/34,2034-07-15,180845000.0,M
13,DD111928 Corp,US55616XAB38,55616XAB3,M 6.79 07/15/27,2027-07-15,34003000.0,M
14,EC258705 Corp,US577778BL68,577778BL6,M 8 ¾ 05/15/29,2029-05-15,151000.0,M
15,EC232632 Corp,US577778BK85,577778BK8,M 7 ⅞ 03/01/30,2030-03-01,4958000.0,M
16,BK678699 Corp,US55617LAG77,55617LAG7,M 7 ⅞ 03/01/30,2030-03-01,4550000.0,M
17,BK678707 Corp,US55617LAJ17,55617LAJ1,M 6.9 01/15/32,2032-01-15,1766000.0,M

'FYBR'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,DD115922 Corp,US362333AH94,362333AH9,FYBR 6.86 02/01/28,2028-02-01,300000000.0,FYBR
1,EC019458 Corp,US362333AJ50,362333AJ5,FYBR 6.86 02/01/28,2028-02-01,24000000.0,FYBR

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,DD115922 Corp,US362333AH94,362333AH9,FYBR 6.86 02/01/28,2028-02-01,300000000.0,FYBR
1,EC019458 Corp,US362333AJ50,362333AJ5,FYBR 6.86 02/01/28,2028-02-01,24000000.0,FYBR

'OGN'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BO941175 Corp,US68622TAB70,68622TAB7,OGN 5 ⅛ 04/30/31,2031-04-30,2.000000e+09,OGN
1,ZB951253 Corp,US68622FAB76,68622FAB7,OGN 7 ⅞ 05/15/34,2034-05-15,5.000000e+08,OGN

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BO941175 Corp,US68622TAB70,68622TAB7,OGN 5 ⅛ 04/30/31,2031-04-30,2.000000e+09,OGN
1,ZB951253 Corp,US68622FAB76,68622FAB7,OGN 7 ⅞ 05/15/34,2034-05-15,5.000000e+08,OGN

'MEDIND'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BR651160 Corp,US62482BAB80,62482BAB8,MEDIND 5 ¼ 10/01/29,2029-10-01,2.500000e+09,MEDIND

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BR651160 Corp,US62482BAB80,62482BAB8,MEDIND 5 ¼ 10/01/29,2029-10-01,2.500000e+09,MEDIND

'ARMK'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,AQ729493 Corp,US038522AQ17,038522AQ1,ARMK 5 02/01/28,2028-02-01,1.150000e+09,ARMK

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,AQ729493 Corp,US038522AQ17,038522AQ1,ARMK 5 02/01/28,2028-02-01,1.150000e+09,ARMK

'LINTA'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,EC265270 Corp,US530715AJ01,530715AJ0,LINTA 8 ¼ 02/01/30,2030-02-01,5.044760e+08,LINTA
1,EC218601 Corp,US530715AD31,530715AD3,LINTA 8 ½ 07/15/29,2029-07-15,2.872420e+08,LINTA
2,EC270377 Corp,US530715AL56,530715AL5,LINTA 3 ¾ 02/15/30,2030-02-15,4.268612e+08,LINTA
3,EC228615 Corp,US530715AG61,530715AG6,LINTA 4 11/15/29,2029-11-15,4.221404e+08,LINTA
4,EC225108 Corp,US530715AK73,530715AK7,LINTA 3 ¾ 02/15/30,2030-02-15,4.268612e+08,LINTA
5,EC198064 Corp,US530715AF88,530715AF8,LINTA 4 11/15/29,2029-11-15,4.221404e+08,LINTA
6,EJ620455 Corp,US530610AC87,530610AC8,LINTA 0 ¾ 03/30/43,2043-03-30,8.399239e+04,LINTA

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,EC265270 Corp,US530715AJ01,530715AJ0,LINTA 8 ¼ 02/01/30,2030-02-01,5.044760e+08,LINTA
1,EC218601 Corp,US530715AD31,530715AD3,LINTA 8 ½ 07/15/29,2029-07-15,2.872420e+08,LINTA
2,EC270377 Corp,US530715AL56,530715AL5,LINTA 3 ¾ 02/15/30,2030-02-15,4.268612e+08,LINTA
3,EC228615 Corp,US530715AG61,530715AG6,LINTA 4 11/15/29,2029-11-15,4.221404e+08,LINTA
4,EC225108 Corp,US530715AK73,530715AK7,LINTA 3 ¾ 02/15/30,2030-02-15,4.268612e+08,LINTA
5,EC198064 Corp,US530715AF88,530715AF8,LINTA 4 11/15/29,2029-11-15,4.221404e+08,LINTA
6,EJ620455 Corp,US530610AC87,530610AC8,LINTA 0 ¾ 03/30/43,2043-03-30,8.399239e+04,LINTA

'IHRT'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ZS463498 Corp,US45174HBD89,45174HBD8,IHRT 8 ⅜ 05/01/27,2027-05-01,72387976.0,IHRT

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ZS463498 Corp,US45174HBD89,45174HBD8,IHRT 8 ⅜ 05/01/27,2027-05-01,72387976.0,IHRT

'RIG'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,EC407334 Corp,US893830AF64,893830AF6,RIG 7 ½ 04/15/31,2031-04-15,395790000.0,RIG
1,EH111178 Corp,US893830AT68,893830AT6,RIG 6.8 03/15/38,2038-03-15,609656000.0,RIG
2,ZB403924 Corp,US893830BZ10,893830BZ1,RIG 8 ½ 05/15/31,2031-05-15,900000000.0,RIG
3,ZP363590 Corp,US893830BL24,893830BL2,RIG 8 02/01/27,2027-02-01,655132000.0,RIG
4,EI894392 Corp,US893830AZ29,893830AZ2,RIG 7.35 12/15/41,2041-12-15,177248000.0,RIG
5,ZB403918 Corp,US893830BY45,893830BY4,RIG 8 ¼ 05/15/29,2029-05-15,900000000.0,RIG
6,DD117603 Corp,US379352AL15,379352AL1,GLBMRN 7 06/01/28,2028-06-01,261217000.0,RIG
7,DD110847 Corp,US893817AB24,893817AB2,RIG 8 04/15/27,2027-04-15,21855000.0,RIG
8,BO346425 Corp,US893830BT59,893830BT5,RIG 4 12/15/25,2025-12-15,37291000.0,RIG
9,DD110995 Corp,US893817AA41,893817AA4,RIG 7.45 04/15/27,2027-04-15,52277000.0,RIG
10,BZ453903 Corp,US893830BU23,893830BU2,RIG 4 ⅝ 09/30/29,2029-09-30,258989000.0,RIG

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,EC407334 Corp,US893830AF64,893830AF6,RIG 7 ½ 04/15/31,2031-04-15,395790000.0,RIG
1,EH111178 Corp,US893830AT68,893830AT6,RIG 6.8 03/15/38,2038-03-15,609656000.0,RIG
2,ZB403924 Corp,US893830BZ10,893830BZ1,RIG 8 ½ 05/15/31,2031-05-15,900000000.0,RIG
3,ZP363590 Corp,US893830BL24,893830BL2,RIG 8 02/01/27,2027-02-01,655132000.0,RIG
4,EI894392 Corp,US893830AZ29,893830AZ2,RIG 7.35 12/15/41,2041-12-15,177248000.0,RIG
5,ZB403918 Corp,US893830BY45,893830BY4,RIG 8 ¼ 05/15/29,2029-05-15,900000000.0,RIG
7,DD110847 Corp,US893817AB24,893817AB2,RIG 8 04/15/27,2027-04-15,21855000.0,RIG
8,BO346425 Corp,US893830BT59,893830BT5,RIG 4 12/15/25,2025-12-15,37291000.0,RIG
9,DD110995 Corp,US893817AA41,893817AA4,RIG 7.45 04/15/27,2027-04-15,52277000.0,RIG
10,BZ453903 Corp,US893830BU23,893830BU2,RIG 4 ⅝ 09/30/29,2029-09-30,258989000.0,RIG

'NBR'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YW489327 Corp,US62957HAQ83,62957HAQ8,NBR 8 ⅞ 08/15/31,2031-08-15,550000000.0,NBR
1,ZG173052 Corp,US62957HAP01,62957HAP0,NBR 9 ⅛ 01/31/30,2030-01-31,650000000.0,NBR
2,ZL010357 Corp,US62957HAL96,62957HAL9,NBR 1 ¾ 06/15/29,2029-06-15,250000000.0,NBR
3,BS555697 Corp,US62957HAJ41,62957HAJ4,NBR 7 ⅜ 05/15/27,2027-05-15,696050000.0,NBR

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YW489327 Corp,US62957HAQ83,62957HAQ8,NBR 8 ⅞ 08/15/31,2031-08-15,550000000.0,NBR
1,ZG173052 Corp,US62957HAP01,62957HAP0,NBR 9 ⅛ 01/31/30,2030-01-31,650000000.0,NBR
2,ZL010357 Corp,US62957HAL96,62957HAL9,NBR 1 ¾ 06/15/29,2029-06-15,250000000.0,NBR
3,BS555697 Corp,US62957HAJ41,62957HAJ4,NBR 7 ⅜ 05/15/27,2027-05-15,696050000.0,NBR

'HILCRP'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YU252043 Corp,US431318BG88,431318BG8,HILCRP 7 ¼ 02/15/35,2035-02-15,1.000000e+09,HILCRP
1,BV750368 Corp,US431318AZ78,431318AZ7,HILCRP 6 ¼ 04/15/32,2032-04-15,5.000000e+08,HILCRP
2,BN395656 Corp,US431318AV64,431318AV6,HILCRP 6 02/01/31,2031-02-01,6.000000e+08,HILCRP
3,ZH950045 Corp,US431318BC74,431318BC7,HILCRP 8 ⅜ 11/01/33,2033-11-01,6.000000e+08,HILCRP
4,ZB920039 Corp,US431318BE31,431318BE3,HILCRP 6 ⅞ 05/15/34,2034-05-15,5.000000e+08,HILCRP
5,BN395653 Corp,US431318AU81,431318AU8,HILCRP 5 ¾ 02/01/29,2029-02-01,6.000000e+08,HILCRP
6,AU767741 Corp,US431318AS36,431318AS3,HILCRP 6 ¼ 11/01/28,2028-11-01,6.000000e+08,HILCRP
7,BV750367 Corp,US431318AY04,431318AY0,HILCRP 6 04/15/30,2030-04-15,5.000000e+08,HILCRP

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YU252043 Corp,US431318BG88,431318BG8,HILCRP 7 ¼ 02/15/35,2035-02-15,1.000000e+09,HILCRP
1,BV750368 Corp,US431318AZ78,431318AZ7,HILCRP 6 ¼ 04/15/32,2032-04-15,5.000000e+08,HILCRP
2,BN395656 Corp,US431318AV64,431318AV6,HILCRP 6 02/01/31,2031-02-01,6.000000e+08,HILCRP
3,ZH950045 Corp,US431318BC74,431318BC7,HILCRP 8 ⅜ 11/01/33,2033-11-01,6.000000e+08,HILCRP
4,ZB920039 Corp,US431318BE31,431318BE3,HILCRP 6 ⅞ 05/15/34,2034-05-15,5.000000e+08,HILCRP
5,BN395653 Corp,US431318AU81,431318AU8,HILCRP 5 ¾ 02/01/29,2029-02-01,6.000000e+08,HILCRP
6,AU767741 Corp,US431318AS36,431318AS3,HILCRP 6 ¼ 11/01/28,2028-11-01,6.000000e+08,HILCRP
7,BV750367 Corp,US431318AY04,431318AY0,HILCRP 6 04/15/30,2030-04-15,5.000000e+08,HILCRP

'CE'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YQ112605 Corp,US15089QBA13,15089QBA1,CE 6 ¾ 04/15/33,2033-04-15,1.100000e+09,CE
1,ZI320040 Corp,US15089QAY08,15089QAY0,CE 7.2 11/15/33,2033-11-15,1.000000e+09,CE
2,BX730552 Corp,US15089QAM69,15089QAM6,CE 6.665 07/15/27,2027-07-15,1.500000e+09,CE
3,YQ112603 Corp,US15089QAZ72,15089QAZ7,CE 6 ½ 04/15/30,2030-04-15,7.000000e+08,CE
4,BX730555 Corp,US15089QAP90,15089QAP9,CE 6.629 07/15/32,2032-07-15,1.000000e+09,CE
5,ZI320039 Corp,US15089QAX25,15089QAX2,CE 7.05 11/15/30,2030-11-15,1.000000e+09,CE
6,BQ791555 Corp,US15089QAK04,15089QAK0,CE 1.4 08/05/26,2026-08-05,4.000000e+08,CE
7,BX730553 Corp,US15089QAN43,15089QAN4,CE 6.83 07/15/29,2029-07-15,7.500000e+08,CE
8,ZI320038 Corp,US15089QAW42,15089QAW4,CE 6.85 11/15/28,2028-11-15,1.000000e+09,CE

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YQ112605 Corp,US15089QBA13,15089QBA1,CE 6 ¾ 04/15/33,2033-04-15,1.100000e+09,CE
1,ZI320040 Corp,US15089QAY08,15089QAY0,CE 7.2 11/15/33,2033-11-15,1.000000e+09,CE
2,BX730552 Corp,US15089QAM69,15089QAM6,CE 6.665 07/15/27,2027-07-15,1.500000e+09,CE
3,YQ112603 Corp,US15089QAZ72,15089QAZ7,CE 6 ½ 04/15/30,2030-04-15,7.000000e+08,CE
4,BX730555 Corp,US15089QAP90,15089QAP9,CE 6.629 07/15/32,2032-07-15,1.000000e+09,CE
5,ZI320039 Corp,US15089QAX25,15089QAX2,CE 7.05 11/15/30,2030-11-15,1.000000e+09,CE
6,BQ791555 Corp,US15089QAK04,15089QAK0,CE 1.4 08/05/26,2026-08-05,4.000000e+08,CE
7,BX730553 Corp,US15089QAN43,15089QAN4,CE 6.83 07/15/29,2029-07-15,7.500000e+08,CE
8,ZI320038 Corp,US15089QAW42,15089QAW4,CE 6.85 11/15/28,2028-11-15,1.000000e+09,CE

'DISH'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BQ855070 Corp,US25470XBD66,25470XBD6,DISH 5 ⅛ 06/01/29,2029-06-01,1.499870e+09,DISH
1,QZ429974 Corp,US25470XAY13,25470XAY1,DISH 7 ¾ 07/01/26,2026-07-01,1.999830e+09,DISH
2,ZO253424 Corp,US25470XBB01,25470XBB0,DISH 7 ⅜ 07/01/28,2028-07-01,9.990000e+08,DISH
3,LW378927 Corp,US25470XAX30,25470XAX3,DISH 7 ¾ 07/01/26,2026-07-01,1.700000e+05,DISH
4,BP472819 Corp,US25470XBC83,25470XBC8,DISH 5 ⅛ 06/01/29,2029-06-01,1.320000e+05,DISH
5,BK232014 Corp,US25470XAZ87,25470XAZ8,DISH 7 ⅜ 07/01/28,2028-07-01,1.000000e+06,DISH

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BQ855070 Corp,US25470XBD66,25470XBD6,DISH 5 ⅛ 06/01/29,2029-06-01,1.499870e+09,DISH
1,QZ429974 Corp,US25470XAY13,25470XAY1,DISH 7 ¾ 07/01/26,2026-07-01,1.999830e+09,DISH
2,ZO253424 Corp,US25470XBB01,25470XBB0,DISH 7 ⅜ 07/01/28,2028-07-01,9.990000e+08,DISH
3,LW378927 Corp,US25470XAX30,25470XAX3,DISH 7 ¾ 07/01/26,2026-07-01,1.700000e+05,DISH
4,BP472819 Corp,US25470XBC83,25470XBC8,DISH 5 ⅛ 06/01/29,2029-06-01,1.320000e+05,DISH
5,BK232014 Corp,US25470XAZ87,25470XAZ8,DISH 7 ⅜ 07/01/28,2028-07-01,1.000000e+06,DISH

'BMCAUS'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BK104300 Corp,US853496AG21,853496AG2,BMCAUS 4 ⅜ 07/15/30,2030-07-15,1.600000e+09,BMCAUS
1,BK862250 Corp,US853496AH04,853496AH0,BMCAUS 3 ⅜ 01/15/31,2031-01-15,1.100000e+09,BMCAUS
2,AQ382234 Corp,US853496AD99,853496AD9,BMCAUS 4 ¾ 01/15/28,2028-01-15,1.000000e+09,BMCAUS

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BK104300 Corp,US853496AG21,853496AG2,BMCAUS 4 ⅜ 07/15/30,2030-07-15,1.600000e+09,BMCAUS
1,BK862250 Corp,US853496AH04,853496AH0,BMCAUS 3 ⅜ 01/15/31,2031-01-15,1.100000e+09,BMCAUS
2,AQ382234 Corp,US853496AD99,853496AD9,BMCAUS 4 ¾ 01/15/28,2028-01-15,1.000000e+09,BMCAUS

'HTZ'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BS528221 Corp,US428040DA42,428040DA4,HTZ 4 ⅝ 12/01/26,2026-12-01,5.000000e+08,HTZ
1,BS528223 Corp,US428040DB25,428040DB2,HTZ 5 12/01/29,2029-12-01,1.000000e+09,HTZ
2,AZ718262 Corp,US428040CY37,428040CY3,HTZ 7 ⅛ 08/01/26,2026-08-01,5.000000e+08,HTZ
3,QZ510662 Corp,US428040CS68,428040CS6,HTZ 5 ½ 10/15/24,2024-10-15,8.000000e+08,HTZ

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BS528221 Corp,US428040DA42,428040DA4,HTZ 4 ⅝ 12/01/26,2026-12-01,5.000000e+08,HTZ
1,BS528223 Corp,US428040DB25,428040DB2,HTZ 5 12/01/29,2029-12-01,1.000000e+09,HTZ
2,AZ718262 Corp,US428040CY37,428040CY3,HTZ 7 ⅛ 08/01/26,2026-08-01,5.000000e+08,HTZ
3,QZ510662 Corp,US428040CS68,428040CS6,HTZ 5 ½ 10/15/24,2024-10-15,8.000000e+08,HTZ

'XRX'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,EI067690 Corp,US984121CB79,984121CB7,XRX 6 ¾ 12/15/39,2039-12-15,350000000.0,XRX
1,EK775871 Corp,US984121CL51,984121CL5,XRX 4.8 03/01/35,2035-03-01,250000000.0,XRX
2,MM119532 Corp,US98412JBM53,98412JBM5,XRX 6 ¼ 11/15/26,2026-11-15,1730000.0,XRX
3,EC063284 Corp,US98412JBU79,98412JBU7,XRX Float 11/04/38,2038-11-04,300000.0,XRX

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,EI067690 Corp,US984121CB79,984121CB7,XRX 6 ¾ 12/15/39,2039-12-15,350000000.0,XRX
1,EK775871 Corp,US984121CL51,984121CL5,XRX 4.8 03/01/35,2035-03-01,250000000.0,XRX
2,MM119532 Corp,US98412JBM53,98412JBM5,XRX 6 ¼ 11/15/26,2026-11-15,1730000.0,XRX
3,EC063284 Corp,US98412JBU79,98412JBU7,XRX Float 11/04/38,2038-11-04,300000.0,XRX

'AAL'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,001765AU Corp,US001765AU07,001765AU0,AAL 9 08/01/12,2012-08-01,75498000.0,AAL

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,001765AU Corp,US001765AU07,001765AU0,AAL 9 08/01/12,2012-08-01,75498000.0,AAL

'OMF'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ZJ054642 Corp,US682695AA94,682695AA9,OMF 9 01/15/29,2029-01-15,681019000.0,OMF
1,YM814284 Corp,US682691AL46,682691AL4,OMF 6 ⅛ 05/15/30,2030-05-15,750000000.0,OMF
2,YQ067983 Corp,US682691AJ99,682691AJ9,OMF 6 ¾ 03/15/32,2032-03-15,600000000.0,OMF
3,ZS535537 Corp,US85172FAQ28,85172FAQ2,OMF 6 ⅝ 01/15/28,2028-01-15,750478000.0,OMF
4,YO958623 Corp,US682691AK62,682691AK6,OMF 7 ⅛ 09/15/32,2032-09-15,800000000.0,OMF
5,BM979879 Corp,US682691AA80,682691AA8,OMF 4 09/15/30,2030-09-15,841749000.0,OMF
6,ZB988593 Corp,US682691AF77,682691AF7,OMF 7 ½ 05/15/31,2031-05-15,750000000.0,OMF
7,YV166562 Corp,US682691AG50,682691AG5,OMF 7 ⅛ 11/15/31,2031-11-15,750000000.0,OMF
8,ZQ473326 Corp,US85172FAR01,85172FAR0,OMF 5 ⅜ 11/15/29,2029-11-15,740401000.0,OMF
9,AS583912 Corp,US85172FAN96,85172FAN9,OMF 7 ⅛ 03/15/26,2026-03-15,424009000.0,OMF
10,YU912883 Corp,US682691AH34,682691AH3,OMF 6 ⅝ 05/15/29,2029-05-15,900000000.0,OMF
11,BQ882832 Corp,US682691AC47,682691AC4,OMF 3 ⅞ 09/15/28,2028-09-15,599850000.0,OMF
12,BQ092434 Corp,US682691AB63,682691AB6,OMF 3 ½ 01/15/27,2027-01-15,750000000.0,OMF
13,ZG690154 Corp,US682691AE03,682691AE0,OMF 7 ⅞ 03/15/30,2030-03-15,700000000.0,OMF

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ZJ054642 Corp,US682695AA94,682695AA9,OMF 9 01/15/29,2029-01-15,681019000.0,OMF
1,YM814284 Corp,US682691AL46,682691AL4,OMF 6 ⅛ 05/15/30,2030-05-15,750000000.0,OMF
2,YQ067983 Corp,US682691AJ99,682691AJ9,OMF 6 ¾ 03/15/32,2032-03-15,600000000.0,OMF
3,ZS535537 Corp,US85172FAQ28,85172FAQ2,OMF 6 ⅝ 01/15/28,2028-01-15,750478000.0,OMF
4,YO958623 Corp,US682691AK62,682691AK6,OMF 7 ⅛ 09/15/32,2032-09-15,800000000.0,OMF
5,BM979879 Corp,US682691AA80,682691AA8,OMF 4 09/15/30,2030-09-15,841749000.0,OMF
6,ZB988593 Corp,US682691AF77,682691AF7,OMF 7 ½ 05/15/31,2031-05-15,750000000.0,OMF
7,YV166562 Corp,US682691AG50,682691AG5,OMF 7 ⅛ 11/15/31,2031-11-15,750000000.0,OMF
8,ZQ473326 Corp,US85172FAR01,85172FAR0,OMF 5 ⅜ 11/15/29,2029-11-15,740401000.0,OMF
9,AS583912 Corp,US85172FAN96,85172FAN9,OMF 7 ⅛ 03/15/26,2026-03-15,424009000.0,OMF
10,YU912883 Corp,US682691AH34,682691AH3,OMF 6 ⅝ 05/15/29,2029-05-15,900000000.0,OMF
11,BQ882832 Corp,US682691AC47,682691AC4,OMF 3 ⅞ 09/15/28,2028-09-15,599850000.0,OMF
12,BQ092434 Corp,US682691AB63,682691AB6,OMF 3 ½ 01/15/27,2027-01-15,750000000.0,OMF
13,ZG690154 Corp,US682691AE03,682691AE0,OMF 7 ⅞ 03/15/30,2030-03-15,700000000.0,OMF

'AMKR'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,AX646608 Corp,US031652BK50,031652BK5,AMKR 6 ⅝ 09/15/27,2027-09-15,400000000.0,AMKR

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,AX646608 Corp,US031652BK50,031652BK5,AMKR 6 ⅝ 09/15/27,2027-09-15,400000000.0,AMKR

'ASH'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BQ861242 Corp,US04433LAA08,04433LAA0,ASH 3 ⅜ 09/01/31,2031-09-01,450000000.0,ASH
1,EJ787550 Corp,US044209AM68,044209AM6,ASH 6 ⅞ 05/15/43,2043-05-15,281212000.0,ASH
2,DD111880 Corp,US427056AR72,427056AR7,ASH 6.6 08/01/27,2027-08-01,3833000.0,ASH

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BQ861242 Corp,US04433LAA08,04433LAA0,ASH 3 ⅜ 09/01/31,2031-09-01,450000000.0,ASH
1,EJ787550 Corp,US044209AM68,044209AM6,ASH 6 ⅞ 05/15/43,2043-05-15,281212000.0,ASH
2,DD111880 Corp,US427056AR72,427056AR7,ASH 6.6 08/01/27,2027-08-01,3833000.0,ASH

'AVNT'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BY089836 Corp,US05368VAA44,05368VAA4,AVNT 7 ⅛ 08/01/30,2030-08-01,725000000.0,AVNT
1,YV626780 Corp,US05368VAB27,05368VAB2,AVNT 6 ¼ 11/01/31,2031-11-01,650000000.0,AVNT

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BY089836 Corp,US05368VAA44,05368VAA4,AVNT 7 ⅛ 08/01/30,2030-08-01,725000000.0,AVNT
1,YV626780 Corp,US05368VAB27,05368VAB2,AVNT 6 ¼ 11/01/31,2031-11-01,650000000.0,AVNT

'BALL'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YL103977 Corp,US058498BA38,058498BA3,BALL 5 ½ 09/15/33,2033-09-15,7.500000e+08,BALL
1,BK876343 Corp,US058498AW66,058498AW6,BALL 2 ⅞ 08/15/30,2030-08-15,1.300000e+09,BALL
2,BR383851 Corp,US058498AX40,058498AX4,BALL 3 ⅛ 09/15/31,2031-09-15,8.500000e+08,BALL
3,ZK536539 Corp,US058498AZ97,058498AZ9,BALL 6 06/15/29,2029-06-15,1.000000e+09,BALL
4,AR635813 Corp,US058498AV83,058498AV8,BALL 4 ⅞ 03/15/26,2026-03-15,2.559690e+08,BALL
5,ZN290540 Corp,US058498AY23,058498AY2,BALL 6 ⅞ 03/15/28,2028-03-15,7.500000e+08,BALL

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YL103977 Corp,US058498BA38,058498BA3,BALL 5 ½ 09/15/33,2033-09-15,7.500000e+08,BALL
1,BK876343 Corp,US058498AW66,058498AW6,BALL 2 ⅞ 08/15/30,2030-08-15,1.300000e+09,BALL
2,BR383851 Corp,US058498AX40,058498AX4,BALL 3 ⅛ 09/15/31,2031-09-15,8.500000e+08,BALL
3,ZK536539 Corp,US058498AZ97,058498AZ9,BALL 6 06/15/29,2029-06-15,1.000000e+09,BALL
4,AR635813 Corp,US058498AV83,058498AV8,BALL 4 ⅞ 03/15/26,2026-03-15,2.559690e+08,BALL
5,ZN290540 Corp,US058498AY23,058498AY2,BALL 6 ⅞ 03/15/28,2028-03-15,7.500000e+08,BALL

'BBDBCN'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YO519491 Corp,US097751CD18,097751CD1,BBDBCN 6 ¾ 06/15/33,2033-06-15,500000000.0,BBDBCN
1,ED425765 Corp,US097751AL51,097751AL5,BBDBCN 7.45 05/01/34,2034-05-01,510000000.0,BBDBCN
2,ZD969777 Corp,US097751CB51,097751CB5,BBDBCN 7 ¼ 07/01/31,2031-07-01,750000000.0,BBDBCN
3,BQ944136 Corp,US097751BX80,097751BX8,BBDBCN 6 02/15/28,2028-02-15,750000000.0,BBDBCN
4,ZH984689 Corp,US097751CA78,097751CA7,BBDBCN 8 ¾ 11/15/30,2030-11-15,750000000.0,BBDBCN
5,AX456559 Corp,US097751BT78,097751BT7,BBDBCN 7 ⅞ 04/15/27,2027-04-15,183142000.0,BBDBCN
6,YX255622 Corp,US097751CC35,097751CC3,BBDBCN 7 06/01/32,2032-06-01,750000000.0,BBDBCN
7,ZM506792 Corp,US097751BZ39,097751BZ3,BBDBCN 7 ½ 02/01/29,2029-02-01,750000000.0,BBDBCN
8,BP927690 Corp,US097751BV25,097751BV2,BBDBCN 7 ⅛ 06/15/26,2026-06-15,166289000.0,BBDBCN

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YO519491 Corp,US097751CD18,097751CD1,BBDBCN 6 ¾ 06/15/33,2033-06-15,500000000.0,BBDBCN
1,ED425765 Corp,US097751AL51,097751AL5,BBDBCN 7.45 05/01/34,2034-05-01,510000000.0,BBDBCN
2,ZD969777 Corp,US097751CB51,097751CB5,BBDBCN 7 ¼ 07/01/31,2031-07-01,750000000.0,BBDBCN
3,BQ944136 Corp,US097751BX80,097751BX8,BBDBCN 6 02/15/28,2028-02-15,750000000.0,BBDBCN
4,ZH984689 Corp,US097751CA78,097751CA7,BBDBCN 8 ¾ 11/15/30,2030-11-15,750000000.0,BBDBCN
5,AX456559 Corp,US097751BT78,097751BT7,BBDBCN 7 ⅞ 04/15/27,2027-04-15,183142000.0,BBDBCN
6,YX255622 Corp,US097751CC35,097751CC3,BBDBCN 7 06/01/32,2032-06-01,750000000.0,BBDBCN
7,ZM506792 Corp,US097751BZ39,097751BZ3,BBDBCN 7 ½ 02/01/29,2029-02-01,750000000.0,BBDBCN
8,BP927690 Corp,US097751BV25,097751BV2,BBDBCN 7 ⅛ 06/15/26,2026-06-15,166289000.0,BBDBCN

'BBWI'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ED006371 Corp,US532716AK37,532716AK3,BBWI 6.95 03/01/33,2033-03-01,284281000.0,BBWI
1,JK009992 Corp,US501797AL82,501797AL8,BBWI 6 ⅞ 11/01/35,2035-11-01,800900000.0,BBWI
2,LW431545 Corp,US501797AM65,501797AM6,BBWI 6 ¾ 07/01/36,2036-07-01,574536000.0,BBWI
3,EG643956 Corp,US532716AN75,532716AN7,BBWI 7.6 07/15/37,2037-07-15,200947000.0,BBWI
4,AQ669384 Corp,US501797AN49,501797AN4,BBWI 5 ¼ 02/01/28,2028-02-01,444471000.0,BBWI
5,AZ027206 Corp,US501797AR52,501797AR5,BBWI 7 ½ 06/15/29,2029-06-15,482312000.0,BBWI
6,AU570689 Corp,US501797AQ79,501797AQ7,BBWI 6.694 01/15/27,2027-01-15,283612000.0,BBWI
7,ZO514524 Corp,US501797AW48,501797AW4,BBWI 6 ⅝ 10/01/30,2030-10-01,844063000.0,BBWI
8,AT167041 Corp,US501797AP96,501797AP9,BBWI 6.694 01/15/27,2027-01-15,30000.0,BBWI
9,QJ418735 Corp,US501797AK00,501797AK0,BBWI 6 ⅞ 11/01/35,2035-11-01,652000.0,BBWI

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ED006371 Corp,US532716AK37,532716AK3,BBWI 6.95 03/01/33,2033-03-01,284281000.0,BBWI
1,JK009992 Corp,US501797AL82,501797AL8,BBWI 6 ⅞ 11/01/35,2035-11-01,800900000.0,BBWI
2,LW431545 Corp,US501797AM65,501797AM6,BBWI 6 ¾ 07/01/36,2036-07-01,574536000.0,BBWI
3,EG643956 Corp,US532716AN75,532716AN7,BBWI 7.6 07/15/37,2037-07-15,200947000.0,BBWI
4,AQ669384 Corp,US501797AN49,501797AN4,BBWI 5 ¼ 02/01/28,2028-02-01,444471000.0,BBWI
5,AZ027206 Corp,US501797AR52,501797AR5,BBWI 7 ½ 06/15/29,2029-06-15,482312000.0,BBWI
6,AU570689 Corp,US501797AQ79,501797AQ7,BBWI 6.694 01/15/27,2027-01-15,283612000.0,BBWI
7,ZO514524 Corp,US501797AW48,501797AW4,BBWI 6 ⅝ 10/01/30,2030-10-01,844063000.0,BBWI
8,AT167041 Corp,US501797AP96,501797AP9,BBWI 6.694 01/15/27,2027-01-15,30000.0,BBWI
9,QJ418735 Corp,US501797AK00,501797AK0,BBWI 6 ⅞ 11/01/35,2035-11-01,652000.0,BBWI

'BHCCN'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BM627976 Corp,US071734AL17,071734AL1,BHCCN 5 ¼ 02/15/31,2031-02-15,462689000.0,BHCCN
1,ZP111307 Corp,US071734AJ60,071734AJ6,BHCCN 5 ¼ 01/30/30,2030-01-30,778684000.0,BHCCN
2,ZP111305 Corp,US071734AH05,071734AH0,BHCCN 5 01/30/28,2028-01-30,433173000.0,BHCCN
3,ZS569563 Corp,US071734AD90,071734AD9,BHCCN 7 01/15/28,2028-01-15,171736500.0,BHCCN
4,AR722078 Corp,US91911XAV64,91911XAV6,BHCCN 9 ¼ 04/01/26,2026-04-01,601895000.0,BHCCN
5,BM627973 Corp,US071734AM99,071734AM9,BHCCN 5 02/15/29,2029-02-15,451933000.0,BHCCN
6,BJ423011 Corp,US071734AK34,071734AK3,BHCCN 6 ¼ 02/15/29,2029-02-15,820876000.0,BHCCN
7,AS706899 Corp,US91911XAW48,91911XAW4,BHCCN 8 ½ 01/31/27,2027-01-31,642613000.0,BHCCN
8,EC013419 Corp,US071707AG82,071707AG8,BOL 7 ⅛ 08/01/28,2028-08-01,11749000.0,BHCCN
9,ZS571082 Corp,US071734AF49,071734AF4,BHCCN 7 ¼ 05/30/29,2029-05-30,336635000.0,BHCCN
10,EK573219 Corp,US871639AA84,871639AA8,SGYP 7 ½ 11/01/19,2019-11-01,18603000.0,BHCCN
11,MM119712 Corp,US07171JAE64,07171JAE6,BOL 6.56 08/12/26,2026-08-12,54000.0,BHCCN

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BM627976 Corp,US071734AL17,071734AL1,BHCCN 5 ¼ 02/15/31,2031-02-15,462689000.0,BHCCN
1,ZP111307 Corp,US071734AJ60,071734AJ6,BHCCN 5 ¼ 01/30/30,2030-01-30,778684000.0,BHCCN
2,ZP111305 Corp,US071734AH05,071734AH0,BHCCN 5 01/30/28,2028-01-30,433173000.0,BHCCN
3,ZS569563 Corp,US071734AD90,071734AD9,BHCCN 7 01/15/28,2028-01-15,171736500.0,BHCCN
4,AR722078 Corp,US91911XAV64,91911XAV6,BHCCN 9 ¼ 04/01/26,2026-04-01,601895000.0,BHCCN
5,BM627973 Corp,US071734AM99,071734AM9,BHCCN 5 02/15/29,2029-02-15,451933000.0,BHCCN
6,BJ423011 Corp,US071734AK34,071734AK3,BHCCN 6 ¼ 02/15/29,2029-02-15,820876000.0,BHCCN
7,AS706899 Corp,US91911XAW48,91911XAW4,BHCCN 8 ½ 01/31/27,2027-01-31,642613000.0,BHCCN
9,ZS571082 Corp,US071734AF49,071734AF4,BHCCN 7 ¼ 05/30/29,2029-05-30,336635000.0,BHCCN

'BYD'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BP778265 Corp,US103304BV23,103304BV2,BYD 4 ¾ 06/15/31,2031-06-15,900000000.0,BYD
1,BK623735 Corp,US103304BU40,103304BU4,BYD 4 ¾ 12/01/27,2027-12-01,999755000.0,BYD
2,ZQ670818 Corp,US103304BR11,103304BR1,BYD 4 ¾ 12/01/27,2027-12-01,245000.0,BYD

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BP778265 Corp,US103304BV23,103304BV2,BYD 4 ¾ 06/15/31,2031-06-15,900000000.0,BYD
1,BK623735 Corp,US103304BU40,103304BU4,BYD 4 ¾ 12/01/27,2027-12-01,999755000.0,BYD
2,ZQ670818 Corp,US103304BR11,103304BR1,BYD 4 ¾ 12/01/27,2027-12-01,245000.0,BYD

'BZH'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BG568860 Corp,US07556QBT13,07556QBT1,BZH 7 ¼ 10/15/29,2029-10-15,345929000.0,BZH
1,AR073018 Corp,US07556QBR56,07556QBR5,BZH 5 ⅞ 10/15/27,2027-10-15,357255000.0,BZH
2,ZD702252 Corp,US07556QBU85,07556QBU8,BZH 7 ½ 03/15/31,2031-03-15,250000000.0,BZH
3,ZR549288 Corp,US07556QBS30,07556QBS3,BZH 7 ¼ 10/15/29,2029-10-15,4071000.0,BZH

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BG568860 Corp,US07556QBT13,07556QBT1,BZH 7 ¼ 10/15/29,2029-10-15,345929000.0,BZH
1,AR073018 Corp,US07556QBR56,07556QBR5,BZH 5 ⅞ 10/15/27,2027-10-15,357255000.0,BZH
2,ZD702252 Corp,US07556QBU85,07556QBU8,BZH 7 ½ 03/15/31,2031-03-15,250000000.0,BZH
3,ZR549288 Corp,US07556QBS30,07556QBS3,BZH 7 ¼ 10/15/29,2029-10-15,4071000.0,BZH

'CCL'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BO019617 Corp,US143658BN13,143658BN1,CCL 5 ¾ 03/01/27,2027-03-01,3.223520e+08,CCL
1,ZN424530 Corp,US143658BV39,143658BV3,CCL 5 ¾ 12/01/27,2027-12-01,1.130982e+09,CCL
2,YM095938 Corp,US143658CA82,143658CA8,CCL 5 ¾ 08/01/32,2032-08-01,3.000000e+09,CCL
3,BS036576 Corp,US143658BR27,143658BR2,CCL 6 05/01/29,2029-05-01,2.000000e+09,CCL
4,YR046846 Corp,US143658BX94,143658BX9,CCL 6 ⅛ 02/15/33,2033-02-15,2.000000e+09,CCL
5,YO435878 Corp,US143658BZ43,143658BZ4,CCL 5 ⅞ 06/15/31,2031-06-15,1.000000e+09,CCL
6,YR640412 Corp,US143658BY77,143658BY7,CCL 5 ¾ 03/15/30,2030-03-15,1.000000e+09,CCL
7,DD115155 Corp,US143658AH53,143658AH5,CCL 6.65 01/15/28,2028-01-15,2.000000e+08,CCL

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BO019617 Corp,US143658BN13,143658BN1,CCL 5 ¾ 03/01/27,2027-03-01,3.223520e+08,CCL
1,ZN424530 Corp,US143658BV39,143658BV3,CCL 5 ¾ 12/01/27,2027-12-01,1.130982e+09,CCL
2,YM095938 Corp,US143658CA82,143658CA8,CCL 5 ¾ 08/01/32,2032-08-01,3.000000e+09,CCL
3,BS036576 Corp,US143658BR27,143658BR2,CCL 6 05/01/29,2029-05-01,2.000000e+09,CCL
4,YR046846 Corp,US143658BX94,143658BX9,CCL 6 ⅛ 02/15/33,2033-02-15,2.000000e+09,CCL
5,YO435878 Corp,US143658BZ43,143658BZ4,CCL 5 ⅞ 06/15/31,2031-06-15,1.000000e+09,CCL
6,YR640412 Corp,US143658BY77,143658BY7,CCL 5 ¾ 03/15/30,2030-03-15,1.000000e+09,CCL
7,DD115155 Corp,US143658AH53,143658AH5,CCL 6.65 01/15/28,2028-01-15,2.000000e+08,CCL

'CCO'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BP555317 Corp,US18453HAD89,18453HAD8,CCO 7 ½ 06/01/29,2029-06-01,1.050000e+09,CCO
1,BN849487 Corp,US18453HAC07,18453HAC0,CCO 7 ¾ 04/15/28,2028-04-15,1.000000e+09,CCO

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BP555317 Corp,US18453HAD89,18453HAD8,CCO 7 ½ 06/01/29,2029-06-01,1.050000e+09,CCO
1,BN849487 Corp,US18453HAC07,18453HAC0,CCO 7 ¾ 04/15/28,2028-04-15,1.000000e+09,CCO

'CIVI'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YO994039 Corp,US17888HAD52,17888HAD5,CIVI 9 ⅝ 06/15/33,2033-06-15,7.500000e+08,CIVI
1,ZJ054721 Corp,US17888HAB96,17888HAB9,CIVI 8 ¾ 07/01/31,2031-07-01,1.350000e+09,CIVI
2,ZH414812 Corp,US17888HAC79,17888HAC7,CIVI 8 ⅝ 11/01/30,2030-11-01,1.000000e+09,CIVI
3,ZJ054720 Corp,US17888HAA14,17888HAA1,CIVI 8 ⅜ 07/01/28,2028-07-01,1.350000e+09,CIVI
4,BR799319 Corp,US097793AE35,097793AE3,CIVI 5 10/15/26,2026-10-15,4.000000e+08,CIVI

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YO994039 Corp,US17888HAD52,17888HAD5,CIVI 9 ⅝ 06/15/33,2033-06-15,7.500000e+08,CIVI
1,ZJ054721 Corp,US17888HAB96,17888HAB9,CIVI 8 ¾ 07/01/31,2031-07-01,1.350000e+09,CIVI
2,ZH414812 Corp,US17888HAC79,17888HAC7,CIVI 8 ⅝ 11/01/30,2030-11-01,1.000000e+09,CIVI
3,ZJ054720 Corp,US17888HAA14,17888HAA1,CIVI 8 ⅜ 07/01/28,2028-07-01,1.350000e+09,CIVI
4,BR799319 Corp,US097793AE35,097793AE3,CIVI 5 10/15/26,2026-10-15,4.000000e+08,CIVI

'CLF'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ZD462023 Corp,US185899AP61,185899AP6,CLF 7 03/15/32,2032-03-15,1.425000e+09,CLF
1,YU382922 Corp,US185899AR28,185899AR2,CLF 7 ⅜ 05/01/33,2033-05-01,9.000000e+08,CLF
2,EI407295 Corp,US18683KAC53,18683KAC5,CLF 6 ¼ 10/01/40,2040-10-01,2.347840e+08,CLF
3,YR212475 Corp,US185899AS01,185899AS0,CLF 7 ½ 09/15/31,2031-09-15,8.500000e+08,CLF
4,ZK148062 Corp,US185899AN14,185899AN1,CLF 6 ¾ 04/15/30,2030-04-15,7.500000e+08,CLF
5,BH448028 Corp,US185899AH46,185899AH4,CLF 5 ⅞ 06/01/27,2027-06-01,5.549370e+08,CLF
6,YU382918 Corp,US185899AQ45,185899AQ4,CLF 6 ⅞ 11/01/29,2029-11-01,9.000000e+08,CLF
7,BN992862 Corp,US185899AL57,185899AL5,CLF 4 ⅞ 03/01/31,2031-03-01,3.251550e+08,CLF
8,BN995044 Corp,US185899AK74,185899AK7,CLF 4 ⅝ 03/01/29,2029-03-01,3.683130e+08,CLF
9,BO834866 Corp,US185899AM31,185899AM3,CLF 7 03/15/27,2027-03-15,7.292400e+07,CLF
10,ZS386130 Corp,US185899AC58,185899AC5,CLF 5 ⅞ 06/01/27,2027-06-01,5.980000e+05,CLF
11,BG891545 Corp,US185899AE15,185899AE1,CLF 7 03/15/27,2027-03-15,3.740000e+05,CLF

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ZD462023 Corp,US185899AP61,185899AP6,CLF 7 03/15/32,2032-03-15,1.425000e+09,CLF
1,YU382922 Corp,US185899AR28,185899AR2,CLF 7 ⅜ 05/01/33,2033-05-01,9.000000e+08,CLF
2,EI407295 Corp,US18683KAC53,18683KAC5,CLF 6 ¼ 10/01/40,2040-10-01,2.347840e+08,CLF
3,YR212475 Corp,US185899AS01,185899AS0,CLF 7 ½ 09/15/31,2031-09-15,8.500000e+08,CLF
4,ZK148062 Corp,US185899AN14,185899AN1,CLF 6 ¾ 04/15/30,2030-04-15,7.500000e+08,CLF
5,BH448028 Corp,US185899AH46,185899AH4,CLF 5 ⅞ 06/01/27,2027-06-01,5.549370e+08,CLF
6,YU382918 Corp,US185899AQ45,185899AQ4,CLF 6 ⅞ 11/01/29,2029-11-01,9.000000e+08,CLF
7,BN992862 Corp,US185899AL57,185899AL5,CLF 4 ⅞ 03/01/31,2031-03-01,3.251550e+08,CLF
8,BN995044 Corp,US185899AK74,185899AK7,CLF 4 ⅝ 03/01/29,2029-03-01,3.683130e+08,CLF
9,BO834866 Corp,US185899AM31,185899AM3,CLF 7 03/15/27,2027-03-15,7.292400e+07,CLF
10,ZS386130 Corp,US185899AC58,185899AC5,CLF 5 ⅞ 06/01/27,2027-06-01,5.980000e+05,CLF
11,BG891545 Corp,US185899AE15,185899AE1,CLF 7 03/15/27,2027-03-15,3.740000e+05,CLF

'CPN'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BK671336 Corp,US131347CQ78,131347CQ7,CPN 5 02/01/31,2031-02-01,8.500000e+08,CPN
1,ZP162987 Corp,US131347CN48,131347CN4,CPN 5 ⅛ 03/15/28,2028-03-15,1.400000e+09,CPN
2,BK671332 Corp,US131347CP95,131347CP9,CPN 4 ⅝ 02/01/29,2029-02-01,6.500000e+08,CPN

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BK671336 Corp,US131347CQ78,131347CQ7,CPN 5 02/01/31,2031-02-01,8.500000e+08,CPN
1,ZP162987 Corp,US131347CN48,131347CN4,CPN 5 ⅛ 03/15/28,2028-03-15,1.400000e+09,CPN
2,BK671332 Corp,US131347CP95,131347CP9,CPN 4 ⅝ 02/01/29,2029-02-01,6.500000e+08,CPN

'CVNA'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BR001477 Corp,US146869AH51,146869AH5,CVNA 4 ⅞ 09/01/29,2029-09-01,25651000.0,CVNA
1,BW111727 Corp,US146869AJ18,146869AJ1,CVNA 10 ¼ 05/01/30,2030-05-01,27041000.0,CVNA
2,BO801534 Corp,US146869AF95,146869AF9,CVNA 5 ½ 04/15/27,2027-04-15,31835000.0,CVNA
3,ZO599836 Corp,US146869AD48,146869AD4,CVNA 5 ⅞ 10/01/28,2028-10-01,22473000.0,CVNA
4,ZO599834 Corp,US146869AB81,146869AB8,CVNA 5 ⅝ 10/01/25,2025-10-01,98258000.0,CVNA

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BR001477 Corp,US146869AH51,146869AH5,CVNA 4 ⅞ 09/01/29,2029-09-01,25651000.0,CVNA
1,BW111727 Corp,US146869AJ18,146869AJ1,CVNA 10 ¼ 05/01/30,2030-05-01,27041000.0,CVNA
2,BO801534 Corp,US146869AF95,146869AF9,CVNA 5 ½ 04/15/27,2027-04-15,31835000.0,CVNA
3,ZO599836 Corp,US146869AD48,146869AD4,CVNA 5 ⅞ 10/01/28,2028-10-01,22473000.0,CVNA
4,ZO599834 Corp,US146869AB81,146869AB8,CVNA 5 ⅝ 10/01/25,2025-10-01,98258000.0,CVNA

'CZR'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YU253596 Corp,US12769GAD25,12769GAD2,CZR 6 10/15/32,2032-10-15,1.100000e+09,CZR
1,BR401813 Corp,US12769GAA85,12769GAA8,CZR 4 ⅝ 10/15/29,2029-10-15,1.200000e+09,CZR

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YU253596 Corp,US12769GAD25,12769GAD2,CZR 6 10/15/32,2032-10-15,1.100000e+09,CZR
1,BR401813 Corp,US12769GAA85,12769GAA8,CZR 4 ⅝ 10/15/29,2029-10-15,1.200000e+09,CZR

'DVA'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BJ718598 Corp,US23918KAS78,23918KAS7,DVA 4 ⅝ 06/01/30,2030-06-01,2.750000e+09,DVA
1,YV017347 Corp,US23918KAW80,23918KAW8,DVA 6 ⅞ 09/01/32,2032-09-01,1.000000e+09,DVA
2,BK840738 Corp,US23918KAT51,23918KAT5,DVA 3 ¾ 02/15/31,2031-02-15,1.500000e+09,DVA
3,YO718386 Corp,US23918KAY47,23918KAY4,DVA 6 ¾ 07/15/33,2033-07-15,1.000000e+09,DVA

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BJ718598 Corp,US23918KAS78,23918KAS7,DVA 4 ⅝ 06/01/30,2030-06-01,2.750000e+09,DVA
1,YV017347 Corp,US23918KAW80,23918KAW8,DVA 6 ⅞ 09/01/32,2032-09-01,1.000000e+09,DVA
2,BK840738 Corp,US23918KAT51,23918KAT5,DVA 3 ¾ 02/15/31,2031-02-15,1.500000e+09,DVA
3,YO718386 Corp,US23918KAY47,23918KAY4,DVA 6 ¾ 07/15/33,2033-07-15,1.000000e+09,DVA

'GAP'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BR420146 Corp,US364760AQ18,364760AQ1,GAP 3 ⅞ 10/01/31,2031-10-01,750000000.0,GAP
1,BR420150 Corp,US364760AP35,364760AP3,GAP 3 ⅝ 10/01/29,2029-10-01,750000000.0,GAP

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BR420146 Corp,US364760AQ18,364760AQ1,GAP 3 ⅞ 10/01/31,2031-10-01,750000000.0,GAP
1,BR420150 Corp,US364760AP35,364760AP3,GAP 3 ⅝ 10/01/29,2029-10-01,750000000.0,GAP

'GFLCN'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YX597105 Corp,US37441QAA94,37441QAA9,GFLCN 6 ⅝ 04/01/32,2032-04-01,500000000.0,GFLCN
1,BM585182 Corp,US36168QAL86,36168QAL8,GFLCN 4 08/01/28,2028-08-01,750000000.0,GFLCN
2,BP883869 Corp,US36168QAN43,36168QAN4,GFLCN 4 ¾ 06/15/29,2029-06-15,750000000.0,GFLCN
3,BQ860831 Corp,US36168QAP90,36168QAP9,GFLCN 4 ⅜ 08/15/29,2029-08-15,550000000.0,GFLCN

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YX597105 Corp,US37441QAA94,37441QAA9,GFLCN 6 ⅝ 04/01/32,2032-04-01,500000000.0,GFLCN
1,BM585182 Corp,US36168QAL86,36168QAL8,GFLCN 4 08/01/28,2028-08-01,750000000.0,GFLCN
2,BP883869 Corp,US36168QAN43,36168QAN4,GFLCN 4 ¾ 06/15/29,2029-06-15,750000000.0,GFLCN
3,BQ860831 Corp,US36168QAP90,36168QAP9,GFLCN 4 ⅜ 08/15/29,2029-08-15,550000000.0,GFLCN

'GT'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BO895462 Corp,US382550BK68,382550BK6,GT 5 ⅝ 04/30/33,2033-04-30,450000000.0,GT
1,YO994330 Corp,US382550BS94,382550BS9,GT 6 ⅝ 07/15/30,2030-07-15,500000000.0,GT
2,BV653652 Corp,US382550BN08,382550BN0,GT 5 07/15/29,2029-07-15,844615000.0,GT
3,BV655127 Corp,US382550BR12,382550BR1,GT 5 ¼ 07/15/31,2031-07-15,599867000.0,GT
4,BO895461 Corp,US382550BJ95,382550BJ9,GT 5 ¼ 04/30/31,2031-04-30,550000000.0,GT
5,AM725107 Corp,US382550BG56,382550BG5,GT 4 ⅞ 03/15/27,2027-03-15,700000000.0,GT
6,DD116749 Corp,US382550AD35,382550AD3,GT 7 03/15/28,2028-03-15,150000000.0,GT
7,DD110096 Corp,US216831AB38,216831AB3,CTBUS 7 ⅝ 03/15/27,2027-03-15,116880000.0,GT
8,BP526577 Corp,US382550BL42,382550BL4,GT 5 07/15/29,2029-07-15,5385000.0,GT
9,BP526579 Corp,US382550BP55,382550BP5,GT 5 ¼ 07/15/31,2031-07-15,133000.0,GT

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BO895462 Corp,US382550BK68,382550BK6,GT 5 ⅝ 04/30/33,2033-04-30,450000000.0,GT
1,YO994330 Corp,US382550BS94,382550BS9,GT 6 ⅝ 07/15/30,2030-07-15,500000000.0,GT
2,BV653652 Corp,US382550BN08,382550BN0,GT 5 07/15/29,2029-07-15,844615000.0,GT
3,BV655127 Corp,US382550BR12,382550BR1,GT 5 ¼ 07/15/31,2031-07-15,599867000.0,GT
4,BO895461 Corp,US382550BJ95,382550BJ9,GT 5 ¼ 04/30/31,2031-04-30,550000000.0,GT
5,AM725107 Corp,US382550BG56,382550BG5,GT 4 ⅞ 03/15/27,2027-03-15,700000000.0,GT
6,DD116749 Corp,US382550AD35,382550AD3,GT 7 03/15/28,2028-03-15,150000000.0,GT
8,BP526577 Corp,US382550BL42,382550BL4,GT 5 07/15/29,2029-07-15,5385000.0,GT
9,BP526579 Corp,US382550BP55,382550BP5,GT 5 ¼ 07/15/31,2031-07-15,133000.0,GT

'HBGCN'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ZF449325 Corp,US44332PAJ03,44332PAJ0,HBGCN 7 ⅜ 01/31/32,2032-01-31,1.900000e+09,HBGCN
1,BS530244 Corp,US44332PAG63,44332PAG6,HBGCN 5 ⅝ 12/01/29,2029-12-01,5.500000e+08,HBGCN

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ZF449325 Corp,US44332PAJ03,44332PAJ0,HBGCN 7 ⅜ 01/31/32,2032-01-31,1.900000e+09,HBGCN
1,BS530244 Corp,US44332PAG63,44332PAG6,HBGCN 5 ⅝ 12/01/29,2029-12-01,5.500000e+08,HBGCN

'IRM'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YT719626 Corp,US46284VAQ41,46284VAQ4,IRM 6 ¼ 01/15/33,2033-01-15,1.200000e+09,IRM
1,BK877306 Corp,US46284VAN10,46284VAN1,IRM 4 ½ 02/15/31,2031-02-15,1.100000e+09,IRM
2,BK128990 Corp,US46284VAJ08,46284VAJ0,IRM 5 ¼ 07/15/30,2030-07-15,1.300000e+09,IRM
3,ZK590081 Corp,US46284VAP67,46284VAP6,IRM 7 02/15/29,2029-02-15,1.000000e+09,IRM
4,AP048743 Corp,US46284VAC54,46284VAC5,IRM 4 ⅞ 09/15/27,2027-09-15,1.000000e+09,IRM
5,AQ389129 Corp,US46284VAE11,46284VAE1,IRM 5 ¼ 03/15/28,2028-03-15,8.250000e+08,IRM
6,ZR465157 Corp,US46284VAF85,46284VAF8,IRM 4 ⅞ 09/15/29,2029-09-15,1.000000e+09,IRM
7,BK128988 Corp,US46284VAG68,46284VAG6,IRM 5 07/15/28,2028-07-15,5.000000e+08,IRM
8,BK136997 Corp,US46284VAL53,46284VAL5,IRM 5 ⅝ 07/15/32,2032-07-15,6.000000e+08,IRM

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YT719626 Corp,US46284VAQ41,46284VAQ4,IRM 6 ¼ 01/15/33,2033-01-15,1.200000e+09,IRM
1,BK877306 Corp,US46284VAN10,46284VAN1,IRM 4 ½ 02/15/31,2031-02-15,1.100000e+09,IRM
2,BK128990 Corp,US46284VAJ08,46284VAJ0,IRM 5 ¼ 07/15/30,2030-07-15,1.300000e+09,IRM
3,ZK590081 Corp,US46284VAP67,46284VAP6,IRM 7 02/15/29,2029-02-15,1.000000e+09,IRM
4,AP048743 Corp,US46284VAC54,46284VAC5,IRM 4 ⅞ 09/15/27,2027-09-15,1.000000e+09,IRM
5,AQ389129 Corp,US46284VAE11,46284VAE1,IRM 5 ¼ 03/15/28,2028-03-15,8.250000e+08,IRM
6,ZR465157 Corp,US46284VAF85,46284VAF8,IRM 4 ⅞ 09/15/29,2029-09-15,1.000000e+09,IRM
7,BK128988 Corp,US46284VAG68,46284VAG6,IRM 5 07/15/28,2028-07-15,5.000000e+08,IRM
8,BK136997 Corp,US46284VAL53,46284VAL5,IRM 5 ⅝ 07/15/32,2032-07-15,6.000000e+08,IRM

'KBH'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BP779233 Corp,US48666KAZ21,48666KAZ2,KBH 4 06/15/31,2031-06-15,390000000.0,KBH
1,BX050337 Corp,US48666KBA60,48666KBA6,KBH 7 ¼ 07/15/30,2030-07-15,350000000.0,KBH
2,AX082399 Corp,US48666KAX72,48666KAX7,KBH 6 ⅞ 06/15/27,2027-06-15,300000000.0,KBH
3,ZQ223302 Corp,US48666KAY55,48666KAY5,KBH 4.8 11/15/29,2029-11-15,300000000.0,KBH

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BP779233 Corp,US48666KAZ21,48666KAZ2,KBH 4 06/15/31,2031-06-15,390000000.0,KBH
1,BX050337 Corp,US48666KBA60,48666KBA6,KBH 7 ¼ 07/15/30,2030-07-15,350000000.0,KBH
2,AX082399 Corp,US48666KAX72,48666KAX7,KBH 6 ⅞ 06/15/27,2027-06-15,300000000.0,KBH
3,ZQ223302 Corp,US48666KAY55,48666KAY5,KBH 4.8 11/15/29,2029-11-15,300000000.0,KBH

'KSS'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BO849825 Corp,US500255AX28,500255AX2,KSS 4 ⅝ 05/01/31,2031-05-01,500000000.0,KSS
1,AF275887 Corp,US500255AV61,500255AV6,KSS 5.55 07/17/45,2045-07-17,426768000.0,KSS
2,EC763543 Corp,US500255AN46,500255AN4,KSS 6 01/15/33,2033-01-15,112374000.0,KSS
3,EG873753 Corp,US500255AQ76,500255AQ7,KSS 6 ⅞ 12/15/37,2037-12-15,100862000.0,KSS
4,EC180678 Corp,US500255AF12,500255AF1,KSS 7 ¼ 06/01/29,2029-06-01,42277000.0,KSS

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BO849825 Corp,US500255AX28,500255AX2,KSS 4 ⅝ 05/01/31,2031-05-01,500000000.0,KSS
1,AF275887 Corp,US500255AV61,500255AV6,KSS 5.55 07/17/45,2045-07-17,426768000.0,KSS
2,EC763543 Corp,US500255AN46,500255AN4,KSS 6 01/15/33,2033-01-15,112374000.0,KSS
3,EG873753 Corp,US500255AQ76,500255AQ7,KSS 6 ⅞ 12/15/37,2037-12-15,100862000.0,KSS
4,EC180678 Corp,US500255AF12,500255AF1,KSS 7 ¼ 06/01/29,2029-06-01,42277000.0,KSS

'LPX'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BO286302 Corp,US546347AM73,546347AM7,LPX 3 ⅝ 03/15/29,2029-03-15,350000000.0,LPX

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BO286302 Corp,US546347AM73,546347AM7,LPX 3 ⅝ 03/15/29,2029-03-15,350000000.0,LPX

'LUMN'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,EH974303 Corp,US156700AM80,156700AM8,LUMN 7.6 09/15/39,2039-09-15,354009000.0,LUMN
1,EJ053005 Corp,US156700AT34,156700AT3,LUMN 7.65 03/15/42,2042-03-15,291458000.0,LUMN
2,DD115610 Corp,US156686AM96,156686AM9,LUMN 6 ⅞ 01/15/28,2028-01-15,137723000.0,LUMN
3,BP908546 Corp,US550241AA19,550241AA1,LUMN 5 ⅜ 06/15/29,2029-06-15,231544000.0,LUMN
4,BM709861 Corp,US156700BD72,156700BD7,LUMN 4 ½ 01/15/29,2029-01-15,323699000.0,LUMN
5,DD104181 Corp,US156686AJ67,156686AJ6,LUMN 7.2 12/01/25,2025-12-01,0.0,LUMN

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,EH974303 Corp,US156700AM80,156700AM8,LUMN 7.6 09/15/39,2039-09-15,354009000.0,LUMN
1,EJ053005 Corp,US156700AT34,156700AT3,LUMN 7.65 03/15/42,2042-03-15,291458000.0,LUMN
2,DD115610 Corp,US156686AM96,156686AM9,LUMN 6 ⅞ 01/15/28,2028-01-15,137723000.0,LUMN
3,BP908546 Corp,US550241AA19,550241AA1,LUMN 5 ⅜ 06/15/29,2029-06-15,231544000.0,LUMN
4,BM709861 Corp,US156700BD72,156700BD7,LUMN 4 ½ 01/15/29,2029-01-15,323699000.0,LUMN
5,DD104181 Corp,US156686AJ67,156686AJ6,LUMN 7.2 12/01/25,2025-12-01,0.0,LUMN

'LW'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BS036568 Corp,US513272AE49,513272AE4,LW 4 ⅜ 01/31/32,2032-01-31,700000000.0,LW
1,BS036567 Corp,US513272AD65,513272AD6,LW 4 ⅛ 01/31/30,2030-01-31,970000000.0,LW
2,BJ373124 Corp,US513272AC82,513272AC8,LW 4 ⅞ 05/15/28,2028-05-15,500000000.0,LW

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BS036568 Corp,US513272AE49,513272AE4,LW 4 ⅜ 01/31/32,2032-01-31,700000000.0,LW
1,BS036567 Corp,US513272AD65,513272AD6,LW 4 ⅛ 01/31/30,2030-01-31,970000000.0,LW
2,BJ373124 Corp,US513272AC82,513272AC8,LW 4 ⅞ 05/15/28,2028-05-15,500000000.0,LW

'MBI'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,EC048995 Corp,US55262CAF77,55262CAF7,MBI 6 ⅝ 10/01/28,2028-10-01,112385000.0,MBI
1,EF226060 Corp,US55266LCY02,55266LCY0,MBI 0 12/15/31,2031-12-15,167179984.8,MBI
2,DD104428 Corp,US55262CAE03,55262CAE0,MBI 7 12/15/25,2025-12-15,45310000.0,MBI
3,DD111667 Corp,US55262CAD20,55262CAD2,MBI 7.15 07/15/27,2027-07-15,94455173.0,MBI
4,JV323143 Corp,XS0166319813,JV3231430,MBI 0 12/15/33,2033-12-15,192470000.0,MBI
5,ED702030 Corp,US55262CAJ99,55262CAJ9,MBI 5.7 12/01/34,2034-12-01,329115000.0,MBI
6,ED143819 Corp,XS0176515798,ED1438198,MBI 0 12/15/31,2031-12-15,94602000.0,MBI
7,EG448701 Corp,US55266LGA89,55266LGA8,MBI Float 06/13/36,2036-06-13,10000000.0,MBI
8,AN845324 Corp,XS0166443076,AN8453242,MBI 0 01/15/32,2032-01-15,8431029.3,MBI
9,AN860493 Corp,XS0166442698,AN8604935,MBI 0 01/15/32,2032-01-15,10117310.0,MBI
10,EF785473 Corp,US55266LEK89,55266LEK8,MBI 6 11/06/26,2026-11-06,5000000.0,MBI

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,EC048995 Corp,US55262CAF77,55262CAF7,MBI 6 ⅝ 10/01/28,2028-10-01,112385000.0,MBI
1,EF226060 Corp,US55266LCY02,55266LCY0,MBI 0 12/15/31,2031-12-15,167179984.8,MBI
2,DD104428 Corp,US55262CAE03,55262CAE0,MBI 7 12/15/25,2025-12-15,45310000.0,MBI
3,DD111667 Corp,US55262CAD20,55262CAD2,MBI 7.15 07/15/27,2027-07-15,94455173.0,MBI
4,JV323143 Corp,XS0166319813,JV3231430,MBI 0 12/15/33,2033-12-15,192470000.0,MBI
5,ED702030 Corp,US55262CAJ99,55262CAJ9,MBI 5.7 12/01/34,2034-12-01,329115000.0,MBI
6,ED143819 Corp,XS0176515798,ED1438198,MBI 0 12/15/31,2031-12-15,94602000.0,MBI
7,EG448701 Corp,US55266LGA89,55266LGA8,MBI Float 06/13/36,2036-06-13,10000000.0,MBI
8,AN845324 Corp,XS0166443076,AN8453242,MBI 0 01/15/32,2032-01-15,8431029.3,MBI
9,AN860493 Corp,XS0166442698,AN8604935,MBI 0 01/15/32,2032-01-15,10117310.0,MBI
10,EF785473 Corp,US55266LEK89,55266LEK8,MBI 6 11/06/26,2026-11-06,5000000.0,MBI

'MGM'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ZB009299 Corp,US552953CJ87,552953CJ8,MGM 6 ½ 04/15/32,2032-04-15,750000000.0,MGM
1,ZO861053 Corp,US552953CH22,552953CH2,MGM 4 ¾ 10/15/28,2028-10-15,750000000.0,MGM
2,AX901360 Corp,US552953CF65,552953CF6,MGM 5 ½ 04/15/27,2027-04-15,675000000.0,MGM
3,YV566983 Corp,US552953CK50,552953CK5,MGM 6 ⅛ 09/15/29,2029-09-15,850000000.0,MGM
4,QZ260917 Corp,US552953CD18,552953CD1,MGM 4 ⅝ 09/01/26,2026-09-01,400000000.0,MGM
5,DD108374 Corp,US172909AH67,172909AH6,MANRES 7 11/15/36,2036-11-15,552000.0,MGM

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ZB009299 Corp,US552953CJ87,552953CJ8,MGM 6 ½ 04/15/32,2032-04-15,750000000.0,MGM
1,ZO861053 Corp,US552953CH22,552953CH2,MGM 4 ¾ 10/15/28,2028-10-15,750000000.0,MGM
2,AX901360 Corp,US552953CF65,552953CF6,MGM 5 ½ 04/15/27,2027-04-15,675000000.0,MGM
3,YV566983 Corp,US552953CK50,552953CK5,MGM 6 ⅛ 09/15/29,2029-09-15,850000000.0,MGM
4,QZ260917 Corp,US552953CD18,552953CD1,MGM 4 ⅝ 09/01/26,2026-09-01,400000000.0,MGM

'MUR'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YV932846 Corp,US626717AP72,626717AP7,MUR 6 10/01/32,2032-10-01,600000000.0,MUR
1,EJ460604 Corp,US626717AG73,626717AG7,MUR 5 ⅛ 12/01/42,2042-12-01,339761000.0,MUR
2,ZQ601925 Corp,US626717AM42,626717AM4,MUR 5 ⅞ 12/01/27,2027-12-01,78899000.0,MUR
3,EC130655 Corp,US626717AA04,626717AA0,MUR 7.05 05/01/29,2029-05-01,117582000.0,MUR
4,BO362390 Corp,US626717AN25,626717AN2,MUR 6 ⅜ 07/15/28,2028-07-15,148590000.0,MUR

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YV932846 Corp,US626717AP72,626717AP7,MUR 6 10/01/32,2032-10-01,600000000.0,MUR
1,EJ460604 Corp,US626717AG73,626717AG7,MUR 5 ⅛ 12/01/42,2042-12-01,339761000.0,MUR
2,ZQ601925 Corp,US626717AM42,626717AM4,MUR 5 ⅞ 12/01/27,2027-12-01,78899000.0,MUR
3,EC130655 Corp,US626717AA04,626717AA0,MUR 7.05 05/01/29,2029-05-01,117582000.0,MUR
4,BO362390 Corp,US626717AN25,626717AN2,MUR 6 ⅜ 07/15/28,2028-07-15,148590000.0,MUR

'NAVI'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BS247791 Corp,US63938CAM01,63938CAM0,NAVI 5 ½ 03/15/29,2029-03-15,750000000,NAVI
1,YO521964 Corp,US63938CAQ15,63938CAQ1,NAVI 7 ⅞ 06/15/32,2032-06-15,500000000,NAVI
2,ED061198 Corp,US78442FAZ18,78442FAZ1,NAVI 5 ⅝ 08/01/33,2033-08-01,593989000,NAVI
3,ZH849707 Corp,US63938CAP32,63938CAP3,NAVI 11 ½ 03/15/31,2031-03-15,500000000,NAVI
4,ED317395 Corp,US78490FKA65,78490FKA6,NAVI 5 ¾ 03/15/29,2029-03-15,5962000,NAVI
...,...,...,...,...,...,...,...
142,EF728667 Corp,US78490FZY86,78490FZY8,NAVI 5.85 12/15/31,2031-12-15,1799000,NAVI
143,EF949438 Corp,US78490FC492,78490FC49,NAVI 5.65 03/15/32,2032-03-15,1547000,NAVI
144,EG045040 Corp,US78490FC567,78490FC56,NAVI 5.7 03/15/32,2032-03-15,1534000,NAVI
145,EG133830 Corp,US78490GAD97,78490GAD9,NAVI 5.85 03/15/32,2032-03-15,1225000,NAVI
146,EG173616 Corp,US78490GAH02,78490GAH0,NAVI 5.85 03/15/32,2032-03-15,1290000,NAVI

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BS247791 Corp,US63938CAM01,63938CAM0,NAVI 5 ½ 03/15/29,2029-03-15,750000000,NAVI
1,YO521964 Corp,US63938CAQ15,63938CAQ1,NAVI 7 ⅞ 06/15/32,2032-06-15,500000000,NAVI
2,ED061198 Corp,US78442FAZ18,78442FAZ1,NAVI 5 ⅝ 08/01/33,2033-08-01,593989000,NAVI
3,ZH849707 Corp,US63938CAP32,63938CAP3,NAVI 11 ½ 03/15/31,2031-03-15,500000000,NAVI
4,ED317395 Corp,US78490FKA65,78490FKA6,NAVI 5 ¾ 03/15/29,2029-03-15,5962000,NAVI
...,...,...,...,...,...,...,...
142,EF728667 Corp,US78490FZY86,78490FZY8,NAVI 5.85 12/15/31,2031-12-15,1799000,NAVI
143,EF949438 Corp,US78490FC492,78490FC49,NAVI 5.65 03/15/32,2032-03-15,1547000,NAVI
144,EG045040 Corp,US78490FC567,78490FC56,NAVI 5.7 03/15/32,2032-03-15,1534000,NAVI
145,EG133830 Corp,US78490GAD97,78490GAD9,NAVI 5.85 03/15/32,2032-03-15,1225000,NAVI
146,EG173616 Corp,US78490GAH02,78490GAH0,NAVI 5.85 03/15/32,2032-03-15,1290000,NAVI

'NRG'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YU572063 Corp,US629377CX83,629377CX8,NRG 6 ¼ 11/01/34,2034-11-01,9.500000e+08,NRG
1,AU801924 Corp,US629377CE03,629377CE0,NRG 5 ¾ 01/15/28,2028-01-15,8.210380e+08,NRG
2,ZS525237 Corp,US629377CH34,629377CH3,NRG 5 ¼ 06/15/29,2029-06-15,7.330000e+08,NRG
3,YU897613 Corp,US629377CY66,629377CY6,NRG 5 ¾ 07/15/29,2029-07-15,7.982370e+08,NRG
4,YU572062 Corp,US629377CW01,629377CW0,NRG 6 02/01/33,2033-02-01,9.250000e+08,NRG
5,BM587846 Corp,US629377CR16,629377CR1,NRG 3 ⅝ 02/15/31,2031-02-15,1.030000e+09,NRG
6,BQ943644 Corp,US629377CS98,629377CS9,NRG 3 ⅞ 02/15/32,2032-02-15,4.800000e+08,NRG
7,BM587837 Corp,US629377CQ33,629377CQ3,NRG 3 ⅜ 02/15/29,2029-02-15,5.000000e+08,NRG
8,AQ256828 Corp,US629377CD20,629377CD2,NRG 5 ¾ 01/15/28,2028-01-15,2.600000e+04,NRG

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YU572063 Corp,US629377CX83,629377CX8,NRG 6 ¼ 11/01/34,2034-11-01,9.500000e+08,NRG
1,AU801924 Corp,US629377CE03,629377CE0,NRG 5 ¾ 01/15/28,2028-01-15,8.210380e+08,NRG
2,ZS525237 Corp,US629377CH34,629377CH3,NRG 5 ¼ 06/15/29,2029-06-15,7.330000e+08,NRG
3,YU897613 Corp,US629377CY66,629377CY6,NRG 5 ¾ 07/15/29,2029-07-15,7.982370e+08,NRG
4,YU572062 Corp,US629377CW01,629377CW0,NRG 6 02/01/33,2033-02-01,9.250000e+08,NRG
5,BM587846 Corp,US629377CR16,629377CR1,NRG 3 ⅝ 02/15/31,2031-02-15,1.030000e+09,NRG
6,BQ943644 Corp,US629377CS98,629377CS9,NRG 3 ⅞ 02/15/32,2032-02-15,4.800000e+08,NRG
7,BM587837 Corp,US629377CQ33,629377CQ3,NRG 3 ⅜ 02/15/29,2029-02-15,5.000000e+08,NRG
8,AQ256828 Corp,US629377CD20,629377CD2,NRG 5 ¾ 01/15/28,2028-01-15,2.600000e+04,NRG

'COOP'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ZP480045 Corp,US63861CAA71,63861CAA7,COOP 6 01/15/27,2027-01-15,6.000000e+08,COOP
1,ZF666996 Corp,US63861CAF68,63861CAF6,COOP 7 ⅛ 02/01/32,2032-02-01,1.000000e+09,COOP
2,YW742254 Corp,US63861CAG42,63861CAG4,COOP 6 ½ 08/01/29,2029-08-01,7.500000e+08,COOP
3,BM857752 Corp,US63861CAD11,63861CAD1,COOP 5 ⅛ 12/15/30,2030-12-15,7.587500e+07,COOP
4,BS245692 Corp,US63861CAE93,63861CAE9,COOP 5 ¾ 11/15/31,2031-11-15,6.523500e+07,COOP
5,BK767117 Corp,US63861CAC38,63861CAC3,COOP 5 ½ 08/15/28,2028-08-15,8.500000e+08,COOP
6,BN489972 Corp,US43734LAA44,43734LAA4,COOP 5 02/01/26,2026-02-01,5.000000e+08,COOP

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ZP480045 Corp,US63861CAA71,63861CAA7,COOP 6 01/15/27,2027-01-15,6.000000e+08,COOP
1,ZF666996 Corp,US63861CAF68,63861CAF6,COOP 7 ⅛ 02/01/32,2032-02-01,1.000000e+09,COOP
2,YW742254 Corp,US63861CAG42,63861CAG4,COOP 6 ½ 08/01/29,2029-08-01,7.500000e+08,COOP
3,BM857752 Corp,US63861CAD11,63861CAD1,COOP 5 ⅛ 12/15/30,2030-12-15,7.587500e+07,COOP
4,BS245692 Corp,US63861CAE93,63861CAE9,COOP 5 ¾ 11/15/31,2031-11-15,6.523500e+07,COOP
5,BK767117 Corp,US63861CAC38,63861CAC3,COOP 5 ½ 08/15/28,2028-08-15,8.500000e+08,COOP
6,BN489972 Corp,US43734LAA44,43734LAA4,COOP 5 02/01/26,2026-02-01,5.000000e+08,COOP

'NWL'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YU851359 Corp,US651229BF23,651229BF2,NWL 6 ⅜ 05/15/30,2030-05-15,7.500000e+08,NWL
1,YU851360 Corp,US651229BE57,651229BE5,NWL 6 ⅝ 05/15/32,2032-05-15,5.000000e+08,NWL
2,YO353061 Corp,US651229BG06,651229BG0,NWL 8 ½ 06/01/28,2028-06-01,1.250000e+09,NWL
3,JK529758 Corp,US651229AY21,651229AY2,NWL 7 04/01/46,2046-04-01,6.661590e+08,NWL
4,BY982041 Corp,US651229BD74,651229BD7,NWL 6 ⅝ 09/15/29,2029-09-15,5.000000e+08,NWL
5,JK522428 Corp,US651229AX48,651229AX4,NWL 6 ⅞ 04/01/36,2036-04-01,4.198340e+08,NWL
6,BY982034 Corp,US651229BC91,651229BC9,NWL 6 ⅜ 09/15/27,2027-09-15,5.000000e+08,NWL
7,QJ196031 Corp,US651229AS52,651229AS5,NWL 3.9 11/01/25,2025-11-01,4.719400e+07,NWL
8,EC008110 Corp,US65119QBF90,65119QBF9,NWL 6.11 07/17/28,2028-07-17,1.500000e+06,NWL

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YU851359 Corp,US651229BF23,651229BF2,NWL 6 ⅜ 05/15/30,2030-05-15,7.500000e+08,NWL
1,YU851360 Corp,US651229BE57,651229BE5,NWL 6 ⅝ 05/15/32,2032-05-15,5.000000e+08,NWL
2,YO353061 Corp,US651229BG06,651229BG0,NWL 8 ½ 06/01/28,2028-06-01,1.250000e+09,NWL
3,JK529758 Corp,US651229AY21,651229AY2,NWL 7 04/01/46,2046-04-01,6.661590e+08,NWL
4,BY982041 Corp,US651229BD74,651229BD7,NWL 6 ⅝ 09/15/29,2029-09-15,5.000000e+08,NWL
5,JK522428 Corp,US651229AX48,651229AX4,NWL 6 ⅞ 04/01/36,2036-04-01,4.198340e+08,NWL
6,BY982034 Corp,US651229BC91,651229BC9,NWL 6 ⅜ 09/15/27,2027-09-15,5.000000e+08,NWL
7,QJ196031 Corp,US651229AS52,651229AS5,NWL 3.9 11/01/25,2025-11-01,4.719400e+07,NWL
8,EC008110 Corp,US65119QBF90,65119QBF9,NWL 6.11 07/17/28,2028-07-17,1.500000e+06,NWL

'OLN'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YR975915 Corp,US680665AN65,680665AN6,OLN 6 ⅝ 04/01/33,2033-04-01,600000000.0,OLN
1,AZ625882 Corp,US680665AL00,680665AL0,OLN 5 ⅝ 08/01/29,2029-08-01,669266000.0,OLN
2,AQ814311 Corp,US680665AK27,680665AK2,OLN 5 02/01/30,2030-02-01,515321000.0,OLN

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YR975915 Corp,US680665AN65,680665AN6,OLN 6 ⅝ 04/01/33,2033-04-01,600000000.0,OLN
1,AZ625882 Corp,US680665AL00,680665AL0,OLN 5 ⅝ 08/01/29,2029-08-01,669266000.0,OLN
2,AQ814311 Corp,US680665AK27,680665AK2,OLN 5 02/01/30,2030-02-01,515321000.0,OLN

'PBI'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YL045381 Corp,US724479AR14,724479AR1,PBI 1 ½ 08/15/30,2030-08-15,230000000.0,PBI
1,BO492719 Corp,US724479AQ31,724479AQ3,PBI 7 ¼ 03/15/29,2029-03-15,350000000.0,PBI
2,BO492697 Corp,US724479AP57,724479AP5,PBI 6 ⅞ 03/15/27,2027-03-15,380000000.0,PBI
3,EF844297 Corp,US72447XAB38,72447XAB3,PBI 5 ¼ 01/15/37,2037-01-15,35841000.0,PBI

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YL045381 Corp,US724479AR14,724479AR1,PBI 1 ½ 08/15/30,2030-08-15,230000000.0,PBI
1,BO492719 Corp,US724479AQ31,724479AQ3,PBI 7 ¼ 03/15/29,2029-03-15,350000000.0,PBI
2,BO492697 Corp,US724479AP57,724479AP5,PBI 6 ⅞ 03/15/27,2027-03-15,380000000.0,PBI
3,EF844297 Corp,US72447XAB38,72447XAB3,PBI 5 ¼ 01/15/37,2037-01-15,35841000.0,PBI

'POST'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YU079647 Corp,US737446AX26,737446AX2,POST 6 ¼ 10/15/34,2034-10-15,6.000000e+08,POST
1,YV015379 Corp,US737446AV69,737446AV6,POST 6 ⅜ 03/01/33,2033-03-01,1.200000e+09,POST
2,BG016849 Corp,US737446AQ74,737446AQ7,POST 4 ⅝ 04/15/30,2030-04-15,1.385395e+09,POST
3,BY371049 Corp,US737446AT14,737446AT1,POST 2 ½ 08/15/27,2027-08-15,5.750000e+08,POST
4,BO254523 Corp,US737446AR57,737446AR5,POST 4 ½ 09/15/31,2031-09-15,1.042271e+09,POST
5,AZ302464 Corp,US737446AP91,737446AP9,POST 5 ½ 12/15/29,2029-12-15,1.235000e+09,POST

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YU079647 Corp,US737446AX26,737446AX2,POST 6 ¼ 10/15/34,2034-10-15,6.000000e+08,POST
1,YV015379 Corp,US737446AV69,737446AV6,POST 6 ⅜ 03/01/33,2033-03-01,1.200000e+09,POST
2,BG016849 Corp,US737446AQ74,737446AQ7,POST 4 ⅝ 04/15/30,2030-04-15,1.385395e+09,POST
3,BY371049 Corp,US737446AT14,737446AT1,POST 2 ½ 08/15/27,2027-08-15,5.750000e+08,POST
4,BO254523 Corp,US737446AR57,737446AR5,POST 4 ½ 09/15/31,2031-09-15,1.042271e+09,POST
5,AZ302464 Corp,US737446AP91,737446AP9,POST 5 ½ 12/15/29,2029-12-15,1.235000e+09,POST

'RCL'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YV844747 Corp,US780153BW11,780153BW1,RCL 5 ⅝ 09/30/31,2031-09-30,1.500000e+09,RCL
1,YW737720 Corp,US780153BV38,780153BV3,RCL 6 02/01/33,2033-02-01,2.000000e+09,RCL
2,ZD244549 Corp,US780153BU54,780153BU5,RCL 6 ¼ 03/15/32,2032-03-15,1.250000e+09,RCL
3,BO771168 Corp,US780153BG60,780153BG6,RCL 5 ½ 04/01/28,2028-04-01,1.500000e+09,RCL
4,BQ987727 Corp,US780153BJ00,780153BJ0,RCL 5 ½ 08/31/26,2026-08-31,1.000000e+09,RCL
5,DD113662 Corp,US780153AG79,780153AG7,RCL 7 ½ 10/15/27,2027-10-15,3.000000e+08,RCL
6,AQ117540 Corp,US780153AW20,780153AW2,RCL 3.7 03/15/28,2028-03-15,5.000000e+08,RCL
7,BQ091831 Corp,US780153BH44,780153BH4,RCL 4 ¼ 07/01/26,2026-07-01,6.500000e+08,RCL
8,BT316924 Corp,US780153BK72,780153BK7,RCL 5 ⅜ 07/15/27,2027-07-15,1.000000e+09,RCL

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,YV844747 Corp,US780153BW11,780153BW1,RCL 5 ⅝ 09/30/31,2031-09-30,1.500000e+09,RCL
1,YW737720 Corp,US780153BV38,780153BV3,RCL 6 02/01/33,2033-02-01,2.000000e+09,RCL
2,ZD244549 Corp,US780153BU54,780153BU5,RCL 6 ¼ 03/15/32,2032-03-15,1.250000e+09,RCL
3,BO771168 Corp,US780153BG60,780153BG6,RCL 5 ½ 04/01/28,2028-04-01,1.500000e+09,RCL
4,BQ987727 Corp,US780153BJ00,780153BJ0,RCL 5 ½ 08/31/26,2026-08-31,1.000000e+09,RCL
5,DD113662 Corp,US780153AG79,780153AG7,RCL 7 ½ 10/15/27,2027-10-15,3.000000e+08,RCL
6,AQ117540 Corp,US780153AW20,780153AW2,RCL 3.7 03/15/28,2028-03-15,5.000000e+08,RCL
7,BQ091831 Corp,US780153BH44,780153BH4,RCL 4 ¼ 07/01/26,2026-07-01,6.500000e+08,RCL
8,BT316924 Corp,US780153BK72,780153BK7,RCL 5 ⅜ 07/15/27,2027-07-15,1.000000e+09,RCL

'RRD'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,EC124035 Corp,US257867AG67,257867AG6,RRD 6 ⅝ 04/15/29,2029-04-15,59716046.0,RRD
1,EC002661 Corp,US257867AF84,257867AF8,RRD 8.82 04/15/31,2031-04-15,28354000.0,RRD
2,BG960832 Corp,US257867BC45,257867BC4,RRD 8 ½ 04/15/29,2029-04-15,935000.0,RRD

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,EC124035 Corp,US257867AG67,257867AG6,RRD 6 ⅝ 04/15/29,2029-04-15,59716046.0,RRD
1,EC002661 Corp,US257867AF84,257867AF8,RRD 8.82 04/15/31,2031-04-15,28354000.0,RRD
2,BG960832 Corp,US257867BC45,257867BC4,RRD 8 ½ 04/15/29,2029-04-15,935000.0,RRD

'SEE'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ZQ584123 Corp,US81211KAY64,81211KAY6,SEE 4 12/01/27,2027-12-01,425000000.0,SEE
1,YX812500 Corp,US812127AC28,812127AC2,SEE 6 ½ 07/15/32,2032-07-15,400000000.0,SEE
2,BV750883 Corp,US81211KBA79,81211KBA7,SEE 5 04/15/29,2029-04-15,425000000.0,SEE
3,ED038959 Corp,US81211KAK60,81211KAK6,SEE 6 ⅞ 07/15/33,2033-07-15,450000000.0,SEE
4,ZG040058 Corp,US812127AB45,812127AB4,SEE 7 ¼ 02/15/31,2031-02-15,425000000.0,SEE
5,ZM508406 Corp,US812127AA61,812127AA6,SEE 6 ⅛ 02/01/28,2028-02-01,775000000.0,SEE

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ZQ584123 Corp,US81211KAY64,81211KAY6,SEE 4 12/01/27,2027-12-01,425000000.0,SEE
1,YX812500 Corp,US812127AC28,812127AC2,SEE 6 ½ 07/15/32,2032-07-15,400000000.0,SEE
2,BV750883 Corp,US81211KBA79,81211KBA7,SEE 5 04/15/29,2029-04-15,425000000.0,SEE
3,ED038959 Corp,US81211KAK60,81211KAK6,SEE 6 ⅞ 07/15/33,2033-07-15,450000000.0,SEE
4,ZG040058 Corp,US812127AB45,812127AB4,SEE 7 ¼ 02/15/31,2031-02-15,425000000.0,SEE
5,ZM508406 Corp,US812127AA61,812127AA6,SEE 6 ⅛ 02/01/28,2028-02-01,775000000.0,SEE

'SPLS'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ZS003151 Corp,US855030AP77,855030AP7,SPLS 10 ¾ 04/15/27,2027-04-15,23473000.0,SPLS

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ZS003151 Corp,US855030AP77,855030AP7,SPLS 10 ¾ 04/15/27,2027-04-15,23473000.0,SPLS

'SVC'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,JV890726 Corp,US44106MAV46,44106MAV4,SVC 5 ¼ 02/15/26,2026-02-15,350000000.0,SVC
1,ZR551830 Corp,US44106MBB72,44106MBB7,SVC 4.95 10/01/29,2029-10-01,425000000.0,SVC
2,AR030638 Corp,US44106MAY84,44106MAY8,SVC 4 ⅜ 02/15/30,2030-02-15,400000000.0,SVC
3,ZR551829 Corp,US44106MBA99,44106MBA9,SVC 4 ¾ 10/01/26,2026-10-01,450000000.0,SVC
4,YX143324 Corp,US81761LAE20,81761LAE2,SVC 8 ⅞ 06/15/32,2032-06-15,500000000.0,SVC
5,AM100551 Corp,US44106MAW29,44106MAW2,SVC 4.95 02/15/27,2027-02-15,400000000.0,SVC
6,AP629447 Corp,US44106MAX02,44106MAX0,SVC 3.95 01/15/28,2028-01-15,400000000.0,SVC
7,BM608814 Corp,US81761LAB80,81761LAB8,SVC 5 ½ 12/15/27,2027-12-15,450000000.0,SVC
8,YX143323 Corp,US81761LAD47,81761LAD4,SVC 8 ⅜ 06/15/29,2029-06-15,700000000.0,SVC

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,JV890726 Corp,US44106MAV46,44106MAV4,SVC 5 ¼ 02/15/26,2026-02-15,350000000.0,SVC
1,ZR551830 Corp,US44106MBB72,44106MBB7,SVC 4.95 10/01/29,2029-10-01,425000000.0,SVC
2,AR030638 Corp,US44106MAY84,44106MAY8,SVC 4 ⅜ 02/15/30,2030-02-15,400000000.0,SVC
3,ZR551829 Corp,US44106MBA99,44106MBA9,SVC 4 ¾ 10/01/26,2026-10-01,450000000.0,SVC
4,YX143324 Corp,US81761LAE20,81761LAE2,SVC 8 ⅞ 06/15/32,2032-06-15,500000000.0,SVC
5,AM100551 Corp,US44106MAW29,44106MAW2,SVC 4.95 02/15/27,2027-02-15,400000000.0,SVC
6,AP629447 Corp,US44106MAX02,44106MAX0,SVC 3.95 01/15/28,2028-01-15,400000000.0,SVC
7,BM608814 Corp,US81761LAB80,81761LAB8,SVC 5 ½ 12/15/27,2027-12-15,450000000.0,SVC
8,YX143323 Corp,US81761LAD47,81761LAD4,SVC 8 ⅜ 06/15/29,2029-06-15,700000000.0,SVC

'SWY'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,EC162465 Corp,US013104AF19,013104AF1,NEWALB 7.45 08/01/29,2029-08-01,127206000.0,SWY
1,EC342143 Corp,US786514BA67,786514BA6,SWY 7 ¼ 02/01/31,2031-02-01,262099000.0,SWY
2,EC382722 Corp,US013104AL86,013104AL8,NEWALB 8 05/01/31,2031-05-01,108879000.0,SWY
3,MM129713 Corp,US01310QCH65,01310QCH6,NEWALB 7.11 07/22/27,2027-07-22,11045000.0,SWY
4,DD112933 Corp,US786514AS84,786514AS8,SWY 7.45 09/15/27,2027-09-15,120078000.0,SWY
5,EC255167 Corp,US013104AH74,013104AH7,NEWALB 8.7 05/01/30,2030-05-01,135098000.0,SWY
6,CP508403 Corp,US01310QDB86,01310QDB8,NEWALB 6 ⅝ 06/01/28,2028-06-01,19898000.0,SWY
7,DD106657 Corp,US013104AC87,013104AC8,NEWALB 7 ¾ 06/15/26,2026-06-15,56536000.0,SWY
8,CP508347 Corp,US01310QDA04,01310QDA0,NEWALB 6.63 06/02/28,2028-06-02,6000000.0,SWY
9,CP502571 Corp,US01310QCY98,01310QCY9,NEWALB 6.53 04/10/28,2028-04-10,12000000.0,SWY
10,CP502536 Corp,US01310QCZ63,01310QCZ6,NEWALB 6.52 04/10/28,2028-04-10,5170000.0,SWY
11,MM129286 Corp,US01310QCK94,01310QCK9,NEWALB 7.15 07/23/27,2027-07-23,310000.0,SWY
12,MM129839 Corp,US01310QCL77,01310QCL7,NEWALB 6.56 07/26/27,2027-07-26,210000.0,SWY
13,MM135558 Corp,US01310QCW33,01310QCW3,NEWALB 6.57 02/23/28,2028-02-23,24278000.0,SWY

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
1,EC342143 Corp,US786514BA67,786514BA6,SWY 7 ¼ 02/01/31,2031-02-01,262099000.0,SWY
4,DD112933 Corp,US786514AS84,786514AS8,SWY 7.45 09/15/27,2027-09-15,120078000.0,SWY

'TGNA'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ZR543833 Corp,US87901JAH86,87901JAH8,TGNA 5 09/15/29,2029-09-15,1.100000e+09,TGNA
1,ZP329565 Corp,US87901JAJ43,87901JAJ4,TGNA 4 ⅝ 03/15/28,2028-03-15,1.000000e+09,TGNA
2,ZO392834 Corp,US87901JAF21,87901JAF2,TGNA 4 ¾ 03/15/26,2026-03-15,3.000000e+08,TGNA
3,DD113183 Corp,US080555AF20,080555AF2,TGNA 7 ¼ 09/15/27,2027-09-15,2.400000e+08,TGNA
4,DD111391 Corp,US080555AE54,080555AE5,TGNA 7 ¾ 06/01/27,2027-06-01,2.000000e+08,TGNA

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ZR543833 Corp,US87901JAH86,87901JAH8,TGNA 5 09/15/29,2029-09-15,1.100000e+09,TGNA
1,ZP329565 Corp,US87901JAJ43,87901JAJ4,TGNA 4 ⅝ 03/15/28,2028-03-15,1.000000e+09,TGNA
2,ZO392834 Corp,US87901JAF21,87901JAF2,TGNA 4 ¾ 03/15/26,2026-03-15,3.000000e+08,TGNA
3,DD113183 Corp,US080555AF20,080555AF2,TGNA 7 ¼ 09/15/27,2027-09-15,2.400000e+08,TGNA
4,DD111391 Corp,US080555AE54,080555AE5,TGNA 7 ¾ 06/01/27,2027-06-01,2.000000e+08,TGNA

'THC'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ZO269471 Corp,US88033GDK31,88033GDK3,THC 6 ⅛ 10/01/28,2028-10-01,2.500000e+09,THC
1,EC508237 Corp,US88033GAV23,88033GAV2,THC 6 ⅞ 11/15/31,2031-11-15,3.615000e+08,THC

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ZO269471 Corp,US88033GDK31,88033GDK3,THC 6 ⅛ 10/01/28,2028-10-01,2.500000e+09,THC
1,EC508237 Corp,US88033GAV23,88033GAV2,THC 6 ⅞ 11/15/31,2031-11-15,3.615000e+08,THC

'TIBX'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,EJ135290 Corp,US88632QAB95,88632QAB9,TIBX 2 ¼ 05/01/32,2032-05-01,8115000.0,TIBX

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,EJ135290 Corp,US88632QAB95,88632QAB9,TIBX 2 ¼ 05/01/32,2032-05-01,8115000.0,TIBX

'UFS'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,EJ950479 Corp,US257559AK07,257559AK0,UFS 6 ¾ 02/15/44,2044-02-15,149718000.0,UFS
1,EJ332584 Corp,US257559AJ34,257559AJ3,UFS 6 ¼ 09/01/42,2042-09-01,115700000.0,UFS

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,EJ950479 Corp,US257559AK07,257559AK0,UFS 6 ¾ 02/15/44,2044-02-15,149718000.0,UFS
1,EJ332584 Corp,US257559AJ34,257559AJ3,UFS 6 ¼ 09/01/42,2042-09-01,115700000.0,UFS

'UNIT'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ZN811229 Corp,US91325VAB45,91325VAB4,UNIT 7 ½ 12/01/27,2027-12-01,306500000.0,UNIT

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,ZN811229 Corp,US91325VAB45,91325VAB4,UNIT 7 ½ 12/01/27,2027-12-01,306500000.0,UNIT

'WBA'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,LW243851 Corp,US931427AQ19,931427AQ1,WBA 3.45 06/01/26,2026-06-01,313245000.0,WBA
1,YV014251 Corp,US931427AW86,931427AW8,WBA 8 ⅛ 08/15/29,2029-08-15,33110000.0,WBA
2,BH786091 Corp,US931427AS74,931427AS7,WBA 3.2 04/15/30,2030-04-15,83051000.0,WBA
3,EK589150 Corp,US931427AC23,931427AC2,WBA 4.8 11/18/44,2044-11-18,36543000.0,WBA
4,BH786092 Corp,US931427AT57,931427AT5,WBA 4.1 04/15/50,2050-04-15,12321000.0,WBA
5,EK589138 Corp,US931427AB40,931427AB4,WBA 4 ½ 11/18/34,2034-11-18,31956000.0,WBA
6,EJ358582 Corp,US931422AK51,931422AK5,WBA 4.4 09/15/42,2042-09-15,29671000.0,WBA
7,LW243875 Corp,US931427AR91,931427AR9,WBA 4.65 06/01/46,2046-06-01,7539000.0,WBA

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,LW243851 Corp,US931427AQ19,931427AQ1,WBA 3.45 06/01/26,2026-06-01,313245000.0,WBA
1,YV014251 Corp,US931427AW86,931427AW8,WBA 8 ⅛ 08/15/29,2029-08-15,33110000.0,WBA
2,BH786091 Corp,US931427AS74,931427AS7,WBA 3.2 04/15/30,2030-04-15,83051000.0,WBA
3,EK589150 Corp,US931427AC23,931427AC2,WBA 4.8 11/18/44,2044-11-18,36543000.0,WBA
4,BH786092 Corp,US931427AT57,931427AT5,WBA 4.1 04/15/50,2050-04-15,12321000.0,WBA
5,EK589138 Corp,US931427AB40,931427AB4,WBA 4 ½ 11/18/34,2034-11-18,31956000.0,WBA
6,EJ358582 Corp,US931422AK51,931422AK5,WBA 4.4 09/15/42,2042-09-15,29671000.0,WBA
7,LW243875 Corp,US931427AR91,931427AR9,WBA 4.65 06/01/46,2046-06-01,7539000.0,WBA

'X'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BN970577 Corp,US912909AU28,912909AU2,X 6 ⅞ 03/01/29,2029-03-01,474999000.0,X
1,EG460701 Corp,US912909AD03,912909AD0,X 6.65 06/01/37,2037-06-01,274142000.0,X
2,ZQ153470 Corp,US912909AT54,912909AT5,X 5 11/01/26,2026-11-01,373000.0,X

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BN970577 Corp,US912909AU28,912909AU2,X 6 ⅞ 03/01/29,2029-03-01,474999000.0,X
1,EG460701 Corp,US912909AD03,912909AD0,X 6.65 06/01/37,2037-06-01,274142000.0,X
2,ZQ153470 Corp,US912909AT54,912909AT5,X 5 11/01/26,2026-11-01,373000.0,X

'YUM'

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BV520889 Corp,US988498AR20,988498AR2,YUM 5 ⅜ 04/01/32,2032-04-01,1.000000e+09,YUM
1,ZO418868 Corp,US988498AN16,988498AN1,YUM 3 ⅝ 03/15/31,2031-03-15,1.050000e+09,YUM
2,BO612549 Corp,US988498AP63,988498AP6,YUM 4 ⅝ 01/31/32,2032-01-31,1.100000e+09,YUM
3,EG941813 Corp,US988498AD34,988498AD3,YUM 6 ⅞ 11/15/37,2037-11-15,3.250000e+08,YUM
4,ZR462627 Corp,US988498AL59,988498AL5,YUM 4 ¾ 01/15/30,2030-01-15,8.000000e+08,YUM
5,EJ899216 Corp,US988498AK76,988498AK7,YUM 5.35 11/01/43,2043-11-01,2.750000e+08,YUM

,ID,ISIN,CUSIP,Name,Maturity,Amt,Eqty Name
0,BV520889 Corp,US988498AR20,988498AR2,YUM 5 ⅜ 04/01/32,2032-04-01,1.000000e+09,YUM
1,ZO418868 Corp,US988498AN16,988498AN1,YUM 3 ⅝ 03/15/31,2031-03-15,1.050000e+09,YUM
2,BO612549 Corp,US988498AP63,988498AP6,YUM 4 ⅝ 01/31/32,2032-01-31,1.100000e+09,YUM
3,EG941813 Corp,US988498AD34,988498AD3,YUM 6 ⅞ 11/15/37,2037-11-15,3.250000e+08,YUM
4,ZR462627 Corp,US988498AL59,988498AL5,YUM 4 ¾ 01/15/30,2030-01-15,8.000000e+08,YUM
5,EJ899216 Corp,US988498AK76,988498AK7,YUM 5.35 11/01/43,2043-11-01,2.750000e+08,YUM

In [19]:
# issuer_dict = dict(zip(dq["Issuer Equity"],[item.split(" ")[0] for item in dq["Bond Name"]]))
hy = pd.read_excel(r"J:\\HY Basis Data.xlsx",skiprows=1)
hy.to_excel("Test1.xlsx")

In [4]:

###################################### 144A and REGS

blist = [f'/isin/{item}@BGN' for item in list(all_df["ISIN"])]
blist = blp.bdp(tickers=blist, flds=["144A_FLAG","IS_REG_S"])
blist.index = [item.rsplit("/",1)[1].split("@")[0] for item in blist.index]

blist.columns = ["144A","REGS"]
blist.index.name = "ISIN"
blist = blist.reset_index()
blist["REGS_144A"] = blist.apply(lambda row: f'{row["REGS"]}_{row["144A"]}',axis=1)
order = ["N_N", "Y_N", "Y_Y", "N_Y"]

all_df = pd.merge(left=all_df, right=blist, on="ISIN", how="outer")
all_df = all_df[[item for item in all_df.columns if not item in ["144A","REGS"]]]


df2 = all_df.copy()
df2["REGS_144A"] = pd.Categorical(df2["REGS_144A"], categories=order, ordered=True)
df2 = df2.sort_values(by="REGS_144A")
df2 = df2[~df2["Name"].duplicated(keep='first')].drop(["REGS_144A","Time"],axis=1).reset_index(drop=True).copy()
# df2.to_excel("HY Bonds List.xlsx")

##################################################################################

# df2 = pd.read_excel("HY Bonds List.xlsx", index_col=0, parse_dates=True)

t = [f"/isin/{item}@BGN" for item in list(df2["ISIN"])]
bbg = blp.bdh(tickers=t, flds="BLOOMBERG_MID_G_SPREAD", start_date=datetime.now()-timedelta(days=365*5))
bbg.to_parquet("Test1.parquet")
bbg = pd.read_parquet("Test1.parquet")

bbg1 = bbg.copy()
new = []
for item in bbg1.columns:
    new += ["BBG_" + item[0].replace("/isin/","").replace("@BGN","")]
bbg1.columns = new
bbg1.index = pd.to_datetime(bbg1.index)

########################### choose bbg or dq sprds
bbg1.columns = [item.split("_")[1] for item in bbg1.columns]
bbg1.index = [f"Sprd_{str(item.date())}" for item in bbg1.index]
bbg1 = bbg1.T.copy()
bbg1.index.name = "ISIN"
bbg1 = bbg1.reset_index(drop=False).copy()

In [5]:
df3 = df2.copy()
for dt in pd.to_datetime(bbg.index):
    df3[f'Mat_Time_{dt.date()}'] = [((pd.to_datetime(item) - dt).days/365) for item in df3["Maturity"]]

red2 = dict(zip([item.split(" ")[0] for item in all_dq["Bond Name"]], all_dq["Eqty"]))
df3["Eqty Name"] = df3["Eqty Name"].apply(lambda x: red2[x])

######################################################################

df4 = pd.merge(left = df3, right = all_temp_cds, on="Eqty Name", how="outer")
df4 = df4[~pd.isna(df4["ISIN"])].reset_index(drop=True).copy()
dt_list = [item.replace("CDS_","") for item in df4.columns if item.startswith("CDS_")]

df4A = df4.copy()

for dt in dt_list:
    if f"Mat_Time_{dt}" in df4A.columns and f"CDS_{dt}" in df4A.columns:
        df4A[f'Mat_Matched_CDS_{dt}'] = df4A[f'CDS_{dt}'].apply(lambda x: ast.\
            literal_eval(x)[0] if isinstance(x,str) else np.nan) +\
        df4A[f'Mat_Time_{dt}'].apply(lambda x: x) *\
        df4A[f'CDS_{dt}'].apply(lambda x: ast.literal_eval(x)[1] if isinstance(x,str) else np.nan) +\
        df4A[f'Mat_Time_{dt}'].apply(lambda x: x**2) *\
        df4A[f'CDS_{dt}'].apply(lambda x: ast.literal_eval(x)[2] if isinstance(x,str) else np.nan)
      
df4A = df4A[[col for col in df4A.columns if not "_" in col] +\
    [col for col in df4A.columns if col.startswith("Mat_Matched_CDS_")]]

In [6]:
df5 = pd.merge(left=df4A, right=bbg1, how='outer', on="ISIN")
last_update = max(dt_list)
for dt in dt_list:
    try:
        df5[f"Basis_{dt}"] = df5[f"Mat_Matched_CDS_{dt}"] - df5[f"Sprd_{dt}"]
    except:
        hello = 1
l1 = list(set([col for col in df5.columns if f'{last_update}' in col] + [col for col in df5.columns if 'Basis' in col] ))
l2 = [item for item in l1 if f'{last_update}' in item] + [item for item in l1 if not f'{last_update}' in item]
df5 = df5[[col for col in df5.columns if not "_" in col] + l2]
df5 = df5[~pd.isna(df5[f"Sprd_{last_update}"])].reset_index(drop=True).copy()

red = all_dq[["Eqty","red"]].dropna().copy()
# red_eqty_dict1 = dict(zip([item.split(" ")[0] for item in list(red["Eqty"])], list(red["red"])))
red_eqty_dict1 = dict(zip(list(red["Eqty"]), list(red["red"])))

df5["CDS RED Code"] = df5["Eqty Name"].apply(lambda x: red_eqty_dict1[x])

####################################### Zscore and 1Y High/Low Calc

dfz = df5[["ISIN"] + [item for item in df5.columns if "Basis" in item]]
dfz = dfz.set_index("ISIN").T
dfz.index = [pd.to_datetime(item.split("_")[1]).date() for item in dfz.index]
dfz = dfz.sort_index()

all_z_df = None
for period in [3*22, 6*22, 12*22]:
    x = ((dfz-dfz.rolling(period, min_periods = int(0.6*period)).mean())/dfz.rolling(period,\
                  min_periods = int(0.6*period)).std()).iloc[[-1],:].copy()
    x.index = [f'ZScore_{int(period/22)}M']
    all_z_df = pd.concat([all_z_df , x])

max_1y = pd.DataFrame(dfz.iloc[-12*22:,:].max()).T
max_1y.index = [f'Basis 1Y High']
min_1y = pd.DataFrame(dfz.iloc[-12*22:,:].min()).T
min_1y.index = [f'Basis 1Y Low']

all_z_df = pd.concat([all_z_df , max_1y, min_1y])
all_z_df = all_z_df.T
all_z_df = all_z_df.reset_index()

df6 = pd.merge(left=df5[[col for col in df5.columns if not col.startswith("Basis_") or dt in col]],
               right=all_z_df, on="ISIN", how="outer")
df6 = df6[["Name", "ISIN", "Eqty Name", "CDS RED Code", f"Basis_{last_update}",
           f"Sprd_{last_update}", f"Mat_Matched_CDS_{last_update}"] + list(df6.columns)[-5:]]


################################### Add PX
px_list = [f"/isin/{i}@BGN" for i in list(df6["ISIN"])]
px = blp.bdp(tickers=px_list, flds="px_last")
px.to_parquet("Test2.parquet")
px = pd.read_parquet("Test2.parquet")

px1 = px.copy()
px1.index = [item.replace("/isin/","").replace("@BGN","") for item in px1.index]
px1.columns = ["Price"]
px1.index.name ="ISIN"
px1 = px1.reset_index().copy()
df6 = pd.merge(left=df6, right=px1, how="outer", on="ISIN")


################################################## Adding IG/HY
blist = [f"/isin/{item}@BGN" for item in list(df6["ISIN"])]
ig_hy = blp.bdp(tickers=blist, flds="BB_COMPSTE_RATING_IG_HY_INDCTR")
ig_hy.to_parquet("Test3.parquet")
ig_hy = pd.read_parquet("Test3.parquet")

ig_hy["ISIN"] = [item.replace("/isin/","").replace("@BGN","") for item in ig_hy.index]
ig_hy.columns = ["IG_HY","ISIN"]
ig_hy = ig_hy.reset_index(drop=True).copy()
df6 = pd.merge(left=df6, right=ig_hy, how="outer", on="ISIN")
df6 = df6.sort_values(by="Eqty Name").reset_index(drop=True).copy()

################################################## 

df7 = df6.copy()
df7["Time"] = df7["Name"].apply(lambda x: x.split("/")[-1])
df7 = df7.sort_values(by=["Eqty Name","Time"],ascending=True).\
    reset_index(drop=True).drop(["Eqty Name","Time","ISIN"],axis=1).copy()
df7 = df7.set_index("Name")
df7.columns = df7.columns.str.replace(f'_{last_update}',"")
df7.index.name = f'{pd.to_datetime(last_update).strftime("%d-%b")}'
df7 = round(df7,2)
df7 = df7[["IG_HY","CDS RED Code","Price","Sprd","Mat_Matched_CDS","Basis",
           "Basis 1Y Low","Basis 1Y High","ZScore_3M","ZScore_6M","ZScore_12M"]]

df7["Name"] = [item.split(" ")[0] for item in df7.index]
df7["Year"] = [eval(item.split("/")[-1]) for item in df7.index]
df7 = df7.sort_values(by=["Name","Year"], ascending=True).drop(["Name","Year"],axis=1).copy()

px_new = blp.bdh(tickers=blist, flds="PX_LAST", start_date = datetime.now()-timedelta(days=5*365))
px_new.columns = [item.replace("/isin/","").replace("@BGN","") + "_Price" for item in blist]
px_new.to_parquet("Test4.parquet")
px_new = pd.read_parquet("Test4.parquet")

In [7]:

# dq_bonds = ['US00130HCC79','US00130HCG83','US00206RCP55','US00206RMM15','US012873AH83','US012873AK13','US013092AE14','US01309QAB41','US023135AP19','US023551AF16','US023551AJ38','US023551AM66','US026874DC84','US031162DQ06','US03674XAS53','US03743QAF54','US03743QAQ10','US05368VAA44','US05368VAB27','US058498AW66','US058498AX40','US058498BA38','US097023AU94','US097023CJ22','US097023CN34','US097023CP81','US097023CY98','US097023DC69','US097023DR39','US097023DS12','US11135FAS02','US11135FBD24','US11135FBF71','US11135FBH38','US11135FBK66','US11135FBL40','US11135FBT75','US126650DJ69','US126650DU15','US126650ED80','US12769GAA85','US12769GAD25','US134429BJ73','US149123CH22','US165167DH73','US166756AS52','US185899AL57','US185899AN14','US185899AP61','US185899AQ45','US185899AR28','US185899AS01','US23331ABT51','US23918KAS78','US23918KAT51','US23918KAW80','US23918KAY47','US247361A329','US247361ZT81','US251799AA02','US25179MBF95','US25179SAD27','US254709AS70','US26884LAG41','US26884LAN91','US26884LAR06','US26884LBA61','US26884LBC28','US292505AD65','US30212PAR64','US30212PBH73','US30231GBN16','US337932AL12','US337932AP26','US345370CA64','US345370CX67','US345370DA55','US345370DB39','US35671DBJ37','US35671DCD57','US35671DCF06','US35671DCH61','US364760AP35','US364760AQ18','US36962GXZ26','US370425RZ53','US37045VAH33','US37045VAY65','US37045VAZ31','US382550BJ95','US382550BK68','US382550BR12','US382550BS94','US404119CA57','US404119CC14','US404119CK30','US404119CQ00','US404119CT49','US404119DB22','US404121AK12','US437076CB65','US44106MAY84','US44106MBB72','US458140BR09','US46284VAF85','US46284VAJ08','US46284VAL53','US46284VAN10','US46284VAQ41','US48666KAY55','US48666KAZ21','US48666KBA60','US500255AX28','US501797AW48','US513272AD65','US513272AE49','US526057CY87','US55262CAJ99','US552676AT59','US552676AU23','US552953CJ87','US552953CK50','US55616XAM92','US55617LAR33','US55617LAS16','US571903BE27','US571903BF91','US571903BG74','US571903BH57','US626717AP72','US629377CR16','US629377CS98','US629377CW01','US629377CX83','US62957HAP01','US62957HAQ83','US63861CAD11','US63861CAE93','US63861CAF68','US63938CAN83','US63938CAP32','US63938CAQ15','US64110LAU08','US64110LAV80','US651229BD74','US651229BE57','US651229BF23','US674599DD43','US674599DE26','US674599EA94','US674599ED34','US674599EF81','US674599EK76','US674599EL59','US677347CH71','US680665AK27','US680665AN65','US68389XBV64','US68389XCE31','US68389XCH61','US68389XCJ28','US68622FAB76','US68622TAB70','US69047QAC69','US698900AG20','US737446AP91','US737446AQ74','US737446AR57','US737446AV69','US737446AX26','US745867AM30','US745867AP60','US745867AT82','US75513ECR09','US780153BU54','US780153BV38','US780153BW11','US78442FAZ18','US785931AA40','US785931AB23','US78646UAA79','US78646UAB52','US81211KAK60','US812127AB45','US812127AC28','US81761LAE20','US845467AS85','US845467AT68','US87264ABF12','US87264ABT16','US87264ABW45','US87264ABX28','US87264ACB98','US87264ACQ67','US87264ACV52','US87264ADT97','US87612GAA94','US87901JAH86','US88033GAV23','US88947EAU47','US893830AF64','US893830BZ10','US902494AZ66','US90353TAK60','US90353TAN00','US90353TAP57','US925524AH30','US925524AV24','US92556HAB33','US92556HAD98','US963320AY28','US963320AZ92','US963320BA33','US963320BC98','US963320BD71','US963320BE54','US988498AL59','US988498AN16','US988498AP63','US988498AR20']

dq_bonds = list(df5["ISIN"])
all_labels = dict(zip(df5["ISIN"],[f"DB(CREDIT,HY,BOND,{item},MDUR)" for item in df5["CUSIP"]]))

labels = {}
for item in dq_bonds:
    labels[f"{item}_Dur"] = all_labels[item]

try:
    # df1 = pd.read_excel("DQ HY Duration Data.xlsx",index_col=0, parse_dates=True)
    dq = DataQuery(
        client_id='jbAIMF2Tkp0JO3sc',
        client_secret='d7qfzgt55pddjs352sgxosFyI4t2eja07k7opbi6wg9oqjc1OjkdAksn1btmnugeMjchcx2vwTsJupw',
        calendar = 'CAL_USBANK',
    )
    
    job = dq.create_job(expressions = list(labels.values()))
    dq.start_date = str((datetime.now()-timedelta(days=5*365)).date())
    job.execute()
    df = job.to_pivot_table()
    df = df.T
    df.index.name = 'Date'
    df.index = pd.to_datetime(df.index, format='%Y%m%d').date
    df.columns.name = None
    
    df1 = pd.DataFrame()
    for key in labels:
        df1[key] = df[labels[key]]
    
    df1 = df1[list(labels.keys())].copy()
    clear_output(wait=False)
    df1.dropna(axis=1, how='all', inplace=True)
    df1.to_excel("DQ HY Duration Data.xlsx")
except:
    df1 = pd.read_excel("DQ HY Duration Data.xlsx",index_col=0, parse_dates=True)

In [8]:
A = df4A[["ISIN"]+[col for col in df4A.columns if col.startswith("Mat_Matched_CDS_")]].set_index("ISIN")
A = A.T
A.index = pd.to_datetime(A.index.str.replace("Mat_Matched_CDS_",""))
A.columns = [f"{item}_Mat_Matched_CDS_" for item in A.columns]

B = df5[["ISIN"]+[col for col in df5.columns if col.startswith("Basis_")]].set_index("ISIN")
B = B.T
B.index = pd.to_datetime(B.index.str.replace("Basis_",""))
B.columns = [f"{item}_Basis" for item in B.columns]

C = bbg1[["ISIN"]+[col for col in bbg1.columns if col.startswith("Sprd_")]].set_index("ISIN")
C = C.T
C.index = pd.to_datetime(C.index.str.replace("Sprd_",""))
C.columns = [f"{item}_G-Sprd" for item in C.columns]

D = px_new.copy()

E = df1.copy()
# E = E.set_index("close_date")

for item in ["A","B","C","D","E"]:
    globals()[f"{item}"].index = pd.to_datetime(globals()[f"{item}"].index)

F = pd.concat([A,B,C,D,E], axis=1).sort_index().copy()

In [9]:
# ######################### HY bonds TR data from BBG using BQL

# import openpyxl
# import subprocess
# import time
# import pyautogui
# import pygetwindow as gw
    
# if True:
#     bql_list = []
    
#     fl = [f'=BQL("', f"""ISIN", "return_series(calc_interval=range(-5y,0d,frq=d))")"""]
    
#     issuers = df6["ISIN"].to_list()
    
#     for item in issuers:
#         bql_list += [(fl[0] + item + " " + fl[1])]
        
#     bql_list = [item.replace("\\", "") for item in bql_list]
    
#     workbook = openpyxl.load_workbook(r"J:\\55 BQL HY Bonds Rtn Data.xlsx")
#     sheet = workbook.active
    
#     for row in sheet.iter_rows():
#         for cell in row:
#             cell.value = None
    
#     start_col = 1
#     for item in bql_list:
#         cell = sheet.cell(row=2, column=start_col)
#         cell.value = item
#         start_col += 2
#     workbook.save(r"J:\\55 BQL HY Bonds Rtn Data.xlsx")
    
#     file_path = r"J:\\55 BQL HY Bonds Rtn Data.xlsx"
#     window_title = "55 BQL HY Bonds Rtn Data - Excel"
    
#     subprocess.Popen(['start', 'excel', file_path], shell=True)
#     time.sleep(40)
    
#     excel_windows = [window for window in gw.getWindowsWithTitle('Excel')]
    
#     for check in range(2):
#         for window in excel_windows:
#             if window_title in window.title:
#                 # time.sleep(0.25)
#                 window.activate()
#                 pyautogui.hotkey('ctrl', 's')
#                 time.sleep(1)
#                 pyautogui.hotkey('alt', 'f4')
#                 # break
    
# time.sleep(0.5)

# hy = pd.read_excel(r"J:\\55 BQL HY Bonds Rtn Data.xlsx",skiprows=1,parse_dates=True)
# hy = hy.iloc[1:,:]
# hy = hy[[hy.columns[0]] + [col for col in hy.columns if "ISIN" in col]]
# hy.columns = ["Date"] + [item.replace(" ISIN","_Daily_Rtn") for item in list(hy.columns)[1:]]
# hy = hy.set_index("Date")
# hy.index = pd.to_datetime(hy.index)
# hy = (1+hy).cumprod()
# hy_col = hy.columns
# for col in hy_col:
#     hy[f'{col.split("_")[0]} FWD_1M_Rtn'] = (hy[col].shift(-21) / hy[col] - 1) * 100
#     hy[f'{col.split("_")[0]} FWD_3M_Rtn'] = (hy[col].shift(-63) / hy[col] - 1) * 100
#     hy[f'{col.split("_")[0]} FWD_6M_Rtn'] = (hy[col].shift(-126) / hy[col] - 1) * 100
# hy = hy[[col for col in hy.columns if "FWD" in col]]

In [10]:
# df = pd.concat([F, hy],axis=1).sort_index().copy()

df = F.sort_index().copy()
df.columns = df.columns.str.replace("_Mat_Matched_CDS_"," Mat. Matched CDS").\
    str.replace("_Basis"," Basis").str.replace("_Dur"," Duration").\
    str.replace("_Price"," Price").str.replace("_G-Sprd"," G-Sprd")

bond_dict = dict(zip(list(df2["ISIN"]),list(df2["Name"])))
df.columns = [f"{bond_dict[item.split(" ",1)[0]]} {item.split(" ",1)[1]}"  for item in df.columns]
df = df.dropna(how="all").copy()
df.columns = [f"{item.split("/",1)[0].rsplit(" ",1)[0]}% due {item.\
    rsplit("/",1)[1]}" for item in df.columns]

In [11]:
tickers_bbg = ['IBOXHY INDEX', 'IBOXIG INDEX']
fields_bbg = ['PX_LAST', 'CONTRBTD_ZSPREAD', 'OAS_SOVEREIGN_CURVE', 'OPTION_ADJ_DURATION_SOV_CRV', 'YIELD_TO_MATURITY']
start_date_bbg = "2000-01-01"
end_date_bbg = datetime.now().strftime('%Y-%m-%d')
df_bbg = blp.bdh(tickers=tickers_bbg, flds=fields_bbg, start_date=start_date_bbg, end_date=end_date_bbg)
list1_bbg = ['TR', 'Z-Sprd', 'OAS', 'Dur', 'Yield']
df_bbg.columns = ['BBG iBoxx HY ' + item for item in list1_bbg] + ['BBG iBoxx IG ' + item for item in list1_bbg] 
df_bbg.drop(['BBG iBoxx HY Dur', 'BBG iBoxx IG Yield'], axis=1, inplace=True) # First is wrong and second incomplete
df_bbg = df_bbg.astype(float)

tick = ['USGG5YR INDEX','USGG7YR INDEX','USGG10YR INDEX']
all_x = None
x = blp.bdh(tickers = tick, flds = 'PX_LAST', start_date = df_bbg.index[0])#, end_date = df_bbg.index[-1])
for col in ['BBG']:# + list(set([item.split(' ',1)[0] for item in df_back.columns])):
    x1 = x.copy()
    x1.columns = [f'{col} US 5Y', f'{col} US 7Y', f'{col} US 10Y']
    all_x = pd.concat([all_x,x1],axis=1)
df_bbg = pd.concat([df_bbg,all_x],axis=1)

tick = ['COA Comdty','VIX Index']
x = blp.bdh(tickers = tick, flds='PX_LAST', start_date = df_bbg.index[0])#, end_date = df_bbg.index[-1])
x.columns = ['BBG COA Comdty','BBG VIX Index']
x = x.sort_index()
df_bbg = pd.concat([df_bbg,x],axis=1)
df_bbg.index = pd.to_datetime(df_bbg.index)

backup = df.copy()
df = pd.concat([backup, df_bbg], axis=1).sort_index().copy()

In [12]:
options = sorted(backup.columns, key=lambda item: (item.split(' ', 1)[0], 2000 + \
            eval(item.split('due ', 1)[1].split(' ', 1)[0]) if eval(item.split('due ', 1)[1].split(' ', 1)[0])\
                    < 2000 else eval(item.split('due ', 1)[1].split(' ', 1)[0])))

options += list(df_bbg.columns)
fwd = [item for item in options if 'FWD_' in item]
non_fwd = [item for item in options if not('FWD_' in item)]
options = non_fwd + fwd

time = ['All','2Y','1Y','6M','3M']

#################################### Changing order of names
o1 = [item for item in options if ((not 'FWD' in item) and ('%' in item))]
o2 = [item for item in options if not item in o1]

desired_order = ["Price", "G-Sprd", "Basis", "Duration", "CDS"]

def reorder_items_in_chunks(items, order):
    chunk_size = len(set([item.rsplit(' ',1)[1] for item in options if ((not 'FWD' in item) and ('%' in item))]))
    reordered = []
    for i in range(0, len(items), chunk_size):
        chunk = items[i:i + chunk_size]
        valid_items = [item for item in chunk if len(item.rsplit(' ', 1)) == 2]
        reordered_chunk = sorted(valid_items, key=lambda x: order.index(x.rsplit(' ', 1)[1]))
        reordered.extend(reordered_chunk)
    return reordered

o1_reordered = reorder_items_in_chunks(o1, desired_order)
options = o1 + o2

In [13]:
############ Default bonds
# x = df6[["Name","ISIN","Eqty Name"]].copy()
# issue = blp.bdp(tickers=[f"/isin/{item}@BGN" for item in x["ISIN"]], flds="ISSUE_DT")
# issue1 = issue.copy()
# issue1.index = issue1.index.str.replace("/isin/","").str.replace("@BGN","")
# issue1.index.name = "ISIN"
# issue1 = issue1.reset_index()
# x = pd.merge(left=x, right=issue1, on="ISIN", how="outer")
# x["Age"] = round((datetime.now() - pd.to_datetime(x["issue_dt"])).dt.days/365,2)
# x = x[["Name","Eqty Name","Age"]].copy()
# x = x.sort_values(by=["Eqty Name","Age"], ascending=[True, False]).reset_index(drop=True).copy()
# x = x.drop_duplicates(subset="Eqty Name", keep="first")[["Name"]].copy()
# x["Name"] = x["Name"].apply(lambda x: x.rsplit(" ",1)[0] + "% due " + x.rsplit("/",1)[-1])
# x["MMC"] = x["Name"].apply(lambda x: [f"{x.split(" ",1)[1]} Mat. Matched CDS", f"{x.split(" ",1)[1]} Basis"])
# x["Name"] = x["Name"].apply(lambda x: f"{x.split(" ",1)[0]}")
# dict(zip(x["Name"], x["MMC"]))



default_values_dict = \
{'TOL': ['3.8% due 29 Mat. Matched CDS', '3.8% due 29 Basis'],
 'ZIGGO': ['5 ⅛% due 30 Mat. Matched CDS', '5 ⅛% due 30 Basis'],
 'CAR': ['8% due 31 Mat. Matched CDS', '8% due 31 Basis'],
 'WFRD': ['8 ⅝% due 30 Mat. Matched CDS', '8 ⅝% due 30 Basis'],
 'MPW': ['3 ½% due 31 Mat. Matched CDS', '3 ½% due 31 Basis'],
 'OI': ['4 ¾% due 30 Mat. Matched CDS', '4 ¾% due 30 Basis'],
 'CHTR': ['4 ¾% due 30 Mat. Matched CDS', '4 ¾% due 30 Basis'],
 'HOUS': ['5 ¼% due 30 Mat. Matched CDS', '5 ¼% due 30 Basis'],
 'SIRI': ['4 ⅛% due 30 Mat. Matched CDS', '4 ⅛% due 30 Basis'],
 'TELEFO': ['8 ¼% due 30 Mat. Matched CDS', '8 ¼% due 30 Basis'],
 'SIEGR': ['2.15% due 31 Mat. Matched CDS', '2.15% due 31 Basis'],
 'CSCHLD': ['5 ¾% due 30 Mat. Matched CDS', '5 ¾% due 30 Basis'],
 'SPG': ['2.45% due 29 Mat. Matched CDS', '2.45% due 29 Basis'],
 'RGCARE': ['10% due 32 Mat. Matched CDS', '10% due 32 Basis'],
 'TEVA': ['8 ⅛% due 31 Mat. Matched CDS', '8 ⅛% due 31 Basis'],
 'HLT': ['4 ⅞% due 30 Mat. Matched CDS', '4 ⅞% due 30 Basis'],
 'VST': ['7 ¾% due 31 Mat. Matched CDS', '7 ¾% due 31 Basis'],
 'ALIANT': ['5 ⅞% due 29 Mat. Matched CDS', '5 ⅞% due 29 Basis'],
 'AXL': ['5% due 29 Mat. Matched CDS', '5% due 29 Basis'],
 'IMBLN': ['5 ½% due 30 Mat. Matched CDS', '5 ½% due 30 Basis'],
 'DGELN': ['2 ⅜% due 29 Mat. Matched CDS', '2 ⅜% due 29 Basis'],
 'TMUS': ['2 ⅞% due 31 Mat. Matched CDS', '2 ⅞% due 31 Basis'],
 'URI': ['5 ¼% due 30 Mat. Matched CDS', '5 ¼% due 30 Basis'],
 'DOW': ['7 ⅜% due 29 Mat. Matched CDS', '7 ⅜% due 29 Basis'],
 'M': ['4 ½% due 34 Mat. Matched CDS', '4 ½% due 34 Basis'],
 'JCI': ['1 ¾% due 30 Mat. Matched CDS', '1 ¾% due 30 Basis'],
 'AALLN': ['2 ⅞% due 31 Mat. Matched CDS', '2 ⅞% due 31 Basis'],
 'OGN': ['5 ⅛% due 31 Mat. Matched CDS', '5 ⅛% due 31 Basis'],
 'MEDIND': ['5 ¼% due 29 Mat. Matched CDS', '5 ¼% due 29 Basis'],
 'TTEFP': ['5.15% due 34 Mat. Matched CDS', '5.15% due 34 Basis'],
 'PRUFIN': ['3 ⅛% due 30 Mat. Matched CDS', '3 ⅛% due 30 Basis'],
 'NRUC': ['8% due 32 Mat. Matched CDS', '8% due 32 Basis'],
 'LINTA': ['4% due 29 Mat. Matched CDS', '4% due 29 Basis'],
 'RIG': ['7 ½% due 31 Mat. Matched CDS', '7 ½% due 31 Basis'],
 'HILCRP': ['6% due 31 Mat. Matched CDS', '6% due 31 Basis'],
 'CE': ['6.629% due 32 Mat. Matched CDS', '6.629% due 32 Basis'],
 'HST': ['3 ⅜% due 29 Mat. Matched CDS', '3 ⅜% due 29 Basis'],
 'TRPCN': ['5.6% due 34 Mat. Matched CDS', '5.6% due 34 Basis'],
 'BRITEL': ['9 ⅝% due 30 Mat. Matched CDS', '9 ⅝% due 30 Basis'],
 'RDSALN': ['2 ⅜% due 29 Mat. Matched CDS', '2 ⅜% due 29 Basis'],
 'BMCAUS': ['4 ⅜% due 30 Mat. Matched CDS', '4 ⅜% due 30 Basis'],
 'NEE': ['2 ¾% due 29 Mat. Matched CDS', '2 ¾% due 29 Basis'],
 'HCA': ['3 ½% due 30 Mat. Matched CDS', '3 ½% due 30 Basis'],
 'NESNVX': ['1 ¼% due 30 Mat. Matched CDS', '1 ¼% due 30 Basis'],
 'AIFP': ['2 ¼% due 29 Mat. Matched CDS', '2 ¼% due 29 Basis'],
 'AEP': ['2.3% due 30 Mat. Matched CDS', '2.3% due 30 Basis'],
 'AES': ['3.95% due 30 Mat. Matched CDS', '3.95% due 30 Basis'],
 'OMF': ['5 ⅜% due 29 Mat. Matched CDS', '5 ⅜% due 29 Basis'],
 'AIG': ['3 ⅞% due 35 Mat. Matched CDS', '3 ⅞% due 35 Basis'],
 'ALL': ['5.35% due 33 Mat. Matched CDS', '5.35% due 33 Basis'],
 'ALLY': ['8% due 31 Mat. Matched CDS', '8% due 31 Basis'],
 'AMGN': ['2.45% due 30 Mat. Matched CDS', '2.45% due 30 Basis'],
 'AMZN': ['4.8% due 34 Mat. Matched CDS', '4.8% due 34 Basis'],
 'APA': ['4 ¼% due 30 Mat. Matched CDS', '4 ¼% due 30 Basis'],
 'ARW': ['2.95% due 32 Mat. Matched CDS', '2.95% due 32 Basis'],
 'AVGO': ['5% due 30 Mat. Matched CDS', '5% due 30 Basis'],
 'AVT': ['3% due 31 Mat. Matched CDS', '3% due 31 Basis'],
 'AXP': ['4.42% due 33 Mat. Matched CDS', '4.42% due 33 Basis'],
 'AZN': ['1 ⅜% due 30 Mat. Matched CDS', '1 ⅜% due 30 Basis'],
 'AZO': ['4% due 30 Mat. Matched CDS', '4% due 30 Basis'],
 'BA': ['6 ⅛% due 33 Mat. Matched CDS', '6 ⅛% due 33 Basis'],
 'BALN': ['3.4% due 30 Mat. Matched CDS', '3.4% due 30 Basis'],
 'BACR': ['2.645% due 31 Mat. Matched CDS', '2.645% due 31 Basis'],
 'BAX': ['3.95% due 30 Mat. Matched CDS', '3.95% due 30 Basis'],
 'BBY': ['1.95% due 30 Mat. Matched CDS', '1.95% due 30 Basis'],
 'BMY': ['1.45% due 30 Mat. Matched CDS', '1.45% due 30 Basis'],
 'BRK': ['6 ½% due 34 Mat. Matched CDS', '6 ½% due 34 Basis'],
 'BSX': ['2.65% due 30 Mat. Matched CDS', '2.65% due 30 Basis'],
 'CAG': ['8 ¼% due 30 Mat. Matched CDS', '8 ¼% due 30 Basis'],
 'CAH': ['5.45% due 34 Mat. Matched CDS', '5.45% due 34 Basis'],
 'CMCSA': ['7.05% due 33 Mat. Matched CDS', '7.05% due 33 Basis'],
 'CNQCN': ['7.2% due 32 Mat. Matched CDS', '7.2% due 32 Basis'],
 'COF': ['2.7% due 30 Mat. Matched CDS', '2.7% due 30 Basis'],
 'COXENT': ['4.8% due 35 Mat. Matched CDS', '4.8% due 35 Basis'],
 'CPB': ['2 ⅜% due 30 Mat. Matched CDS', '2 ⅜% due 30 Basis'],
 'CSCO': ['4.95% due 31 Mat. Matched CDS', '4.95% due 31 Basis'],
 'CSX': ['2.4% due 30 Mat. Matched CDS', '2.4% due 30 Basis'],
 'CVS': ['4 ⅞% due 35 Mat. Matched CDS', '4 ⅞% due 35 Basis'],
 'D': ['6.3% due 33 Mat. Matched CDS', '6.3% due 33 Basis'],
 'DAL': ['3 ¾% due 29 Mat. Matched CDS', '3 ¾% due 29 Basis'],
 'DE': ['7 ⅛% due 31 Mat. Matched CDS', '7 ⅛% due 31 Basis'],
 'DGX': ['2.95% due 30 Mat. Matched CDS', '2.95% due 30 Basis'],
 'DHI': ['5% due 34 Mat. Matched CDS', '5% due 34 Basis'],
 'DHR': ['2.6% due 29 Mat. Matched CDS', '2.6% due 29 Basis'],
 'DIS': ['7% due 32 Mat. Matched CDS', '7% due 32 Basis'],
 'DRI': ['6.3% due 33 Mat. Matched CDS', '6.3% due 33 Basis'],
 'DT': ['8 ¼% due 30 Mat. Matched CDS', '8 ¼% due 30 Basis'],
 'DVN': ['7 ⅞% due 31 Mat. Matched CDS', '7 ⅞% due 31 Basis'],
 'EDF': ['6 ¼% due 33 Mat. Matched CDS', '6 ¼% due 33 Basis'],
 'EMN': ['5 ¾% due 33 Mat. Matched CDS', '5 ¾% due 33 Basis'],
 'ENBCN': ['3 ⅛% due 29 Mat. Matched CDS', '3 ⅛% due 29 Basis'],
 'ENGIFP': ['5 ⅝% due 34 Mat. Matched CDS', '5 ⅝% due 34 Basis'],
 'ENIIM': ['5 ½% due 34 Mat. Matched CDS', '5 ½% due 34 Basis'],
 'EQNR': ['3 ⅛% due 30 Mat. Matched CDS', '3 ⅛% due 30 Basis'],
 'ET': ['4.9% due 35 Mat. Matched CDS', '4.9% due 35 Basis'],
 'EXC': ['5 ⅝% due 35 Mat. Matched CDS', '5 ⅝% due 35 Basis'],
 'EXPE': ['3 ¼% due 30 Mat. Matched CDS', '3 ¼% due 30 Basis'],
 'F': ['7.45% due 31 Mat. Matched CDS', '7.45% due 31 Basis'],
 'FCX': ['5.4% due 34 Mat. Matched CDS', '5.4% due 34 Basis'],
 'FDX': ['4 ¼% due 30 Mat. Matched CDS', '4 ¼% due 30 Basis'],
 'FE': ['4.55% due 30 Mat. Matched CDS', '4.55% due 30 Basis'],
 'GE': ['6 ¾% due 32 Mat. Matched CDS', '6 ¾% due 32 Basis'],
 'GIS': ['2 ⅞% due 30 Mat. Matched CDS', '2 ⅞% due 30 Basis'],
 'GM': ['5% due 35 Mat. Matched CDS', '5% due 35 Basis'],
 'HAL': ['2.92% due 30 Mat. Matched CDS', '2.92% due 30 Basis'],
 'HD': ['2.7% due 30 Mat. Matched CDS', '2.7% due 30 Basis'],
 'HES': ['7 ⅞% due 29 Mat. Matched CDS', '7 ⅞% due 29 Basis'],
 'KHC': ['6 ¾% due 32 Mat. Matched CDS', '6 ¾% due 32 Basis'],
 'HON': ['1.95% due 30 Mat. Matched CDS', '1.95% due 30 Basis'],
 'HPQ': ['3.4% due 30 Mat. Matched CDS', '3.4% due 30 Basis'],
 'HSBC': ['3.973% due 30 Mat. Matched CDS', '3.973% due 30 Basis'],
 'IBM': ['5 ⅞% due 32 Mat. Matched CDS', '5 ⅞% due 32 Basis'],
 'INTNED': ['2.727% due 32 Mat. Matched CDS', '2.727% due 32 Basis'],
 'INTC': ['4% due 32 Mat. Matched CDS', '4% due 32 Basis'],
 'JNJ': ['6.95% due 29 Mat. Matched CDS', '6.95% due 29 Basis'],
 'KMI': ['7.4% due 31 Mat. Matched CDS', '7.4% due 31 Basis'],
 'KPN': ['8 ⅜% due 30 Mat. Matched CDS', '8 ⅜% due 30 Basis'],
 'KR': ['7 ½% due 31 Mat. Matched CDS', '7 ½% due 31 Basis'],
 'L': ['6% due 35 Mat. Matched CDS', '6% due 35 Basis'],
 'LEN': ['5.2% due 30 Mat. Matched CDS', '5.2% due 30 Basis'],
 'LLOYDS': ['0% due 32 Mat. Matched CDS', '0% due 32 Basis'],
 'LMT': ['3.6% due 35 Mat. Matched CDS', '3.6% due 35 Basis'],
 'LNC': ['3.05% due 30 Mat. Matched CDS', '3.05% due 30 Basis'],
 'LOW': ['4 ½% due 30 Mat. Matched CDS', '4 ½% due 30 Basis'],
 'LUV': ['2 ⅝% due 30 Mat. Matched CDS', '2 ⅝% due 30 Basis'],
 'MCD': ['2 ⅝% due 29 Mat. Matched CDS', '2 ⅝% due 29 Basis'],
 'MCK': ['5.1% due 33 Mat. Matched CDS', '5.1% due 33 Basis'],
 'MDC': ['3.85% due 30 Mat. Matched CDS', '3.85% due 30 Basis'],
 'MDLZ': ['2 ¾% due 30 Mat. Matched CDS', '2 ¾% due 30 Basis'],
 'MET': ['6 ½% due 32 Mat. Matched CDS', '6 ½% due 32 Basis'],
 'MO': ['3.4% due 30 Mat. Matched CDS', '3.4% due 30 Basis'],
 'MPC': ['5.15% due 30 Mat. Matched CDS', '5.15% due 30 Basis'],
 'MSI': ['2.3% due 30 Mat. Matched CDS', '2.3% due 30 Basis'],
 'MTNA': ['6.8% due 32 Mat. Matched CDS', '6.8% due 32 Basis'],
 'NEM': ['5 ⅞% due 35 Mat. Matched CDS', '5 ⅞% due 35 Basis'],
 'NFLX': ['5 ⅜% due 29 Mat. Matched CDS', '5 ⅜% due 29 Basis'],
 'NGGLN': ['5.809% due 33 Mat. Matched CDS', '5.809% due 33 Basis'],
 'NOC': ['4.4% due 30 Mat. Matched CDS', '4.4% due 30 Basis'],
 'NSC': ['2.55% due 29 Mat. Matched CDS', '2.55% due 29 Basis'],
 'NWG': ['5.076% due 30 Mat. Matched CDS', '5.076% due 30 Basis'],
 'OMC': ['2.45% due 30 Mat. Matched CDS', '2.45% due 30 Basis'],
 'ORAFP': ['8 ½% due 31 Mat. Matched CDS', '8 ½% due 31 Basis'],
 'ORCL': ['4.3% due 34 Mat. Matched CDS', '4.3% due 34 Basis'],
 'OVV': ['8 ⅛% due 30 Mat. Matched CDS', '8 ⅛% due 30 Basis'],
 'OXY': ['7 ½% due 31 Mat. Matched CDS', '7 ½% due 31 Basis'],
 'PARA': ['7 ⅞% due 30 Mat. Matched CDS', '7 ⅞% due 30 Basis'],
 'PFE': ['6 ½% due 34 Mat. Matched CDS', '6 ½% due 34 Basis'],
 'PG': ['5.8% due 34 Mat. Matched CDS', '5.8% due 34 Basis'],
 'PHM': ['7 ⅞% due 32 Mat. Matched CDS', '7 ⅞% due 32 Basis'],
 'PKG': ['3% due 29 Mat. Matched CDS', '3% due 29 Basis'],
 'PRU': ['5 ¾% due 33 Mat. Matched CDS', '5 ¾% due 33 Basis'],
 'R': ['6.6% due 33 Mat. Matched CDS', '6.6% due 33 Basis'],
 'RIFP': ['1 ⅝% due 31 Mat. Matched CDS', '1 ⅝% due 31 Basis'],
 'RTX': ['7 ½% due 29 Mat. Matched CDS', '7 ½% due 29 Basis'],
 'SHW': ['2.3% due 30 Mat. Matched CDS', '2.3% due 30 Basis'],
 'SO': ['2.65% due 29 Mat. Matched CDS', '2.65% due 29 Basis'],
 'SRE': ['5 ½% due 33 Mat. Matched CDS', '5 ½% due 33 Basis'],
 'STANLN': ['4.305% due 30 Mat. Matched CDS', '4.305% due 30 Basis'],
 'T': ['4 ½% due 35 Mat. Matched CDS', '4 ½% due 35 Basis'],
 'TGT': ['6.35% due 32 Mat. Matched CDS', '6.35% due 32 Basis'],
 'TSN': ['4 ⅞% due 34 Mat. Matched CDS', '4 ⅞% due 34 Basis'],
 'UBS': ['3.126% due 30 Mat. Matched CDS', '3.126% due 30 Basis'],
 'UNH': ['4 ⅝% due 35 Mat. Matched CDS', '4 ⅝% due 35 Basis'],
 'UNP': ['3 ⅜% due 35 Mat. Matched CDS', '3 ⅜% due 35 Basis'],
 'VLO': ['7 ½% due 32 Mat. Matched CDS', '7 ½% due 32 Basis'],
 'VZ': ['7 ¾% due 30 Mat. Matched CDS', '7 ¾% due 30 Basis'],
 'WHR': ['2.4% due 31 Mat. Matched CDS', '2.4% due 31 Basis'],
 'WMB': ['7 ½% due 31 Mat. Matched CDS', '7 ½% due 31 Basis'],
 'WMT': ['7.55% due 30 Mat. Matched CDS', '7.55% due 30 Basis'],
 'WY': ['7 ⅜% due 32 Mat. Matched CDS', '7 ⅜% due 32 Basis']}

In [14]:
#################################### Changing order of names

issuer = ['All'] + list(sorted(set([item.split(' ',1)[0] for item in options])))
options1 = list(set([item.split(' ',1)[1] for item in options])) + ['US 5Y','US 7Y','US 10Y']

df1 = pd.DataFrame()

dropdown1 = Dropdown(options=issuer, description='Issuer')
dropdown2 = Dropdown(options=options1, description='A:')
dropdown3 = Dropdown(options=options1, description='B:')
dropdown4 = Dropdown(options=options1, description='C:')
dropdown5 = Dropdown(options=options1, description='D:')
dropdown6 = Dropdown(options=options1, description='E:')
dropdown7 = Dropdown(options=options1, description='F:')
dropdown8 = Dropdown(options=options1, description='G:')
dropdown9 = Dropdown(options=options1, description='H:')
dropdown10 = Dropdown(options=options1, description='I:')
dropdown11 = Dropdown(options=options1, description='J:')
dropdown12 = Dropdown(options=options1, description='K:')
dropdown13 = Dropdown(options=options1, description='L:')
# dropdown14 = Dropdown(options=time, description='Time:')

dropdown14 = widgets.FloatText(
    value=5,
    description='Years:',
    step=0.01
)

row1 = HBox([dropdown1])
row2 = HBox([dropdown2, dropdown3, dropdown4])
row3 = HBox([dropdown5, dropdown6, dropdown7])
row4 = HBox([dropdown8, dropdown9, dropdown10])
row5 = HBox([dropdown11, dropdown12, dropdown13])
row6 = HBox([dropdown14])

dropdown_box = VBox([row1, row2, row3, row4, row5, row6])

display(dropdown_box)

expression_input1 = Text(description='Horizontal Axis:',value='a')
expression_input2 = Text(description='Vertical Axis:',value='b')
display(expression_input1)
display(expression_input2)

def get_values():
    return dropdown1.value, dropdown2.value, dropdown3.value, \
    dropdown4.value, dropdown5.value, dropdown6.value, \
    dropdown7.value, dropdown8.value, dropdown9.value, \
    dropdown10.value, dropdown11.value, dropdown12.value, \
    dropdown13.value, dropdown14.value

submit_button = Button(description="Submit")
display(submit_button)

output = Output()
display(output)

def on_button_clicked(b):
    with output:
        global df
        clear_output()
        selected_values = get_values()
        x = list(selected_values)
        if x[0] != 'All':
            x = [x[0]] + [f"{x[0]} {item}" for item in x[1:-1]] + [x[-1]]
            selected_values = [x[0]] + \
            ['BBG ' + item.split(' ',1)[1] if (len(item.split(' '))>2 and item.split(' ')[1]=='US') else item for item in x[1:-1]]\
            +[x[-1]]
            selected_values = tuple(selected_values)
        
        expression1 = expression_input1.value.upper()
        expression2 = expression_input2.value.upper()
        
        col_map = {'A': selected_values[1], 'B': selected_values[2], 'C': selected_values[3], 
                   'D': selected_values[4], 'E': selected_values[5], 'F': selected_values[6],
                   'G': selected_values[7], 'H': selected_values[8], 'I': selected_values[9], 
                   'J': selected_values[10], 'K': selected_values[11], 'L': selected_values[12]}
        
        for key, value in col_map.items():
            expression1 = expression1.replace(key, key.lower())
            expression2 = expression2.replace(key, key.lower())
        
        a, b, c, d, e, f, g, h, i, j, k, l = sp.symbols('a b c d e f g h i j k l')
        expr1 = sp.sympify(expression1)
        expr11 = sp.sympify(expression1)
        expr2 = sp.sympify(expression2) if expression2 else None
        expr21 = sp.sympify(expression2) if expression2 else None

        cols_to_check = [col_map['A'], col_map['B'], col_map['C'], \
                         col_map['D'], col_map['E'], col_map['F'], \
                         col_map['G'], col_map['H'], col_map['I'], \
                         col_map['J'], col_map['K'], col_map['L'] ]
        
        df1 = df.copy()
        df2 = df.copy()
        
        replacements = {
            'A': selected_values[1], 'a': selected_values[1],
            'B': selected_values[2], 'b': selected_values[2],
            'C': selected_values[3], 'c': selected_values[3],
            'D': selected_values[4], 'd': selected_values[4],
            'E': selected_values[5], 'e': selected_values[5],
            'F': selected_values[6], 'f': selected_values[6],
            'G': selected_values[7], 'g': selected_values[7],
            'H': selected_values[8], 'h': selected_values[8],
            'I': selected_values[9], 'i': selected_values[9],
            'J': selected_values[10], 'j': selected_values[10],
            'K': selected_values[11], 'k': selected_values[11],
            'L': selected_values[12], 'l': selected_values[12]
        }

        regex = re.compile("|".join(re.escape(key) for key in replacements.keys()))
        used_keys = set()
        def substitution(match):
            key = match.group(0)
            used_keys.add(key)
            return replacements[key]
        
        expr111 = regex.sub(substitution, str(expr11))
        expr211 = regex.sub(substitution, str(expr21))
        used_substitutions = list(used_keys)

        used_substitutions = [replacements[item.upper()] for item in used_substitutions]

        df1['Expression 1'] = df1.apply(lambda row: expr1.evalf(subs={\
            a: row[col_map['A']], b: row[col_map['B']], 
            c: row[col_map['C']], d: row[col_map['D']], 
            e: row[col_map['E']], f: row[col_map['F']],
            g: row[col_map['G']], h: row[col_map['H']],
            i: row[col_map['I']], j: row[col_map['J']], 
            k: row[col_map['K']], l: row[col_map['L']] }), axis=1).astype(float)       
        df1['Expression 2'] = df1.apply(lambda row: expr2.evalf(subs={\
            a: row[col_map['A']], b: row[col_map['B']], 
            c: row[col_map['C']], d: row[col_map['D']], 
            e: row[col_map['E']], f: row[col_map['F']],
            g: row[col_map['G']], h: row[col_map['H']],
            i: row[col_map['I']], j: row[col_map['J']], 
            k: row[col_map['K']], l: row[col_map['L']] }) if expr2 else np.nan, axis=1).astype(float)

        plot_exp1 = np.nan
        plot_exp2 = np.nan
        
        if ('FWD' in expr111) and not ('FWD' in expr211) and expression2:
            df2['Expression 2'] = df2.apply(lambda row: expr2.evalf(subs={\
            a: row[col_map['A']], b: row[col_map['B']], 
            c: row[col_map['C']], d: row[col_map['D']], 
            e: row[col_map['E']], f: row[col_map['F']],
            g: row[col_map['G']], h: row[col_map['H']],
            i: row[col_map['I']], j: row[col_map['J']], 
            k: row[col_map['K']], l: row[col_map['L']] }), axis=1).astype(float)
            plot_exp2 = df2.iloc[-1]['Expression 2'].astype(float)
        if ('FWD' in expr211) and not ('FWD' in expr111):
            df2['Expression 1'] = df2.apply(lambda row: expr1.evalf(subs={\
            a: row[col_map['A']], b: row[col_map['B']], 
            c: row[col_map['C']], d: row[col_map['D']], 
            e: row[col_map['E']], f: row[col_map['F']],
            g: row[col_map['G']], h: row[col_map['H']],
            i: row[col_map['I']], j: row[col_map['J']], 
            k: row[col_map['K']], l: row[col_map['L']] }), axis=1).astype(float)
            plot_exp1 = df2.iloc[-1]['Expression 1'].astype(float)

        
        def filter_df(dfx1, time_period):
            dfx = dfx1.copy()
            dfx.index=pd.to_datetime(dfx.index)
            if time_period == 'All':
                return dfx
            else:
                now = datetime.now()
                # if time_period == '2Y':
                #     start_date = now - timedelta(days=2*365)
                # elif time_period == '1Y':
                #     start_date = now - timedelta(days=365)
                # elif time_period == '6M':
                #     start_date = now - timedelta(days=6*30)
                # elif time_period == '3M':
                #     start_date = now - timedelta(days=3*30)
                # return dfx[dfx.index.date >= start_date.date()]   
                
                start_date = now - timedelta(days=int(time_period*365))
                return dfx[dfx.index.date >= start_date.date()] 

        def update_plot(plot_exp1,plot_exp2,df1,df2):
            df1 = df1[used_substitutions + ['Expression 1','Expression 2']].dropna().copy()
            # display(df1)
            if expression2:
                fig = make_subplots(rows=2, cols=1, shared_xaxes=False, \
                                    vertical_spacing=0.1, specs=[ [{"secondary_y":False}], [{"secondary_y":True}] ],\
                                   subplot_titles=(f'Scatter Plot from {df1.index[0].date()} to {df1.index[-1].date()}',\
                                                  f'{expr111}: {df1[df1.columns[-2]][-1]:.4f}   &   {expr211}: {df1[df1.columns[-1]][-1]:.4f}'))
                
                x_scatter = df1[df1.columns[-2]]
                y_scatter = df1[df1.columns[-1]]

                coeffs = np.polyfit(x_scatter,y_scatter,2)
                polynomial = np.poly1d(coeffs)
                x_poly=np.linspace(min(x_scatter),max(x_scatter),500)
                y_poly=polynomial(x_poly)
                y_pred = polynomial(x_scatter)
                r2=r2_score(y_scatter,y_pred)
                equation_text = f"y = {coeffs[0]:.4f}*x² + {coeffs[1]:.4f}*x + {coeffs[2]:.4f}"
    
                residuals = y_scatter-y_pred
                res_sum=np.sum(residuals**2)
                dof=len(x_scatter)-len(coeffs)
                res_var = res_sum / dof
                se = np.sqrt(res_var)
                conf_upper = y_poly + 2 * se
                conf_lower = y_poly - 2 * se
                
                fig.add_trace(go.Scatter(x=df1[df1.columns[-2]][-63:-1], y=df1[df1.columns[-1]][-63:-1], \
                                         name='< 3 months', mode='markers',marker=dict(color='green')), \
                              row=1,col=1,secondary_y=False)
                fig.add_trace(go.Scatter(x=df1[df1.columns[-2]][-252:-63], y=df1[df1.columns[-1]][-252:-63], \
                                         name='> 3 months & < 1 year', mode='markers',marker=dict(color='blue')), \
                              row=1,col=1,secondary_y=False)
                fig.add_trace(go.Scatter(x=df1[df1.columns[-2]][:-252], y=df1[df1.columns[-1]][:-252], \
                                         name='> 1 year', mode='markers',marker=dict(color='gray')), \
                              row=1,col=1,secondary_y=False)
                
                fig.add_trace(go.Scatter(x=[df1[df1.columns[-2]].iloc[-1]], y=[df1[df1.columns[-1]].iloc[-1]], \
                                         name=f'Value as of {df1.index[-1].date()}', mode='markers',marker=dict(color='red',size=10),\
                                         showlegend=True), row=1,col=1,secondary_y=False)      
                fig.add_trace(go.Scatter(x=x_poly, y=y_poly, \
                                         name=f'Polynomial Fit<br>R² = {r2:.3f}<br>{equation_text}', \
                                         mode='lines', line=dict(color='orange'),
                                         showlegend=True), row=1,col=1,secondary_y=False) 
               
                fig.add_trace(go.Scatter(x=x_poly, y=conf_upper, \
                                         name='Upper Confidence Band', \
                                         mode='lines', line=dict(color='orange',dash='dash'),
                                         showlegend=True), row=1,col=1,secondary_y=False) 
                fig.add_trace(go.Scatter(x=x_poly, y=conf_lower, \
                                         name='Lower Confidence Band', fill='tonexty',\
                                         fillcolor='rgba(255,165,0,0.15)',
                                         mode='lines', line=dict(color='orange',dash='dash'),
                                         showlegend=True), row=1,col=1,secondary_y=False) 
                
                if ('FWD' in expr111) and not ('FWD' in expr211):
                    # display(f"Condition1")
                    plot_exp2 = [plot_exp2] * len(df1[df1.columns[-2]])
                    fig.add_trace(go.Scatter(x=df1[df1.columns[-2]], y=plot_exp2, mode='lines',\
                     line=dict(color='red',width=1),name = f'{expr211} on {df2.index[-1]} was {plot_exp2[0]}'), \
                      row=1,col=1,secondary_y=False)

                if ('FWD' in expr211) and not ('FWD' in expr111):
                    # display(f"Condition2")
                    plot_exp1 = [plot_exp1] * len(df1[df1.columns[-1]])
                    fig.add_trace(go.Scatter(x=plot_exp1, y=df1[df1.columns[-1]], mode='lines',\
                     line=dict(color='red',width=1), name = f'{expr111} on {df2.index[-1]} was {plot_exp1[0]}'), \
                      row=1,col=1,secondary_y=False)
                
                fig.add_trace(go.Scatter(x=df1.index, y=df1[df1.columns[-2]], name=expr111,\
                         line=dict(color='blue')), row=2,col=1,secondary_y=False)
                
                fig.add_trace(go.Scatter(x=[df1.index[0], df1.index[-1]], \
                 y=[df1[df1.columns[-2]][-1], df1[df1.columns[-2]][-1]], \
                 mode='lines', line=dict(dash='dash', color='blue'), \
                 name=f'Recent value of {expr111} is {df1[df1.columns[-2]][-1]}'),row=2,col=1,secondary_y=False)
                
                fig.add_trace(go.Scatter(x=df1.index, y=df1[df1.columns[-1]], \
                                     name=expr211, line=dict(color='green')),\
                                      row=2,col=1, secondary_y=True)
                
                fig.add_trace(go.Scatter(x=[df1.index[0], df1.index[-1]], \
                 y=[df1[df1.columns[-1]][-1], df1[df1.columns[-1]][-1]], \
                 mode='lines', line=dict(dash='dash', color='green'), \
                 name=f'Recent value of {expr211} is {df1[df1.columns[-1]][-1]}'),row=2,col=1, secondary_y=True)
                
                fig.update_layout(
                hovermode='x unified',
                plot_bgcolor='white',
                paper_bgcolor='white',
                legend=dict(orientation="h",yanchor="bottom",xanchor="center",x=0.5,y=1.05),
                height=1900,
                width=1100)

            else:
                fig = make_subplots(rows=1, cols=1, shared_xaxes=False, \
                                    vertical_spacing=0.1, subplot_titles=(f'{expr111}: {df1[df1.columns[-2]][-1]:.4f}'))
                
                fig.add_trace(go.Scatter(x=df1.index, y=df1[df1.columns[-2]], name=expr111,\
                         line=dict(color='blue')), row=1,col=1)
                
                fig.add_trace(go.Scatter(x=[df1.index[0], df1.index[-1]], \
                 y=[df1[df1.columns[-2]][-1], df1[df1.columns[-2]][-1]], \
                 mode='lines', line=dict(dash='dash', color='blue'), \
                 name=f'Recent value of {expr111} is {df1[df1.columns[-2]][-1]}'))

                fig.update_layout(
                yaxis=dict(zeroline=True, zerolinecolor='black'),
                hovermode='x unified',
                plot_bgcolor='white',
                paper_bgcolor='white',
                legend=dict(orientation="h",yanchor="bottom",xanchor="center",x=0.5,y=1.05),
                height=800,
                width=1100)

            def split_label(label,n):
                return '<br>'.join([label[i:i+n] for i in range(0,len(label),n)])

            label1 = split_label(expr111,38)
            label2 = split_label(expr211,38)
          
            if expression2:
                fig.update_xaxes(showline=True, linewidth=2, linecolor='black', mirror=True,\
                                 row=1,col=1,title=label1, showgrid=True, gridcolor='LightGrey',gridwidth=1)
                fig.update_yaxes(showline=True, linewidth=2, linecolor='black', mirror=True,\
                                 row=1,col=1, title=label2, secondary_y=False, showgrid=True, gridcolor='LightGrey',gridwidth=1)
                fig.update_xaxes(showline=True, linewidth=2, linecolor='black', mirror=True, \
                                 title='Date', row=2, col=1, showgrid=True, gridcolor='LightGrey',gridwidth=1)
                fig.update_yaxes(showline=True, linewidth=2, linecolor='black', mirror=True, \
                                 title=label1, side='left', row=2,col=1, secondary_y=False, \
                                 showgrid=True, gridcolor='LightGrey',gridwidth=1, title_font = dict(color='blue'))
                fig.update_yaxes(showline=True, linewidth=2, linecolor='black', mirror=True, \
                                 title=label2, side='right', row=2,col=1, secondary_y=True, title_font = dict(color='green'))
            else:
                fig.update_xaxes(showline=True, linewidth=2, linecolor='black', mirror=True, \
                                 title='Date', row=1, col=1, showgrid=True, gridcolor='LightGrey',gridwidth=1)
                fig.update_yaxes(showline=True, linewidth=2, linecolor='black', mirror=True, \
                                 title=label1, side='left', row=1,col=1, secondary_y=False, showgrid=True, gridcolor='LightGrey',gridwidth=1)
            fig.show()
        
        df1 = filter_df(df1, selected_values[-1]).copy() #Time goes here
        interact(update_plot(plot_exp1,plot_exp2,df1,df2))

submit_button.on_click(on_button_clicked)

def update_dropdowns(*args):
    selected_issuer = dropdown1.value
    if selected_issuer:
        for i in range(2, 14):
            dropdown = globals().get(f'dropdown{i}')
            if dropdown:
                if selected_issuer != 'All':
                    x = list([item.split(' ', 1)[1] for item in options if item.startswith(selected_issuer)]) + ['US 5Y','US 7Y','US 10Y']
                else:
                    x = options
                dropdown.options = x
        if selected_issuer in list(default_values_dict.keys()):
            globals().get(f'dropdown2').value = default_values_dict[selected_issuer][0]
            globals().get(f'dropdown3').value = default_values_dict[selected_issuer][1]

dropdown1.observe(update_dropdowns, names='value')
update_dropdowns()

VBox(children=(HBox(children=(Dropdown(description='Issuer', options=('All', 'AALLN', 'AEP', 'AES', 'AIFP', 'A…

Text(value='a', description='Horizontal Axis:')

Text(value='b', description='Vertical Axis:')

Button(description='Submit', style=ButtonStyle())

Output()